<div class="container-fluid">
  <!--Start Data Title-->
  <div class="data-title">
    <h2>Request For Quotations</h2>
  </div>
  <!--End Data Title-->
  <!--Start Bidding Detail Page-->
  <div class="bidding-detail">
    <!--Start Clock-->
    <!-- ! -->
    <div
      class="count-down-clock"
      [hidden]="rfqStatus == 'Awarded' || rfqStatus == 'Rejected'"
    >
      <h4>Remaining Time</h4>
      <div id="clockdiv">
        <div class="time day">
          <span class="days">00</span>
          <div class="smalltext">Days</div>
        </div>
        <div class="time hour">
          <span class="hours">00</span>
          <div class="smalltext">Hours</div>
        </div>
        <div class="time mins">
          <span class="minutes">00</span>
          <div class="smalltext">Minutes</div>
        </div>
        <div class="time secs">
          <span class="seconds">00</span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>
    <!--End Clock-->
    <!--Start Bid Form-->
    <div class="detail-list-holder">
      <div class="bid-form-holder">
        <div class="detail-form">
          <div class="sub-title">
            <h3>Bidding</h3>
          </div>
          <div class="row readonlyFields">
            <div class="col-md-4 form-group">
              <label class="control-label">RFQ ID </label>
              <input
                type="text"
                class="form-control custom-control"
                disabled
                [value]="currentItem.rfqid || empty"
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">RFQ Title </label>
              <input
                type="text"
                class="form-control custom-control"
                disabled
                [value]="currentItem.rfqTitle || empty"
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Expiration Date and Time </label>
              <input
                type="text"
                class="form-control custom-control"
                disabled
                [value]="currentItem.expirationDateAndTime || empty"
              />
            </div>
            <div class="col-md-8 form-group">
              <label class="control-label">Notes </label>
              <textarea class="form-control custom-control" disabled>
 {{ currentItem.notes || empty }} </textarea
              >
            </div>

            <div class="col-md-4 form-group">
              <label class="control-label">Currency </label>
              <input
                type="text"
                class="form-control custom-control"
                disabled
                [value]="currentItem.currency || empty"
              />
            </div>
            <div class="col-md-12 form-group">
              <label class="control-label">RFQ Documents </label>
              <div class="sp-doc">
                <ul
                  *ngFor="let item of currentItem.attachments"
                  [style.display]="item.docType != 'RFQPrintForm' ? 'none' : ''"
                  class="list-unstyled sp-doc-list col-md-12"
                >
                  <li class="col-md-12 col-sm-12">
                    <a (click)="downloadAttachment(item)">{{
                      item.filename
                    }}</a>
                  </li>
                </ul>
                <p
                  [hidden]="
                    showAttachError(currentItem.attachments, 'RFQPrintForm')
                  "
                >
                  No attachment available
                </p>
                <a class="attached">
                  <i class="icon-attachment"></i>
                </a>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <label class="control-label">Supporting Documents </label>
              <div class="sp-doc">
                <ul
                  *ngFor="let item of currentItem.attachments"
                  [style.display]="
                    item.docType != 'RFQSupportDoc' ? 'none' : ''
                  "
                  class="list-unstyled sp-doc-list col-md-12"
                >
                  <li class="col-md-12 col-sm-12">
                    <a (click)="downloadAttachment(item)">{{
                      item.filename
                    }}</a>
                  </li>
                </ul>
                <p
                  [hidden]="
                    showAttachError(currentItem.attachments, 'RFQSupportDoc')
                  "
                >
                  No attachment available
                </p>
                <a class="attached">
                  <i class="icon-attachment"></i>
                </a>
                <!-- <div class="inline" *ngIf="downloadAllHide">
                  <a (click)="downloadAllAttachment()" class="btn btn-sm btn-custom">Download All</a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="bid-form-holder pf-form">
            <div class="sub-title">
              <h3>Provide Financials</h3>
            </div>
            <div class="passcodeMsg" style="margin-top:0;">
              <label
                >All the bid value should be exclusive of VAT. System will auto
                calculate VAT based on vendor profile.</label
              >
            </div>
            <div class="table-list rfq-view">
              <table
                id="data-table"
                class="display"
                cellspacing="0"
                width="100%"
              ></table>
            </div>
          </div>

          <div class="totalAmount">
            <small>Subtotal Amount:</small>
            <strong
              >{{ currentItem.currency }}
              {{ setTwoNumberDecimal(currentItem.bidTotal, 2) }}</strong
            >
          </div>
          <div class="totalAmount">
            <small>VAT Amount:</small>
            <strong
              >{{ currentItem.currency }}
              {{ setTwoNumberDecimal(currentItem.vatAmount, 2) }}</strong
            >
          </div>
          <div class="totalAmount">
            <small>Net Amount:</small>
            <strong
              >{{ currentItem.currency }}
              {{ setTwoNumberDecimal(currentItem.netAmount, 2) }}</strong
            >
          </div>
          <div class="buttons-holder">
            <div class="row">
              <div class="col-md-6 col-sm-6 btns-left">
                <div class="dropdown-menu popup-detail rfa-questionnaire">
                  <a class="close-popup">Close</a>
                  <div class="bid-01">
                    <div class="clearfix rfq-header">
                      <h2>Decline Bid Questionnaire</h2>
                      <div class="bid-progress-holder">
                        <div class="bid-progress-title">
                          Question <strong>1</strong> of 2
                        </div>
                        <div class="progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="50"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            style="width: 50%;"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix bid-reason">
                      <small
                        >You need to specify the list of reasons to decline the
                        bid.</small
                      >
                      <strong
                        >Please provide the reason of not submitting bid</strong
                      >
                      <div class="option-holder">
                        <textarea
                          class="form-control custom-control"
                          placeholder="Add Reason"
                        ></textarea>
                      </div>
                    </div>
                    <div class="clearfix buttons-holder">
                      <div class="btn-left">
                        <input
                          type="button"
                          value="Show Note"
                          class="btn btn-custom"
                        />
                      </div>
                      <div class="btn-right">
                        <input
                          type="button"
                          value="Back"
                          class="btn btn-info"
                          disabled=""
                        />
                        <input
                          type="button"
                          value="Forward"
                          class="btn btn-info next-step"
                        />
                        <input
                          type="button"
                          value="End"
                          class="btn btn-info"
                          disabled=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="bid-02">
                    <div class="clearfix rfq-header">
                      <h2>Decline Bid Questionnaire</h2>
                      <div class="bid-progress-holder">
                        <div class="bid-progress-title">
                          Question <strong>2</strong> of 2
                        </div>
                        <div class="progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="100"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            style="width: 100%;"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix bid-reason">
                      <small>Please Specify!</small>
                      <strong>Reason of Declining the Bid</strong>
                      <div class="option-holder">
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optionsRadios"
                              id="yes"
                              value="option1"
                              checked=""
                            />
                            Yes
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input
                              type="radio"
                              name="optionsRadios"
                              id="no"
                              value="option2"
                            />
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix buttons-holder">
                      <div class="btn-left">
                        <input
                          type="button"
                          value="Show Note"
                          class="btn btn-custom"
                        />
                      </div>
                      <div class="btn-right">
                        <input
                          type="button"
                          value="Back"
                          class="btn btn-info prev-step"
                        />
                        <input
                          type="button"
                          value="Forward"
                          class="btn btn-info"
                          disabled=""
                        />
                        <button
                          class="btn btn-default end-step"
                          data-toggle="modal"
                          data-target="#decline"
                        >
                          End
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 btns-right">
                <button
                  (click)="cancel()"
                  class="btn btn-info"
                  data-placement="bottom"
                  data-toggle="tooltip"
                  tooltip="Close this form"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Bid Form-->
  </div>
  <!--End Bidding Detail Page-->
</div>
