
    .error{ color: #f00; }
    .dragarea{
        font-size: 24px;
        border: 1px solid #bbb; 
        padding: 20px ;
        /* background-color: yellow; */
        color: #bbb;
    }
    .droparea{
        font-size: 24px;
        border: 1px dashed rgb(95, 30, 30); 
        padding: 20px ;
        background-color: #ccc;
        color: #aaa;
    }


    #progressbar {
        background-color:lightgray;
        border: 1px solid; /* (height of inner div) / 2 + padding */
        padding: 0px;
        width: 250px;
        }
        
    #progressbar > div {
        background-color: darkslategray;
        width: 0%; /* Adjust with JavaScript */
        height: 8px;
    }