<div draggable="true" class="dropzone-file" ngClass="{{dragAreaClass}}" (click)="file.click()"> <strong data-toggle="tooltip" data-placement="bottom" title="Drag and Drop to add file.">Drag and Drop files here</strong>
  <span class="orText">or</span>
  <div class="upload-files"> <a class="btn btn-sm btn-custom" data-toggle="tooltip" data-placement="bottom" title="Browse and Select file .">Select Files</a>
      <input type="file"
              #file
              [multiple]="(maxFiles > 1)"
              (change)="onFileChange($event);"
              style="display:none" />
  </div><small>File Types: {{ fileExt }}</small>
</div>

<div class="add-attachment crossForProg" *ngFor="let upload of uploadProgressEvents">
<div id="progressbar" tooltip="{{upload.fileName}}">
   <span style="color: red;" *ngIf="upload.isFailed === true">{{upload.errorMessage}}</span>
   <div *ngIf="upload.isFailed === false" [style.width]="upload.progress + '%'" [ngClass]="upload.isCompleted ? 'completed': upload.isFailed ? 'progress-bar-danger': ''"><span>{{upload.progress}}%</span></div>
   <span class="crosslnk"><a (click)="cancelupload(upload.type)"><i class="glyphicon glyphicon-remove-circle"></i></a></span>
</div>
</div>

<div class="errorListAttach" *ngIf="filesData.length > 0">
  <ul style="list-style-type: none">
      <li *ngFor="let x of filesData; let i = index" class="col-md-12">
              <span  *ngIf="x.type == 1" class="alert alert-danger"  style="display: inline-block; width: 100%; margin:0">{{x.file}}</span>
              <span *ngIf="x.type == 1 && showRemoveBtn" (click)="remove(i)" style="cursor:pointer" class="btn btn-info">x</span>
      </li>
  </ul>
</div>
