<!--Start Data Title-->
<div class="data-title">
  <h2>
    Vendor Profile :
    <span class="data-value">{{
      profile.organizationDetail.vendorAccount
    }}</span>
  </h2>
  <!--<div class="data-actions data-btn-holder"> <a class="edit-button">Edit</a> </div>-->
</div>
<!--End Data Title-->

<!--Start List Details-->
<span class="alert alert-danger" *ngIf="serverMessage">{{
  serverMessage
}}</span>
<form
  (ngSubmit)="updateVendorProfile(vendorProfileForm.valid)"
  #vendorProfileForm="ngForm"
>
  <div class="form-list-detail readonlyFields">
    <div class="form-list-holder">
      <div class="detail-list-holder">
        <div class="main-title">
          <h2>General</h2>
        </div>
        <div class="detail-form">
          <div class="sub-title">
            <h3>Organizational Details</h3>
          </div>
          <div class="detail-form-holder">
            <div class="row">
              <div class="col-md-4 form-group">
                <label class="control-label">Vendor Account</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="vendorAccount"
                  [(ngModel)]="
                    profile.organizationDetail.vendorAccount || empty
                  "
                  readonly
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Name</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="name"
                  [(ngModel)]="profile.organizationDetail.name || empty"
                  readonly
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label required">{{
                  profile.organizationDetail.tradeLicenseNo === 1
                    ? "Passport No"
                    : "Trade License No"
                }}</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  required
                  maxlength="15"
                  name="tradeLicenseNo"
                  #tradeLicenseNo="ngModel"
                  [(ngModel)]="profile.organizationDetail.tradeLicenseNo"
                />
                <div
                  [hidden]="
                    tradeLicenseNo.valid ||
                    (tradeLicenseNo.pristine && !vendorProfileForm.submitted) ||
                    serverMessage
                  "
                  class="alert alert-danger"
                >
                  Trade license no is required
                </div>
              </div>
              <div class="col-md-4 form-group required">
                <label class="control-label required">Effective Date</label>
                <my-date-picker
                  (input)="typeEffectiveDateValidation = true"
                  class="form-control custom-control"
                  required
                  name="effectiveDate"
                  #effectiveDate="ngModel"
                  [options]="myDatePickerOptions"
                  [(ngModel)]="model1"
                  (dateChanged)="onEffectiveDateChanged($event)"
                ></my-date-picker>
                <div
                  [hidden]="
                    effectiveDate.valid ||
                    typeEffectiveDateValidation === true ||
                    (effectiveDate.pristine && !vendorProfileForm.submitted) ||
                    serverMessage
                  "
                  class="alert alert-danger"
                >
                  Effective date is required
                </div>
                <div
                  *ngIf="
                    typeEffectiveDateValidation === true && !effectiveDate.valid
                  "
                  class="alert alert-danger"
                >
                  Effective Date format should be '{{ datePickerSyntax }}'
                </div>

                <input
                  type="date"
                  style="display: none"
                  class="form-control custom-control"
                  name="effectiveDateHide"
                  [(ngModel)]="profile.organizationDetail.effectiveDate"
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label required">Expiration Date</label>
                <my-date-picker
                  (input)="typeExpiryeDateValidation = true"
                  class="form-control custom-control "
                  name="model2"
                  [options]="myDatePickerOptions"
                  [(ngModel)]="model2"
                  required
                  name="expirationDate"
                  #expirationDate="ngModel"
                  (dateChanged)="onExpirationDateChanged($event)"
                ></my-date-picker>
                <div
                  [hidden]="
                    expirationDate.valid ||
                    typeExpiryeDateValidation === true ||
                    (expirationDate.pristine && !vendorProfileForm.submitted) ||
                    serverMessage
                  "
                  class="alert alert-danger"
                >
                  Expiration date is required
                </div>
                <input
                  type="date"
                  style="display: none"
                  class="form-control custom-control"
                  name="expirationDateHide"
                  [(ngModel)]="profile.organizationDetail.expirationDate"
                />
                <input
                  type="date"
                  style="display: none"
                  class="form-control custom-control"
                  required
                  name="dateDiff"
                  #dateDiff="ngModel"
                  [(ngModel)]="dateDifference"
                />
                <div
                  *ngIf="dateDifference < 0 && vendorProfileForm.submitted"
                  class="alert alert-danger"
                >
                  Expiration date must be greater then effective date
                </div>
                <div
                  *ngIf="
                    typeExpiryeDateValidation === true && !expirationDate.valid
                  "
                  class="alert alert-danger"
                >
                  Expiration Date format should be '{{ datePickerSyntax }}'
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label required">Currency</label>
                <angular2-multiselect
                  required
                  name="currency"
                  #currency="ngModel"
                  [data]="currencies"
                  [(ngModel)]="selectedCurrency"
                  [settings]="currencySetting"
                  (onSelect)="onCurrencyChange($event)"
                ></angular2-multiselect>
                <div
                  [hidden]="
                    currency.valid ||
                    (currency.pristine && !vendorProfileForm.submitted) ||
                    serverMessage
                  "
                  class="alert alert-danger"
                >
                  Currency is required
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Country</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="countryRegionId"
                  [(ngModel)]="profile.organizationDetail.country || empty"
                  readonly
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">City</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="city"
                  [(ngModel)]="profile.organizationDetail.city || empty"
                  readonly
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">E-mail</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="email"
                  [(ngModel)]="profile.organizationDetail.email || empty"
                  readonly
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Telephone</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="telephone"
                  [(ngModel)]="profile.organizationDetail.telephone || empty"
                  readonly
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Fax</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="fax"
                  [(ngModel)]="profile.organizationDetail.fax || empty"
                  readonly
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Internet Address</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="internetAddress"
                  [(ngModel)]="
                    profile.organizationDetail.internetAddress || empty
                  "
                  readonly
                />
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Address</label>
                <!-- <textarea class="form-control custom-control" name="address" [(ngModel)]="profile.organizationDetail.address" readonly></textarea> -->
                <p class="">{{ profile.organizationDetail.address }}</p>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Company Name (Arabic)</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  name="arabicCompanyName"
                  [(ngModel)]="
                    profile.organizationDetail.arabicCompanyName || empty
                  "
                  readonly
                />
              </div>
              <div
                class="col-md-4 form-group"
                *ngIf="
                  profile.organizationDetail &&
                  profile.organizationDetail.organizationType === 2
                "
              >
                <label class="control-label">Company Register in DED</label>
                <div class="clearfix">
                  <div
                    class="styledRadio radio-inline"
                    *ngFor="
                      let op of lookups.companyOperateUAE;
                      let indx = index
                    "
                  >
                    <input
                      class="form-control custom-control"
                      *ngIf="op.name && op.value"
                      name="companyRegisteredinDED"
                      class="with-gap"
                      [checked]="
                        op.value ===
                        profile.organizationDetail.companyRegisteredinDED
                      "
                      type="radio"
                      [id]="indx + 1"
                      [value]="op.value"
                      [(ngModel)]="
                        profile.organizationDetail.companyRegisteredinDED
                      "
                    />
                    <label [for]="indx + 1"><span></span>{{ op.name }}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label"
                  >Years Company Operates in UAE</label
                >
                <input
                  type="text"
                  class="form-control custom-control yearsCompanyOperatesinUAE"
                  maxlength="15"
                  (input)="removeValidation()"
                  id="yearsCompanyOperatesinUAE"
                  name="yearsCompanyOperatesinUAE"
                  [(ngModel)]="
                    profile.organizationDetail.yearsCompanyOperatesinUAE
                  "
                />
                <div *ngIf="numberValidation" class="alert alert-danger">
                  year must be greater than zero
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Language Preference</label>
                <angular2-multiselect
                  name="languagePreference"
                  #languagePreference="ngModel"
                  [data]="languages"
                  [(ngModel)]="selectedLanguage"
                  [settings]="languageSetting"
                  (onSelect)="onLanguageChange($event)"
                ></angular2-multiselect>
              </div>
              <!-- <div class="col-md-4 form-group">
                                <label class="control-label required">Are you registered for UAE VAT ?</label>
                                <angular2-multiselect tabindex=0 required name="vat" #vat="ngModel" [data]="vats" [(ngModel)]="selectedVat" [settings]="VatSetting"
                                    (onSelect)="onVatSelect($event)">
                                </angular2-multiselect>
                                <div [hidden]="(vat.valid || (vat.pristine && !vendorProfileForm.submitted)) || serverMessage" class="alert alert-danger">VAT is required</div>
                            </div> -->
              <div
                class="col-md-4 form-group"
                *ngIf="profile.organizationDetail.vatRegistered === 'No'"
              >
                <label class="control-label vatType required" id="vatType"
                  >VAT Type</label
                >
                <div
                  class="styledRadio radio"
                  *ngFor="let op of vatTypes; let indx = index"
                >
                  <input
                    tabindex="0"
                    class="form-control custom-control"
                    *ngIf="op.name && op.value"
                    class="with-gap"
                    name="statusGroup"
                    [checked]="
                      op.value ===
                      profile.organizationDetail.vatNotRegisteredType
                    "
                    type="radio"
                    [id]="op.value"
                    [value]="op.value"
                    [(ngModel)]="
                      profile.organizationDetail.vatNotRegisteredType
                    "
                  />
                  <label [for]="op.value"> <span></span>{{ op.name }}</label>
                </div>
                <div
                  [hidden]="vatTypeValidation === false || serverMessage"
                  class="alert alert-danger"
                >
                  VAT Type is required
                </div>
              </div>
              <div
                class="col-md-4 form-group"
                *ngIf="profile.organizationDetail.vatRegistered === 'No'"
              >
                <label class="control-label required">VAT Reason</label>
                <input
                  type="text"
                  id="vatReason"
                  name="vatReason"
                  maxlength="255"
                  [(ngModel)]="profile.organizationDetail.vatReason"
                  class="form-control custom-control vatReason"
                />
                <div
                  [hidden]="vatReasonValidation === false || serverMessage"
                  class="alert alert-danger"
                >
                  VAT Reason is required
                </div>
              </div>
              <div
                id="vatNumber"
                class="col-md-4 form-group vatNumber"
                *ngIf="profile.organizationDetail.vatRegistered === 'Yes'"
              >
                <label class="control-label required">VAT Number</label>
                <input
                  type="text"
                  name="vatNumber"
                  maxlength="30"
                  [(ngModel)]="profile.organizationDetail.vatNumber"
                  class="form-control custom-control"
                />
                <div
                  [hidden]="vatNumberValidation === false || serverMessage"
                  class="alert alert-danger"
                >
                  VAT Number is required
                </div>
              </div>
              <div
                class="col-sm-12"
                *ngIf="
                  profile.organizationDetail.vatRegistered === 'No' ||
                  profile.organizationDetail.vatRegistered === 'Yes'
                "
              >
                <p class="passcodeMsg required">
                  <label class="required disclaimerLabel">Disclaimer: </label>
                </p>
                <div class="styledCheckbox checkbox">
                  <input
                    type="checkbox"
                    id="disclaimer"
                    class="disclaimer"
                    [checked]="
                      profile.organizationDetail.vatDisclaimer === 'Yes'
                    "
                    name="vatDisclamer"
                    #vatDisclamer
                    (change)="onChangeDisclaimer(vatDisclamer.checked)"
                  />
                  <label for="disclaimer">
                    <span tabindex="0"></span>
                    <i [innerHtml]="disclaimerText"></i>.</label
                  >
                  <div
                    [hidden]="
                      vatDisclaimerValidation === false || serverMessage
                    "
                    class="alert alert-danger"
                  >
                    VAT Disclaimer is required
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-list-holder">
        <form (ngSubmit)="addAddress(addressForm)" #addressForm="ngForm">
          <div class="main-title">
            <h2>Address</h2>
            <div class="edit-options" style="display: block;">
              <a
                class="custom-btn btn-add"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="true"
                (click)="toggleAddressPopup(true, addressForm)"
              >
                <i class="icon-add"></i>
                <span class="name">Add</span>
              </a>

              <div
                *ngIf="addressPoupFlag"
                class="dropdown-menu popup-detail add-address"
                style="display: block"
              >
                <a
                  class="close-popup"
                  (click)="toggleAddressPopup(false, addressForm)"
                  >Close</a
                >
                <div class="form-seprator">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label class="control-label required"
                        >Name or Description</label
                      >
                      <input
                        type="text"
                        class="form-control custom-control"
                        maxlength="120"
                        required
                        name="nameorDescription"
                        #nameorDescription="ngModel"
                        [(ngModel)]="vendorAddress.nameorDescription"
                        placeholder="Add description"
                      />
                      <div
                        [hidden]="
                          nameorDescription.valid ||
                          (nameorDescription.pristine &&
                            !addressForm.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        Name or description is required
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label class="control-label required">Purpose</label>
                      <angular2-multiselect
                        required
                        name="purpose"
                        #purpose="ngModel"
                        [data]="dropdownList"
                        [(ngModel)]="selectedItems"
                        [settings]="purposeSetting"
                        (onSelect)="onItemSelectAdd($event)"
                        (onDeSelect)="OnItemDeSelectAdd($event)"
                        (onSelectAll)="onSelectAllAdd($event)"
                        (onDeSelectAll)="onDeSelectAllAdd($event)"
                      ></angular2-multiselect>
                      <div
                        [hidden]="
                          purpose.valid ||
                          (purpose.pristine && !addressForm.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        Purpose is required
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label class="control-label required"
                        >Country/Region</label
                      >

                      <angular2-multiselect
                        required
                        name="countryRegion"
                        #countryRegion="ngModel"
                        [data]="countries"
                        [(ngModel)]="selectedCountry"
                        [settings]="countrySetting"
                        (onSelect)="onCountrySelect($event, '')"
                      ></angular2-multiselect>
                      <div
                        [hidden]="
                          countryRegion.valid ||
                          (countryRegion.pristine && !addressForm.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        Country/Region is required
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label class="control-label required">City</label>

                      <angular2-multiselect
                        required
                        name="cityN"
                        #cityN="ngModel"
                        [data]="cities"
                        [(ngModel)]="selectedCity"
                        [settings]="citySetting"
                        (onSelect)="onCitySelect($event, '')"
                      ></angular2-multiselect>
                      <div
                        [hidden]="
                          cityN.valid ||
                          (cityN.pristine && !addressForm.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        City is required
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label class="control-label required"
                        >Zip/Postal code</label
                      >
                      <input
                        type="text"
                        class="form-control custom-control"
                        maxlength="10"
                        required
                        name="zipPostalCode"
                        #zipPostalCode="ngModel"
                        [(ngModel)]="vendorAddress.zipPostalCode"
                        placeholder="Add Zip/Postal code"
                      />
                      <div
                        [hidden]="
                          zipPostalCode.valid ||
                          (zipPostalCode.pristine && !addressForm.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        Zip/Postal code is required
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="control-label required">Street</label>
                      <input
                        type="text"
                        class="form-control custom-control"
                        required
                        name="street"
                        #street="ngModel"
                        [(ngModel)]="vendorAddress.street"
                        placeholder="Add Street"
                        maxlength="200"
                      />
                      <div
                        [hidden]="
                          street.valid ||
                          (street.pristine && !addressForm.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        Street is required
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label class="control-label required">Street No.</label>
                      <input
                        type="text"
                        class="form-control custom-control"
                        maxlength="255"
                        required
                        name="streetNo"
                        #streetNo="ngModel"
                        [(ngModel)]="vendorAddress.streetNo"
                        placeholder="Add Street No."
                      />
                      <div
                        [hidden]="
                          streetNo.valid ||
                          (streetNo.pristine && !addressForm.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        Street no is required
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="control-label required">Building</label>
                      <input
                        type="text"
                        class="form-control custom-control"
                        required
                        maxlength="255"
                        name="building"
                        #building="ngModel"
                        [(ngModel)]="vendorAddress.building"
                        placeholder="Add Building"
                      />
                      <div
                        [hidden]="
                          building.valid ||
                          (building.pristine && !addressForm.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        Building is required
                      </div>
                    </div>

                    <div class="col-md-6 form-group primary-checkbox">
                      <label class="control-label">Primary</label>
                      <div class="styledCheckbox checkbox">
                        <input
                          type="checkbox"
                          id="addressprimary"
                          [checked]="vendorAddress.primary === 'Yes'"
                          name="AddressprimaryAdd"
                          #AddressprimaryAdd
                          (change)="
                            onChangeAddressPrimaryAdd(AddressprimaryAdd.checked)
                          "
                        />
                        <label for="addressprimary">
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btns-holder">
                  <input
                    type="button"
                    value="Cancel"
                    (click)="toggleAddressPopup(false, addressForm)"
                    class="btn btn-info"
                  />
                  <input
                    type="submit"
                    value="Save and Close"
                    class="btn btn-default"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="detail-form">
          <div class="detail-form-holder">
            <div class="table-list">
              <table
                id="data-table-Adress"
                class="display"
                cellspacing="0"
                width="100%"
              ></table>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-list-holder">
        <form (ngSubmit)="addContactInfo(ContactInfo)" #ContactInfo="ngForm">
          <div class="main-title">
            <h2>Contact Information</h2>
            <div class="edit-options" style="display: block;">
              <a
                class="custom-btn btn-add"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="true"
                (click)="toggleContactInfoPopup(true, ContactInfo)"
              >
                <i class="icon-add"></i>
                <span class="name">Add</span>
              </a>

              <div
                *ngIf="contactInformationPoupFlag"
                class="dropdown-menu popup-detail add-address"
                style="display: block"
              >
                <a
                  class="close-popup"
                  (click)="toggleContactInfoPopup(false, ContactInfo)"
                  >Close</a
                >
                <div class="form-seprator">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label class="control-label required">Description</label>
                      <input
                        type="text"
                        class="form-control custom-control"
                        maxlength="120"
                        required
                        name="description"
                        #description="ngModel"
                        [(ngModel)]="vendorContact.description"
                        placeholder="Add description"
                      />
                      <div
                        [hidden]="
                          description.valid ||
                          (description.pristine && !ContactInfo.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        Description is required
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label class="control-label required">Type</label>
                      <angular2-multiselect
                        required
                        name="type"
                        #type="ngModel"
                        [data]="logisticTypes"
                        [(ngModel)]="SelectedLogisticType"
                        [settings]="typeSetting"
                        (onSelect)="onLogisticTypeSelect($event, '')"
                      ></angular2-multiselect>
                      <div
                        [hidden]="
                          type.valid ||
                          (type.pristine && !ContactInfo.submitted) ||
                          serverMessage
                        "
                        class="alert alert-danger"
                      >
                        Type is required
                      </div>
                    </div>

                    <!-- start -->
                    <div
                      *ngIf="vendorContact.type == 'Phone'"
                      class="form-group col-md-6"
                    >
                      <label class="control-label required">Phone Number</label>
                      <input
                        #contactNumberAddress="ngModel"
                        maxlength="15"
                        pattern="^[0-9\+-]*$"
                        required
                        type="text"
                        class="form-control custom-control"
                        [(ngModel)]="vendorContact.contactNumberAddress"
                        name="contactNumberAddress"
                        placeholder="Phone Number"
                      />
                      <div
                        [hidden]="
                          !contactNumberAddress.hasError('required') ||
                          (contactNumberAddress.pristine &&
                            !ContactInfo.submitted)
                        "
                        class="alert alert-danger"
                      >
                        Phone Number is required
                      </div>
                      <div
                        [hidden]="
                          !contactNumberAddress.hasError('pattern') ||
                          (contactNumberAddress.pristine &&
                            !ContactInfo.submitted)
                        "
                        class="alert alert-danger"
                      >
                        Provide correct Phone Number
                      </div>
                    </div>
                    <div
                      *ngIf="vendorContact.type == 'Email'"
                      class="form-group col-md-6"
                    >
                      <label class="control-label required"
                        >Email Address</label
                      >
                      <input
                        #contactNumberAddress="ngModel"
                        maxlength="100"
                        required
                        type="text"
                        class="form-control custom-control"
                        [(ngModel)]="vendorContact.contactNumberAddress"
                        name="contactNumberAddress"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\[a-zA-Z]+)*(\.[a-zA-Z]{2,5})+$"
                        placeholder="Email Address"
                      />
                      <div
                        [hidden]="
                          !contactNumberAddress.hasError('required') ||
                          (contactNumberAddress.pristine &&
                            !ContactInfo.submitted)
                        "
                        class="alert alert-danger"
                      >
                        Email Address is required
                      </div>
                      <div
                        [hidden]="
                          !contactNumberAddress.hasError('pattern') ||
                          (contactNumberAddress.pristine &&
                            !ContactInfo.submitted)
                        "
                        class="alert alert-danger"
                      >
                        Provide correct Email Address
                      </div>
                    </div>
                    <div
                      *ngIf="vendorContact.type == 'URL'"
                      class="form-group col-md-6"
                    >
                      <label class="control-label required">URL</label>
                      <input
                        #contactNumberAddress="ngModel"
                        maxlength="255"
                        required
                        type="text"
                        class="form-control custom-control"
                        [(ngModel)]="vendorContact.contactNumberAddress"
                        pattern="((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$"
                        name="contactNumberAddress"
                        placeholder="URL"
                      />
                      <div
                        [hidden]="
                          !contactNumberAddress.hasError('required') ||
                          (contactNumberAddress.pristine &&
                            !ContactInfo.submitted)
                        "
                        class="alert alert-danger"
                      >
                        URL is required
                      </div>
                      <div
                        [hidden]="
                          !contactNumberAddress.hasError('pattern') ||
                          (contactNumberAddress.pristine &&
                            !ContactInfo.submitted)
                        "
                        class="alert alert-danger"
                      >
                        Provide correct URL
                      </div>
                    </div>
                    <div
                      *ngIf="vendorContact.type == 'Telex'"
                      class="form-group col-md-6"
                    >
                      <label class="control-label required">Telex</label>
                      <input
                        #contactNumberAddress="ngModel"
                        maxlength="25"
                        required
                        type="text"
                        class="form-control custom-control"
                        [(ngModel)]="vendorContact.contactNumberAddress"
                        name="contactNumberAddress"
                        placeholder="Telex"
                      />
                      <div
                        [hidden]="
                          contactNumberAddress.valid ||
                          (contactNumberAddress.pristine &&
                            !ContactInfo.submitted)
                        "
                        class="alert alert-danger"
                      >
                        Telex is required
                      </div>
                    </div>
                    <div
                      *ngIf="vendorContact.type == 'Fax'"
                      class="form-group col-md-6"
                    >
                      <label class="control-label required">Fax</label>
                      <input
                        #contactNumberAddress="ngModel"
                        maxlength="15"
                        pattern="^[0-9\+-]*$"
                        required
                        type="text"
                        class="form-control custom-control"
                        [(ngModel)]="vendorContact.contactNumberAddress"
                        name="contactNumberAddress"
                        placeholder="Fax"
                      />
                      <div
                        [hidden]="
                          !contactNumberAddress.hasError('required') ||
                          (contactNumberAddress.pristine &&
                            !ContactInfo.submitted)
                        "
                        class="alert alert-danger"
                      >
                        Fax is required
                      </div>
                      <div
                        [hidden]="
                          !contactNumberAddress.hasError('pattern') ||
                          (contactNumberAddress.pristine &&
                            !ContactInfo.submitted)
                        "
                        class="alert alert-danger"
                      >
                        Provide correct Fax
                      </div>
                    </div>
                    <!-- end -->

                    <div class="col-md-6 form-group primary-checkbox">
                      <label class="control-label">Primary</label>
                      <div class="styledCheckbox checkbox">
                        <input
                          type="checkbox"
                          id="vendorContactprimaryadd"
                          [checked]="vendorContact.primary === 'Yes'"
                          name="vendorContactprimaryAdd"
                          #vendorContactprimaryAdd
                          (change)="
                            onChangeContactPrimaryAdd(
                              vendorContactprimaryAdd.checked
                            )
                          "
                        />
                        <label for="vendorContactprimaryadd">
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btns-holder">
                  <input
                    type="button"
                    (click)="toggleContactInfoPopup(false, ContactInfo)"
                    value="Cancel"
                    class="btn btn-primary"
                  />
                  <input
                    type="submit"
                    value="Save and Close"
                    class="btn btn-default"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="detail-form">
          <div class="detail-form-holder">
            <div class="table-list">
              <table
                id="data-table-ContactInfo"
                class="display"
                cellspacing="0"
                width="100%"
              ></table>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-list-holder">
        <div class="main-title">
          <h2>Attachments</h2>
          <div class="edit-options" style="display: block;">
            <a
              class="custom-btn attachment-btn"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="true"
              (click)="toggleAttachmentPopup('block')"
            >
              <i class="icon-attachment"></i>
              <span class="name">Add Attachment</span>
            </a>

            <div
              [style.display]="AttachmentsPopupFlag"
              class="dropdown-menu popup-detail add-attachment"
            >
              <a class="close-popup" (click)="toggleAttachmentPopup('none')"
                >Close</a
              >
              <div class="form-group">
                <label class="control-label required">Type</label>
                <angular2-multiselect
                  name="selectedUploadMetaN"
                  #selectedUploadMetaN="ngModel"
                  [data]="uploadMeta"
                  [(ngModel)]="selectedUploadMeta"
                  [settings]="typeSetting"
                  (onSelect)="onAttachmentMetaChange($event)"
                ></angular2-multiselect>
              </div>

              <app-ngx-custom-upload
                #ngxCustomUploadOne
                projectId="100"
                sectionId="107"
                maxFiles="100"
                maxSize="10000"
                overAllSize="10000"
                fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
                (uploadStatus)="uploaderStatus($event)"
                (deleteDocument)="deleteDocument($event)"
              ></app-ngx-custom-upload>
            </div>
          </div>
        </div>
        <div class="detail-form">
          <div class="detail-form-holder">
            <div class="table-list">
              <table
                id="data-table-Attachment"
                class="display"
                cellspacing="0"
                width="100%"
              ></table>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-list-holder">
        <div class="main-title">
          <h2>Category Information</h2>
        </div>
        <div class="detail-form">
          <div class="detail-form-holder">
            <div class="table-list">
              <table
                id="data-table-CategoryInfo"
                class="display"
                cellspacing="0"
                width="100%"
              ></table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-list-buttons">
      <input
        type="button"
        (click)="redirectback()"
        value="Close"
        class="btn btn-info"
      />
      <input type="submit" value="Save and Close" class="btn btn-default" />
    </div>
  </div>
  <!--End List Details-->
  <!--Start Footer-->
</form>

<!--  Edit popups -->
<div
  [style.display]="addressPoupFlagEdit"
  class="dropdown-menu popup-detail add-address"
  style="display:inline; position: absolute"
  [style.left]="left"
  [style.top]="top"
>
  <a class="close-popup" (click)="toggleAddressPopupEdit('none')">Close</a>
  <form
    (ngSubmit)="addAddressEdit(addAddressEditForm.valid)"
    #addAddressEditForm="ngForm"
  >
    <div class="form-seprator">
      <div class="row">
        <div class="form-group col-md-6">
          <label class="control-label required">Name or Description</label>
          <input
            type="text"
            class="form-control custom-control"
            maxlength="120"
            required
            name="nameorDescription"
            #nameorDescription="ngModel"
            [(ngModel)]="vendorAddressEdit.nameorDescription"
            placeholder="Add description"
          />
          <div
            [hidden]="
              nameorDescription.valid ||
              (nameorDescription.pristine && !addAddressEditForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Name or description is required
          </div>
        </div>

        <div class="form-group col-md-6">
          <label class="control-label required">Purpose</label>
          <angular2-multiselect
            required
            name="purpose"
            #purpose="ngModel"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [settings]="purposeSetting"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)"
          ></angular2-multiselect>
          <div
            [hidden]="
              purpose.valid ||
              (purpose.pristine && !addAddressEditForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Purpose is required
          </div>
        </div>

        <div class="form-group col-md-6">
          <label class="control-label required">Country/Region</label>

          <angular2-multiselect
            required
            name="countryRegion2"
            #countryRegion2="ngModel"
            [data]="countries"
            [(ngModel)]="selectedCountry"
            [settings]="countrySetting"
            (onSelect)="onCountrySelect($event, 'edit')"
          ></angular2-multiselect>
          <div
            [hidden]="
              countryRegion2.valid ||
              (countryRegion2.pristine && !addAddressEditForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Country/Region is required
          </div>
        </div>

        <div class="form-group col-md-6">
          <label class="control-label required">City</label>

          <angular2-multiselect
            required
            name="cityN2"
            #cityN2="ngModel"
            [data]="cities"
            [(ngModel)]="selectedCity"
            [settings]="citySetting"
            (onSelect)="onCitySelect($event, 'edit')"
          ></angular2-multiselect>
          <div
            [hidden]="
              cityN2.valid ||
              (cityN2.pristine && !addAddressEditForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            City is required
          </div>
        </div>

        <div class="form-group col-md-6">
          <label class="control-label required">Zip/Postal code</label>
          <input
            type="text"
            class="form-control custom-control"
            required
            maxlength="10"
            name="zipPostalCodeEdit"
            #zipPostalCodeEdit="ngModel"
            [(ngModel)]="vendorAddressEdit.zipPostalCode"
            placeholder="Add Zip/Postal code"
          />
          <div
            [hidden]="
              zipPostalCodeEdit.valid ||
              (zipPostalCodeEdit.pristine && !addAddressEditForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Zip/Postal code is required
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label required">Street</label>
          <input
            type="text"
            class="form-control custom-control"
            required
            maxlength="200"
            name="street"
            #street="ngModel"
            [(ngModel)]="vendorAddressEdit.street"
            placeholder="Add Street"
          />
          <div
            [hidden]="
              street.valid ||
              (street.pristine && !addAddressEditForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Street is required
          </div>
        </div>

        <div class="form-group col-md-6">
          <label class="control-label required">Street No.</label>
          <input
            type="text"
            class="form-control custom-control"
            maxlength="255"
            required
            name="streetNo"
            #streetNo="ngModel"
            [(ngModel)]="vendorAddressEdit.streetNo"
            placeholder="Add Street No."
          />
          <div
            [hidden]="
              streetNo.valid ||
              (streetNo.pristine && !addAddressEditForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Street no is required
          </div>
        </div>

        <div class="form-group col-md-6">
          <label class="control-label required">Building</label>
          <input
            type="text"
            class="form-control custom-control"
            maxlength="255"
            required
            name="building"
            #building="ngModel"
            [(ngModel)]="vendorAddressEdit.building"
            placeholder="Add Building"
          />
          <div
            [hidden]="
              building.valid ||
              (building.pristine && !addAddressEditForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Building is required
          </div>
        </div>

        <div class="col-md-6 form-group primary-checkbox">
          <label class="control-label">Primary</label>
          <div class="styledCheckbox checkbox">
            <input
              type="checkbox"
              id="addressprimary"
              [checked]="vendorAddressEdit.primary === 'Yes'"
              [disabled]="
                vendorAddressEdit.primary === 'Yes' &&
                canMarkPrimayAddress === false
              "
              name="Addressprimary"
              #Addressprimary
              (change)="onChangeAddressPrimary(Addressprimary.checked)"
            />
            <label for="addressprimary">
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="btns-holder">
      <input
        type="button"
        (click)="toggleAddressPopupEdit('none')"
        value="Cancel"
        class="btn btn-primary"
      />
      <input
        type="submit"
        [disabled]="addAddressEditForm.dirty === false"
        value="Save and Close"
        class="btn btn-default"
      />
    </div>
  </form>
</div>

<div
  [style.display]="contactInformationPoupFlagEdit"
  class="dropdown-menu popup-detail add-address"
  style="display:inline; position: absolute"
  [style.left]="left"
  [style.top]="top"
>
  <a class="close-popup" (click)="toggleContactInfoPopupEdit('none')">Close</a>
  <form
    (ngSubmit)="editContactInfo(ContactInfoEdit.valid)"
    #ContactInfoEdit="ngForm"
  >
    <div class="form-seprator">
      <div class="row">
        <div class="form-group col-md-6">
          <label class="control-label required">Description</label>
          <input
            type="text"
            class="form-control custom-control"
            maxlength="120"
            required
            name="description"
            #description="ngModel"
            [(ngModel)]="vendorContactEdit.description"
            placeholder="Add description"
          />
          <div
            [hidden]="
              description.valid ||
              (description.pristine && !ContactInfoEdit.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Description is required
          </div>
        </div>

        <div class="form-group col-md-6">
          <label class="control-label required">Type</label>
          <angular2-multiselect
            required
            name="type2"
            #type2="ngModel"
            [data]="logisticTypes"
            [(ngModel)]="SelectedLogisticType"
            [settings]="logisticTypeSetting"
            (onSelect)="onLogisticTypeSelect($event, 'edit')"
          ></angular2-multiselect>
          <div
            [hidden]="
              type2.valid ||
              (type2.pristine && !ContactInfoEdit.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Type is required
          </div>
        </div>
        <!-- start -->
        <div
          *ngIf="vendorContactEdit.type == 'Phone'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Phone Number</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="15"
            pattern="^[0-9\+-]*$"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="vendorContactEdit.contactNumberAddress"
            name="contactNumberAddress"
            placeholder="Phone Number"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !ContactInfoEdit.submitted)
            "
            class="alert alert-danger"
          >
            Phone Number is required
          </div>
          <div
            [hidden]="
              !contactNumberAddress.hasError('pattern') ||
              (contactNumberAddress.pristine && !ContactInfoEdit.submitted)
            "
            class="alert alert-danger"
          >
            Provide correct Phone Number
          </div>
        </div>
        <div
          *ngIf="vendorContactEdit.type == 'Email'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Email Address</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="100"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="vendorContactEdit.contactNumberAddress"
            name="contactNumberAddress"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\[a-zA-Z]+)*(\.[a-zA-Z]{2,5})+$"
            placeholder="Email Address"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !ContactInfoEdit.submitted)
            "
            class="alert alert-danger"
          >
            Email Address is required
          </div>
          <div
            [hidden]="
              !contactNumberAddress.hasError('pattern') ||
              (contactNumberAddress.pristine && !ContactInfoEdit.submitted)
            "
            class="alert alert-danger"
          >
            Provide correct Email Address
          </div>
        </div>
        <div
          *ngIf="vendorContactEdit.type == 'URL'"
          class="form-group col-md-6"
        >
          <label class="control-label required">URL</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="255"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="vendorContactEdit.contactNumberAddress"
            pattern="((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$"
            name="contactNumberAddress"
            placeholder="URL"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !ContactInfoEdit.submitted)
            "
            class="alert alert-danger"
          >
            URL is required
          </div>
          <div
            [hidden]="
              !contactNumberAddress.hasError('pattern') ||
              (contactNumberAddress.pristine && !ContactInfoEdit.submitted)
            "
            class="alert alert-danger"
          >
            Provide correct URL
          </div>
        </div>
        <div
          *ngIf="vendorContactEdit.type == 'Telex'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Telex</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="25"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="vendorContactEdit.contactNumberAddress"
            name="contactNumberAddress"
            placeholder="Telex"
          />
          <div
            [hidden]="
              contactNumberAddress.valid ||
              (contactNumberAddress.pristine && !ContactInfoEdit.submitted)
            "
            class="alert alert-danger"
          >
            Telex is required
          </div>
        </div>
        <div
          *ngIf="vendorContactEdit.type == 'Fax'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Fax</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="15"
            pattern="^[0-9\+-]*$"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="vendorContactEdit.contactNumberAddress"
            name="contactNumberAddress"
            placeholder="Fax"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !ContactInfoEdit.submitted)
            "
            class="alert alert-danger"
          >
            Fax is required
          </div>
          <div
            [hidden]="
              !contactNumberAddress.hasError('pattern') ||
              (contactNumberAddress.pristine && !ContactInfoEdit.submitted)
            "
            class="alert alert-danger"
          >
            Provide correct Fax
          </div>
        </div>
        <!-- end -->

        <div class="col-md-6 form-group primary-checkbox">
          <label class="control-label">Primary</label>
          <div class="styledCheckbox checkbox">
            <input
              type="checkbox"
              id="vendorContactprimary"
              [checked]="vendorContactEdit.primary === 'Yes'"
              name="vendorContactprimary"
              #vendorContactprimary
              (change)="onChangeContactPrimary(vendorContactprimary.checked)"
            />
            <label for="vendorContactprimary">
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="btns-holder">
      <input
        type="button"
        [disabled]="vendorProfileBtnDisable"
        (click)="toggleContactInfoPopupEdit('none')"
        value="Cancel"
        class="btn btn-info"
      />
      <input
        type="submit"
        [disabled]="ContactInfoEdit.dirty === false"
        value="Save and Close"
        class="btn btn-default"
      />
    </div>
  </form>
</div>
