<form
  (ngSubmit)="companyAddress(companyAddressForm)"
  #companyAddressForm="ngForm"
>
  <div class="formWrapper">
    <span class="alert alert-danger" *ngIf="serverMessage"
      >{{ serverMessage }}
    </span>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Country/Region</label>
        <angular2-multiselect
          class="form-control custom-selectbox"
          tabindex="0"
          required
          name="country"
          #country="ngModel"
          [data]="countries"
          [(ngModel)]="selectedCountry"
          [settings]="countrySetting"
          (onSelect)="onCountrySelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="
            country.valid ||
            (country.pristine && !companyAddressForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          Country is required
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label class="required">City</label>
        <angular2-multiselect
          class="form-control custom-selectbox"
          tabindex="0"
          required
          name="city"
          #city="ngModel"
          [data]="cities"
          [(ngModel)]="selectedCity"
          [settings]="citySetting"
          (onSelect)="onCitySelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="
            city.valid ||
            (city.pristine && !companyAddressForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          City is required
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Street</label>
        <input
          type="text"
          name="street"
          maxlength="30"
          required
          #street="ngModel"
          [(ngModel)]="form.street"
          noWhitespaceAllowed
          placeholder="Enter Street"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (street.errors || street?.errors?.whitespace) &&
            companyAddressForm.submitted
          "
        >
          Street is required
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-sm-6 col-xs-12 btns-left">
        <button type="button" class="btn btn-info" (click)="gotoPrevious()">
          Previous
        </button>
      </div>
      <div class="col-sm-6 col-xs-12 text-right">
        <button
          type="button"
          class="btn btn-info"
          (click)="redirectToLoginScreen()"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-default">Next</button>
      </div>
    </div>
  </div>
</form>
