<div class="wrapper login-page">
  <div class="main-content">
    <div class="login-container">
      <div class="loginbox-top">
        <div class="loginbox-holder login-info">
          <div class="login-info-text">
            <h6>Procurement Portal</h6>
            <h2 class="custom-heading">
              <strong>Welcome to </strong>
              {{ appInitial.appName }}
            </h2>
            <p class="custom-heading">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,
            </p>
            <ul>
              <li>
                <span>
                  <i class="custom-icon-supplier"></i>
                  <a href="#">
                    Supplier Help Guides
                    <i class="fa fa-angle-right"></i>
                  </a>
                </span>
              </li>
              <li>
                <span>
                  <i class="custom-icon-phone"></i>
                  <a href="tel:+971 4318 9211">
                    +971 4318 9211
                  </a>
                </span>
              </li>
              <li>
                <span>
                  <i class="custom-icon-email"></i>
                  <a href="mailto:E-SourcingPortal@systemsltd.com">
                    E-SourcingPortal@systemsltd.com
                  </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="loginbox-holder login-screen">
          <div class="login-screen-holder">
            <h2 class="custom-heading">Change Password</h2>
            <p>Enter a new password for this account.</p>
            <div class="alert alert-danger" *ngIf="serverMessage">
              {{ serverMessage }}
            </div>
            <form
              (ngSubmit)="resetPassword(resetForm.valid)"
              #resetForm="ngForm"
            >
              <div class="form-holder">
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    minLength="12"
                    maxlength="20"
                    placeholder="New password"
                    name="newPassword"
                    required
                    [(ngModel)]="input.newPassword"
                    #newPassword="ngModel"
                  />
                  <div
                    [hidden]="
                      newPassword.valid ||
                      (newPassword.pristine && !resetForm.submitted) ||
                      serverMessage
                    "
                    class="alert alert-danger"
                  >
                    New password is required
                  </div>
                  <div [hidden]="checkPassLength" class="alert alert-danger">
                    Password should be atleast 12 characters long
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    minLength="12"
                    maxlength="20"
                    placeholder="Confirm password"
                    name="confirmPassword"
                    required
                    [(ngModel)]="input.confirmPassword"
                    #confirmPassword="ngModel"
                  />
                  <div
                    [hidden]="
                      confirmPassword.valid ||
                      (confirmPassword.pristine && !resetForm.submitted) ||
                      serverMessage
                    "
                    class="alert alert-danger"
                  >
                    Confirm password is required
                  </div>
                  <div
                    [hidden]="!confirmPassword.valid || !newPassword.valid"
                    *ngIf="
                      input.newPassword != input.confirmPassword &&
                      resetForm.submitted
                    "
                    class="alert alert-danger"
                  >
                    New and confirm password should match
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="submit"
                    class="btn btn-default btn-block"
                    value="Save"
                    data-placement="bottom"
                    data-toggle="tooltip"
                    tooltip="Save Password"
                  />
                </div>
              </div>
              <div class="row bottom-links"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="login-footer">
        <p>©2020 Systems Limited. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
