<!--Start Breadcrumbs-->
<ul class="list-unstyled breadcrumb">
  <li>
    <a>Home</a>
  </li>
  <li>
    <a>Request for quotation</a>
  </li>
  <li class="active">Bidding</li>
</ul>
<!--End Breadcrumbs-->

<div class="bidding-detail">
  <!--Start Clock-->
  <div class="count-down-clock">
    <h4>Remaining Time</h4>
    <div id="clockdiv">
      <div class="time day">
        <span class="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div class="time hour">
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div class="time mins">
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div class="time secs">
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
  </div>
  <!--End Clock-->

  <!--Start Bid Form-->
  <div class="detail-list-holder">
    <div class="bid-form-holder">
      <div class="inner-title">
        <h2>Bidding</h2>
        <div class="data-action">
          <a class="print">Print</a>
        </div>
      </div>
      <div class="detail-form">
        <div class="row">
          <div class="col-md-3 form-group">
            <label class="control-label">RFQ ID :</label>
            <input
              type="text"
              class="form-control custom-control"
              placeholder="DGW/2017/0101"
            />
          </div>
          <div class="col-md-6 form-group">
            <label class="control-label">RFQ Title :</label>
            <input
              type="text"
              class="form-control custom-control"
              placeholder="DGW/2017/0101"
            />
          </div>
          <div class="col-md-3 form-group">
            <label class="control-label">Expiration Date and Time :</label>
            <input
              type="text"
              class="form-control custom-control"
              placeholder="DGW/2017/0101"
            />
          </div>
          <div class="col-md-12 form-group">
            <label class="control-label">Notes :</label>
            <textarea class="form-control custom-control">
 Quality Delivery should not be Compromised </textarea
            >
          </div>
          <div class="col-md-9 form-group">
            <label class="control-label">Supporting Documents :</label>
            <div class="sp-doc">
              <ul class="list-unstyled sp-doc-list">
                <li>
                  <a>Details of Project 1v.xls</a>
                </li>
                <li>
                  <a>Details of Project 2c.doc</a>
                </li>
              </ul>
              <a class="attached">
                <i class="icon-attached"></i>
              </a>
              <a class="btn btn-sm btn-custom">Select Files</a>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label class="control-label">Currency :</label>
            <input
              type="text"
              class="form-control custom-control"
              placeholder="AED"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="bid-form-holder pf-form">
      <div class="inner-title">
        <h2>Provide Financials</h2>
      </div>
      <div class="detail-form">
        <div class="table-list bid-table">
          <table id="data-table" class="display" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Item/Service</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Unit</th>
                <th class="text-center">Unit Price</th>
                <th class="text-center">Discount Amount</th>
                <th class="text-center">Discount Percentage %</th>
                <th class="text-center">Line Ammount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Designing</td>
                <td class="text-center">5</td>
                <td class="text-center">Days</td>
                <td class="text-center">550</td>
                <td class="text-center">---</td>
                <td class="text-center">10</td>
                <td class="text-center">2,475</td>
              </tr>
              <tr>
                <td>Designing</td>
                <td class="text-center">5</td>
                <td class="text-center">Days</td>
                <td class="text-center">550</td>
                <td class="text-center">---</td>
                <td class="text-center">10</td>
                <td class="text-center">2,475</td>
              </tr>
              <tr>
                <td>Designing</td>
                <td class="text-center">5</td>
                <td class="text-center">Days</td>
                <td class="text-center">550</td>
                <td class="text-center">---</td>
                <td class="text-center">10</td>
                <td class="text-center">2,475</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="dropzone-holder">
          <div class="row">
            <div class="col-md-6 dropzone-box">
              <label class="control-label required">Technical Proposal</label>
              <div class="dropzone-file">
                <strong>Drop files here</strong><span class="orText">or</span>
                <div class="upload-files">
                  <a class="btn btn-sm btn-custom">Select Files</a>
                  <input multiple="" type="file" class="form-control" />
                </div>
                <small>File Types: xls,docx, jpeg, png, gif, pdf</small>
              </div>
              <div class="sp-doc upload-lists">
                <ul class="list-unstyled sp-doc-list">
                  <li>
                    <a>Details of Project 1v.xls</a>
                    <button class="go-remove">X</button>
                  </li>
                  <li>
                    <a>Details of Project 2c.doc</a>
                    <button class="go-remove">X</button>
                  </li>
                </ul>
                <a class="attached">
                  <i class="icon-attached"></i>
                </a>
              </div>
            </div>
            <div class="col-md-6 dropzone-box">
              <label class="control-label required">Financial Proposal </label>
              <div class="dropzone-file">
                <strong>Drag and Drop files here</strong>
                <span class="orText">or</span>
                <div class="upload-files">
                  <a class="btn btn-sm btn-custom">Select Files</a>
                  <input multiple="" type="file" class="form-control" />
                </div>
                <small>File Types: xls,docx, jpeg, png, gif, pdf</small>
              </div>
              <div class="sp-doc upload-lists">
                <ul class="list-unstyled sp-doc-list">
                  <li>
                    <a>Details of Project 1v.xls</a>
                    <button class="go-remove">X</button>
                  </li>
                  <li>
                    <a>Details of Project 2c.doc</a>
                    <button class="go-remove">X</button>
                  </li>
                </ul>
                <a class="attached">
                  <i class="icon-attached"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="totalAmount">
          <small>Net Amount:</small>
          <strong>AED 21,387</strong>
        </div>
        <div class="buttons-holder">
          <div class="row">
            <div class="col-md-6 btns-left">
              <button class="btn btn-info">Decline</button>
              <button class="btn btn-info">Close</button>
            </div>
            <div class="col-md-6 btns-right">
              <button class="btn btn-info">Save &amp; Close</button>
              <button class="btn btn-default">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Bid Form-->
</div>
