<div class="need-assist">
  <div class="custom-heading">
    <h3>Need Assistance?</h3>
  </div>
  <div class="assist-info">
    <p>Please contact our eSourcing Helpdesk:</p>
    <ul class="list-unstyled help-info">
      <li class="call">
        <a href="tel:{{ companyData.phone }}">{{ companyData.phone }}</a>
      </li>
      <li class="email">
        <a
          href="mailto:{{ companyData.email }}"
          data-placement="bottom"
          data-toggle="tooltip"
          tooltip="Email us"
          >{{ companyData.email }}</a
        >
      </li>
    </ul>
  </div>
</div>
