<div class="col-md-6 dashboard-chart-box">
  <div class="dashboard-chart-box-holder">
    <div class="custom-heading">
      <h3>Requests For Quotations</h3>
    </div>
    <div class="chart-holder">
      <div
        [chart]="chart"
        id="chart01"
        style="width: 100%; height: 305px; margin: 0 auto"
      ></div>
    </div>
    <div class="chart-btns">
      <input
        type="button"
        value="RFQ List"
        class="btn btn-info"
        (click)="redirect()"
        data-placement="bottom"
        data-toggle="tooltip"
        tooltip="Open a list view of all RFQs of all statuses"
      />
      <input
        (click)="bidSubmit()"
        type="button"
        value="Submit Bid"
        class="btn btn-default"
        data-placement="bottom"
        data-toggle="tooltip"
        tooltip="Submit Bid"
      />
    </div>
  </div>
</div>
