<!--Start Data Title-->
<div class="data-title">
  <h2>Blanket Agreement: <span class="data-value">{{model.purchaseOrder}}, {{model.documentTitle}}</span></h2>
  <div class="data-actions data-btn-holder">
    <a [routerLink]="['/vp/invoices']" [queryParams]="{ filter: 'PurchId=' + model.purchaseOrder }" title="View attached invoice"
      class="custom-btn invoice-button active">
      <i class="icon-vendor-invoice"></i>
      <span class="name">Invoice Details</span>
    </a>
  </div>
</div>
<!--End Data Title-->
<!--Start List Details-->
<div class="form-list-detail">
  <div class="detail-list-holder">
    <div class="main-title">
      <h2>Contract</h2>
    </div>
    <div class="detail-form">
      <div class="detail-form-holder">
        <div class="row">
          <div class="col-md-4 form-group">
            <label class="control-label">Contract Id</label>
            <input type="text" class="form-control custom-control" placeholder="{{model.purchaseOrder}}" readonly> </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Start Date</label>
            <input type="text" class="form-control custom-control" placeholder="{{model.startDate}}" readonly> </div>
          <div class="col-md-4 form-group">
            <label class="control-label">End Date</label>
            <input type="text" class="form-control custom-control" placeholder="{{model.endDate}}" readonly> </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Document Title</label>
            <input type="text" class="form-control custom-control" placeholder="{{model.documentTitle}}" readonly> </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Status</label>
            <input type="text" class="form-control custom-control" placeholder="{{model.status}}" readonly> </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Currency</label>
            <input type="text" class="form-control custom-control" placeholder="{{model.currency}}" readonly> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-list-holder">
    <div class="main-title">
      <h2>Lines</h2>
    </div>
    <div class="detail-form">
      <div class="detail-form-holder">
        <div class="table-list">
          <table id="data-table" class="display" cellspacing="0" width="100%">
          </table>
        </div>
        <div class="totalAmount">
          <small>Total:</small>
          <strong> {{model.total}}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-list-holder">
    <div class="main-title">
      <h2>Attachment</h2>
    </div>
    <div class="detail-form">
      <div class="detail-form-holder">
        <div *ngFor="let item of model.attachments" class="row repeater-row">
          <div class="col-md-8 form-group">
            <label class="control-label">Name</label>
            <a title="View attached file" (click)="downloadAttachment(item)" class="btn btn-link btn-attached">{{item.name}}</a>
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Type</label>
            <input type="text" class="form-control custom-control" placeholder="{{item.docType}}" readonly> </div>
        </div>
        <div *ngIf="model.attachments.length <= 0">
          <label class="control-label">No attachment available </label>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-list-buttons">
    <a (click)="getBackLink()" value="Close" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" tooltip="Close this form">Close</a>
  </div>
</div>
<!--End List Details-->
