.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    position: absolute;
    width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;
}

.progress-bar.indeterminate {
    height:10px;
    position: relative;
    animation: progress-indeterminate 0.5s linear infinite;
}
  
@keyframes progress-indeterminate {
    from { left: -25%; width: 50%; }
    to { left: 100%; width: 50%;}
}