<div [class.loader-hidden]="!show">
  <div class="loader-overlay">
      <div>
          <div class="progress" style="position: relative; height:5px;">
              <div class="progress-bar progress-bar-striped indeterminate">
              </div>
          </div>
      </div>
  </div>
</div>