.red {
  background-color: red !important;
}

.lightRed{
    background-color: rgb(235, 182, 166) !important;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
-moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
-ms-box-sizing: inherit;
  box-sizing: inherit;
}
.plain-select  {
  display:inline-block;
  vertical-align:middle;
  position:relative;
  width:100%;
}
.plain-select select {
  line-height:normal;
  height:38px;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  border-radius:6px;
  display:block;
  width:100%;
  border:1px solid #c8c8c8;
  color:#9f9f9f;
  padding:8px 20px 7px 10px;
  margin:0;
  line-height:normal;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}

/*label{display:block}*/
/*input:focus {
  color: red;
}*/

li:focus {
  color: red;
}