<!--Start Data Title-->
<div class="col-xs-12" *ngIf="addUrl != '' && addUrl != undefined && addUrl != '/vp/invoices/create' && addUrl != '/vp/contacts/add'">
  <div class="alert alert-warning" role="alert">
      <h4 class="formHeading">{{ addUrl }}</h4>
  </div>
</div>

<div class="data-title">
  <h2>{{title}}</h2>
  <!-- data-placement="bottom" data-toggle="tooltip" tooltip="Add {{title}}" -->
  <div *ngIf="addUrl != '' && addUrl != undefined && addUrl == '/vp/invoices/create'" class="data-actions data-btn-holder">
      <a [routerLink]="[addUrl]" class="custom-btn contact-button active">
          <i class="icon-add-contact"></i>
          <span class="name" data-toggle="tooltip" data-placement="bottom" tooltip="Create a new invoice"> Add Invoices</span>
      </a>
  </div>

  <div *ngIf="addUrl != '' && addUrl != undefined &&   addUrl == '/vp/contacts/add'" class="data-actions data-btn-holder">
      <a [routerLink]="[addUrl]" class="custom-btn contact-button active">
          <i class="icon-add-contact"></i>
          <span class="name" data-toggle="tooltip" data-placement="bottom" tooltip="Create a new invoice"> Add Contacts</span>
      </a>
  </div>

  <div *ngIf="addUrl != '' && addUrl != undefined && addUrl != '/vp/invoices/create' && addUrl != '/vp/contacts/add'" class="data-actions data-btn-holder">
      <div class="data-actions data-btn-holder">
          <!-- data-placement="bottom" data-toggle="tooltip" tooltip="Add {{title}}" -->
          <a disabled style="cursor: none" class="custom-btn contact-button active">
              <i class="icon-add-contact"></i>
              <span class="name" data-toggle="tooltip" data-placement="bottom" tooltip="Create a new invoice"> Add Invoices</span>
          </a>
      </div>
  </div>
</div>

<!--End Data Title-->
<!--Start Data Filter-->
<div class="filter-box">
  <ul class="list-unstyled filter-box-holder">
      <li class="filter-repeater-holder">

          <div class="filter-repeater" *ngIf="filterControls.length === 0">
              <div class="case-id">
                  <div class="dropdown rfqDropdown">
                      <button class="btn form-control custom-select" tabindex="0" type="button">
                      </button>
                  </div>
              </div>
              <div class="filter-type">
                  <input type="text" class="form-control" />
              </div>
          </div>

          <div class="filter-repeater" *ngFor="let control of filterControls; let i = index">
              <!-- <span>{{control | json}}</span> -->
              <div class="case-id">
                  <div class="dropdown rfqDropdown" data-toggle="tooltip" data-placement="bottom" title="Select Column in which data filtration is required"
                      (clickOutside)="control.filterColumnDropdowToggler='none'">
                      <button class="btn form-control custom-select" tabindex="0" (keydown)="keyDownColumns($event, control)" type="button" (click)="toggleFilterColumnsDropdown($event, control)">
                          {{control.name.name}}
                      </button>
                      <ul class="dropdown-menu" style="cursor:pointer" [style.display]="control.filterColumnDropdowToggler">
                          <li tabindex="0">
                              <span class="fa fa-search"></span>
                              <input type="text" id="{{i}}" class="form-control" (keydown)="keyDownColumns($event, control)"
                                  [(ngModel)]="control.searchTextColumn" placeholder="Search" />
                          </li>
                          <li tabindex="0" *ngFor="let option of columnsDrpDown | filter: control.searchTextColumn;" (keydown)="keyDownColumns($event, control, option)"
                              (click)="control.name = option; control.value= ''; control.currentSelected = ''; control.searchTextColumn = ''; control.filterColumnDropdowToggler='none'">
                              <a>{{ option.name }}</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="filter-type dropdown rfqDropdown" *ngIf="control.name.isLookup === true" (clickOutside)="control.dropdowToggler='none'">
                  <!-- start -->
                  <div class="dropdown rfqDropdown ">
                      <button class="btn form-control custom-select" [ngClass]="control.currentSelected === ''? 'btnPlaceholder': ''" type="button"
                          tabindex="0" (keydown)="keyDownFilter($event, control)" (click)="toggleFilterDropdown($event, control)">
                          {{control.currentSelected || 'Select ' + control.name.name}}
                      </button>
                      <ul class="dropdown-menu" style="cursor:pointer" [style.display]="control.dropdowToggler">
                          <li tabindex="0">
                              <span class="fa fa-search"></span>
                              <input type="text" class="form-control" (keydown)="keyDownFilter($event, control)"
                                  [(ngModel)]="control.searchTextFilter" placeholder="Search" />
                          </li>
                          <li tabindex="0" *ngFor="let singleLookup of control.name.lookup | filter: control.searchTextFilter;" (keydown)="keyDownFilter($event, control, singleLookup)"
                              (click)="control.value= singleLookup.value; control.currentSelected = singleLookup.name; control.searchTextFilter = '';control.dropdowToggler='none'">
                              <a>{{ singleLookup.name }}</a>
                          </li>
                      </ul>
                  </div>

                  <!-- end -->
              </div>
              <div class="filter-type" *ngIf="control.name.isLookup === false">
                  <input type="text" (keydown)="enterKeyDown($event)" class="form-control" placeholder="{{ 'Enter ' + control.name.name }}"
                      *ngIf="control.name !== ''
                                          && (control.name.data.dataType == types().isString || control.name.data.dataType == types().isEnum)"
                      [(ngModel)]="control.value">

                  <input type="number" class="form-control" placeholder="{{ 'Enter ' + control.name.name }}" *ngIf="control.name !== ''
                                          && control.name.data.dataType == types().Real" [(ngModel)]="control.value">

                  <my-date-picker class="form-control custom-control" name="model1" [options]="myDatePickerOptions" *ngIf="control.name !== '' && control.name.data.dataType == types().isDate"
                      [(ngModel)]="control.value" [placeholder]="placeHolderDateSelect"></my-date-picker>

                  <input type="text" (keydown)="enterKeyDown($event)" class="form-control" placeholder="{{ 'Enter ' + control.name.name }}"
                      *ngIf="control.name !== ''
                      && control.name.data.dataType !== types().isDate
                      && control.name.data.dataType !== types().isString
                      && control.name.data.dataType !== types().isEnum
                      && control.name.data.dataType !== types().Real" [(ngModel)]="control.value">
              </div>
              <button class="go-remove" *ngIf="i > 0" (click)="removeFilter(i)">
                  <i class="icon-delete"></i>
              </button>
          </div>
      </li>
      <li class="go-btn">
          <input type="button" #filterBtn class="btn btn-info" (click)="search()" value="Search">
          <!-- <span *ngIf="filterValidation" class="alert alert-danger">{{filterValidation}}</span> -->
      </li>
      <li class="filter-btn">
          <button class="btn btn-filter" (click)="addFilter()" data-toggle="tooltip" data-placement="bottom" title="Advanced filter to search on more than one fields">
              <i class="icon-add-filter"></i>
              <span class="name"> {{filterControls.length > 1 ? 'Add filter' : 'Advance search'}} </span>
          </button>
      </li>
      <li class="refresh-btn">
          <button class="btn btn-refresh" (click)="refreshGrid()" data-toggle="tooltip" data-placement="bottom" title="Refresh data in the form to view recent updates">
              <i class="icon-refresh"></i>
              <span class="name">RESET</span>
          </button>
      </li>
  </ul>
  <!-- !! -->
  <div *ngIf="filterValidation" class="alert alert-danger">{{filterValidation}}</div>
</div>
<!--End Data Filter-->

<!--Start Data Content-->
<div class="data-content detail-form-holder">
  <!--Start Data Table-->
  <div class="table-list">
      <table id="list-table" class="display responsive" cellspacing="0" width="100%">

      </table>
      <div class="goto-label" data-toggle="tooltip" data-placement="bottom" title="Directly open page no.">
          <div *ngIf="customPage.length > 1">
              <label>Go to</label>
              <select class="form-control" [(ngModel)]="pageValue" (change)="reloadByPage()">
                  <option *ngFor="let item of customPage" [ngValue]="item">{{item}}</option>
              </select>
          </div>
      </div>

  </div>
  <!--End Data Table-->
</div>
<!--End Data Content-->
