<form (ngSubmit)="financePerson(financePersonForm)" #financePersonForm="ngForm">
  <div class="formWrapper">
    <div class="alert alert-danger" *ngIf="serverMessage">
      {{ serverMessage }}
    </div>
    <div class="row">
      <div class="styledCheckbox checkbox col-sm-4">
        <input
          type="checkbox"
          id="sameAsContactPerson"
          #sameAsContactPerson
          (change)="onChangeSameAsContactPerson(sameAsContactPerson.checked)"
        />
        <label for="sameAsContactPerson"
          >Same as Contact Person? <span tabindex="0"></span
        ></label>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4 form-group">
        <label class="required">Title</label>
        <angular2-multiselect
          class="form-control custom-selectbox"
          tabindex="0"
          required
          name="financePersonTitle"
          #financePersonTitle="ngModel"
          [data]="personTitles"
          [(ngModel)]="selectedFinancePersonTitle"
          [settings]="financePersonSetting"
          (onSelect)="onfinancePersonSelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="
            financePersonTitle.valid ||
            (financePersonTitle.pristine && !financePersonForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          Title is required
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">First Name</label>
        <input
          type="text"
          name="financePersonFirstName"
          maxlength="30"
          required
          [disabled]="sameAsContact"
          #financePersonFirstName="ngModel"
          [(ngModel)]="form.firstName"
          noWhitespaceAllowed
          placeholder="Enter First Name"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (financePersonFirstName.errors ||
              financePersonFirstName?.errors?.whitespace) &&
            financePersonForm.submitted
          "
        >
          First Name is required
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label class="required">Last Name</label>
        <input
          type="text"
          name="financePersonLastName"
          maxlength="30"
          required
          [disabled]="sameAsContact"
          #financePersonLastName="ngModel"
          [(ngModel)]="form.lastName"
          noWhitespaceAllowed
          placeholder="Enter Last Name"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (financePersonLastName.errors ||
              financePersonLastName?.errors?.whitespace) &&
            financePersonForm.submitted
          "
        >
          Last Name is required
        </div>
      </div>
    </div>
    <!-- <div class="row">
            <div class="col-sm-6 form-group">
                <label>First Name (Arabic)</label>
                <input type="text" name="financePersonArabicFirstName" maxlength="30" [disabled]="sameAsContact" #financePersonArabicFirstName="ngModel" [(ngModel)]="form.arabicFirstName" placeholder="أدخل الاسم الأول باللغة العربية" class="form-control" style="text-align:right; direction:rtl" />
            </div>
          <div class="col-sm-6 form-group">
              <label>Last Name (Arabic)</label>
              <input type="text" name="financePersonArabicLastName" maxlength="30" [disabled]="sameAsContact"  #financePersonArabicLastName="ngModel" [(ngModel)]="form.arabicLastName" placeholder="أدخل اسم العائلة باللغة العربية" class="form-control" style="text-align:right; direction:rtl" />
          </div>
      </div> -->
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Job Title</label>
        <angular2-multiselect
          class="form-control custom-selectbox"
          tabindex="0"
          name="financePersonJobTitle"
          #financePersonJobTitle="ngModel"
          [data]="jobTitles"
          [(ngModel)]="selectedFinancePersonJobTitle"
          [settings]="jobTitleSetting"
          (onSelect)="onFinancePersonJobTitleSelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="financeJobTitleValidation === false || serverMessage"
          class="alert alert-danger"
        >
          select job title or provide other job title
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label>Other Job Title</label>
        <input
          type="text"
          (input)="financeJobTitleValidation = false"
          name="financePersonOtherJobTitle"
          maxlength="30"
          [disabled]="sameAsContact"
          #financePersonOtherJobTitle="ngModel"
          [(ngModel)]="form.otherJobTitle"
          placeholder="Enter Other Job Title"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Primary Contact Number</label>
        <app-ngx-phone
          [(clearValidation)]="financeTelephoneValidation"
          [(selectedValue)]="form.telephoneInput"
          [(countryCode)]="form.telephoneCountryCode"
          [placeholder]="'Enter Primary Contact Number'"
          [disableCheck]="sameAsContact"
        ></app-ngx-phone>
        <div
          [hidden]="financeTelephoneValidation === false || serverMessage"
          class="alert alert-danger"
        >
          Primary Contact Number is required
        </div>
        <div
          *ngIf="
            form.telephoneInput &&
            form.telephoneInput.toString().length > fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>
        <!-- <p class="fieldMsg">Enter your phone number <span>e.g. +971-553827741</span></p> -->
      </div>
      <div class="col-sm-6 form-group">
        <label>Secondary Contact Number</label>
        <app-ngx-phone
          [(selectedValue)]="form.secondaryContactNumberInput"
          [(countryCode)]="form.secondaryContactNumberCode"
          [placeholder]="'Enter Secondary Contact Number'"
          [disableCheck]="sameAsContact"
        ></app-ngx-phone>
        <div
          *ngIf="
            form.secondaryContactNumberInput &&
            form.secondaryContactNumberInput.toString().length >
              fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>

        <!-- <p class="fieldMsg">Enter your phone number <span>e.g. +971-553827741</span></p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Fax</label>
        <app-ngx-phone
          [(selectedValue)]="form.contactFaxInput"
          [(countryCode)]="form.contactFaxCountryCode"
          [placeholder]="'Enter Fax'"
          [disableCheck]="sameAsContact"
        ></app-ngx-phone>
        <div
          *ngIf="
            form.contactFaxInput &&
            form.contactFaxInput.toString().length > fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>
        <!-- <p class="fieldMsg">Enter your Fax number <span>e.g. +971-553827741</span></p> -->
      </div>

      <div class="col-sm-6 form-group">
        <label class="required">Primary Email</label>
        <!-- ! -->
        <!-- <input type="text" (focusout)="validateEmail(financePersonPrimaryEmail)" (input)="resetValidateEmailConfig()" name="financePersonPrimaryEmail" maxlength="1000" required #financePersonPrimaryEmail="ngModel" [(ngModel)]="form.email" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$" placeholder="Enter Primary Email" class="form-control" /> -->
        <input
          type="text"
          name="financePersonPrimaryEmail"
          maxlength="60"
          [disabled]="sameAsContact"
          required
          #financePersonPrimaryEmail="ngModel"
          [(ngModel)]="form.email"
          pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
          placeholder="Enter Primary Email"
          class="form-control"
        />
        <div class="alert alert-danger" *ngIf="emailServerIssueMessage">
          {{ emailServerIssueMessage }}
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            !financePersonPrimaryEmail.errors &&
            forbiddenEmail &&
            !emailServerIssueMessage
          "
        >
          Primary Email should be different from Contact Person Email
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            financePersonPrimaryEmail.errors &&
            financePersonPrimaryEmail.errors.pattern &&
            financePersonForm.submitted
          "
        >
          Primary Email is invalid
        </div>
        <div
          *ngIf="
            financePersonPrimaryEmail.errors &&
            !financePersonPrimaryEmail.errors.pattern &&
            !serverMessage
          "
          [hidden]="
            financePersonPrimaryEmail.valid ||
            (financePersonPrimaryEmail.pristine &&
              !financePersonForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          Primary Email is required
        </div>
        <p class="fieldMsg">
          Enter your email address <span>e.g. abc@xyz.com</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Secondary Email</label>
        <input
          type="text"
          name="financePersonSecondaryEmail"
          maxlength="60"
          [disabled]="sameAsContact"
          #financePersonSecondaryEmail="ngModel"
          [(ngModel)]="form.secondaryContactEmail"
          pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
          placeholder="Enter Secondary Email"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            financePersonSecondaryEmail.errors &&
            financePersonSecondaryEmail.errors.pattern &&
            financePersonForm.submitted
          "
        >
          Secondary Email is invalid
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 btns-left">
      <button type="button" class="btn btn-info" (click)="gotoPrevious()">
        Previous
      </button>
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
      <button
        type="button"
        class="btn btn-info"
        (click)="redirectToLoginScreen()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-default">Next</button>
    </div>
  </div>
</form>
