<!--Start Data Title-->
<div class="data-title">
  <h2>
    Search Result for "<span class="search-result-term">{{ searchTerm }}</span
    >"
  </h2>
</div>
<!--End Data Title-->
<!--Start Data Content-->
<app-search-grid
  #globalSearch
  [title]="title"
  [url]="serviceUrl"
  [appbase]="appbase"
  [gridType]="gridType"
  [columnsDefination]="columnsDefination"
  [inputColumns]="columns"
>
</app-search-grid>
<!--End Data Content-->
