<div class="container-fluid">
  <!--Start Data Title-->
  <div class="data-title">
    <h2>Request For Quotations</h2>
  </div>
  <!--End Data Title-->
  <!--Start Bidding Detail Page-->
  <div class="bidding-detail">
    <!--Start Clock-->
    <div class="count-down-clock">
      <h4>Remaining Time</h4>
      <div id="clockdiv">
        <div class="time day">
          <span class="days">00</span>
          <div class="smalltext">Days</div>
        </div>
        <div class="time hour">
          <span class="hours">00</span>
          <div class="smalltext">Hours</div>
        </div>
        <div class="time mins">
          <span class="minutes">00</span>
          <div class="smalltext">Minutes</div>
        </div>
        <div class="time secs">
          <span class="seconds">00</span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>
    <!--End Clock-->

    <!--Start Bid Form-->
    <div class="detail-list-holder">
      <div class="bid-form-holder">
        <div class="detail-form">
          <div class="sub-title">
            <h3>Bidding</h3>
          </div>
          <div class="row readonlyFields">
            <div class="col-xs-12 col-md-4 form-group">
              <label class="control-label">RFQ ID </label>
              <input
                type="text"
                disabled
                class="form-control custom-control"
                [value]="currentItem.rfqid || empty"
              />
            </div>
            <div class="col-xs-12 col-md-4 form-group">
              <label class="control-label">RFQ Title </label>
              <input
                type="text"
                class="form-control custom-control"
                disabled
                [value]="currentItem.rfqTitle || empty"
              />
            </div>
            <div class="col-xs-12 col-md-4 form-group">
              <label class="control-label">Expiration Date and Time </label>
              <input
                type="text"
                class="form-control custom-control"
                disabled
                [value]="currentItem.expirationDateAndTime || empty"
              />
            </div>
            <div class="col-xs-12 col-md-8 form-group">
              <label class="control-label">Notes </label>
              <textarea class="form-control custom-control" disabled>
 {{ currentItem.notes || empty }} </textarea
              >
            </div>

            <div class="col-xs-12 col-md-4 form-group">
              <label class="control-label">Currency </label>
              <input
                type="text"
                class="form-control custom-control"
                disabled
                [value]="currentItem.currency || empty"
              />
            </div>
            <div class="col-md-12 form-group">
              <label class="control-label">RFQ Documents </label>
              <div class="sp-doc">
                <ul
                  *ngFor="let item of currentItem.attachments"
                  [style.display]="item.docType != 'RFQPrintForm' ? 'none' : ''"
                  class="list-unstyled sp-doc-list col-md-12"
                >
                  <li class="col-md-12 col-sm-12">
                    <a (click)="downloadAttachment(item)">{{
                      item.filename
                    }}</a>
                  </li>
                </ul>
                <p
                  [hidden]="
                    showAttachError(currentItem.attachments, 'RFQPrintForm')
                  "
                >
                  No attachment available
                </p>
                <a class="attached">
                  <i class="icon-attachment"></i>
                </a>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <label class="control-label">Supporting Documents </label>
              <div class="sp-doc">
                <ul
                  *ngFor="let item of currentItem.attachments"
                  [style.display]="
                    item.docType != 'RFQSupportDoc' ? 'none' : ''
                  "
                  class="list-unstyled sp-doc-list col-md-12"
                >
                  <li class="col-md-12 col-sm-12">
                    <a (click)="downloadAttachment(item)">{{
                      item.filename
                    }}</a>
                  </li>
                </ul>
                <p
                  [hidden]="
                    showAttachError(currentItem.attachments, 'RFQSupportDoc')
                  "
                >
                  No attachment available
                </p>
                <a class="attached">
                  <i class="icon-attachment"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="bid-form-holder pf-form">
            <div class="sub-title">
              <h3>Provide Financials</h3>
            </div>
            <div class="passcodeMsg" style="margin-top:0;">
              <label
                >All the bid value should be exclusive of VAT. System will auto
                calculate VAT based on vendor profile.</label
              >
            </div>
            <!-- !! -->
            <div class="table-list" style="overflow-x: scroll">
              <table
                id="data-table"
                class="display"
                cellspacing="0"
                style="width:130%"
                width="100%"
              ></table>
            </div>
            <div [hidden]="table" class="alert alert-danger">
              {{ tableValidation }}
            </div>
          </div>

          <!-- ! -->
          <div class="dropzone-holder">
            <div class="row">
              <!-- <div class="col-md-6 dropzone-box">
                <label class="control-label required">Technical Proposal</label>
                <app-ngx-custom-upload #ngxCustomUploadOne projectId="100" sectionId="107" maxFiles="100" maxSize="10000" overAllSize="10000"
                  fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf" (uploadStatus)="uploaderStatusTech($event)">
                </app-ngx-custom-upload>
                <div class="sp-doc upload-lists">
                  <ul *ngFor="let item of request.attachmentList | filter : 'RFQTechProposalDoc'" class="list-unstyled sp-doc-list">
                    <li *ngIf="!item.isDeleted">
                      <a (click)="downloadAttachment(item)">{{item.name}}</a>
                      <button *ngIf="currentItem.isBAFO == 'No' || item.isNew" (click)="deleteAttachment(item)" class="custom-btn custom-btn-outline btn-delete">
                        <i class="icon-delete"></i>
                      </button>
                    </li>
                  </ul>
                  <p [hidden]="showAttachError(request.attachmentList, 'RFQTechProposalDoc')">No attachment available</p>
                  <a class="attached">
                    <i class="icon-attachment"></i>
                  </a>
                </div>
                <div [hidden]="technicalDoc" class="alert alert-danger">Technical Proposal is required</div>
              </div> -->
              <!-- <div class="col-md-6 dropzone-box">
                <label class="control-label required">Financial Proposal </label>
                <app-ngx-custom-upload #ngxCustomUploadTwo projectId="100" sectionId="107" maxFiles="100" maxSize="10000" overAllSize="10000"
                  fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf" (uploadStatus)="uploaderStatusFin($event)">
                </app-ngx-custom-upload>

                <div class="sp-doc upload-lists">
                  <ul *ngFor="let item of request.attachmentList | filter : 'RFQFuncProposalDoc'" class="list-unstyled sp-doc-list">
                    <li *ngIf="!item.isDeleted">
                      <a (click)="downloadAttachment(item)">{{item.name}}</a>
                      <button *ngIf="currentItem.isBAFO !== 'Yes' || item.isNew" (click)="deleteAttachment(item)" class="custom-btn custom-btn-outline btn-delete">
                        <i class="icon-delete"></i>
                      </button>
                    </li>
                  </ul>
                  <p [hidden]="showAttachError(request.attachmentList, 'RFQFuncProposalDoc')">No attachment available</p>
                  <a class="attached">
                    <i class="icon-attachment"></i>
                  </a>
                </div>
                <div [hidden]="financialDoc" class="alert alert-danger">Financial Proposal is required</div>
              </div> -->
            </div>
          </div>

          <div class="row">
            <div class=" clearfix col-md-6">
              <div class="mg-top20">
                <label class="control-label">Comments</label>
                <textarea
                  [(ngModel)]="request.comments"
                  maxlength="250"
                  col="5"
                  rows="6"
                  class="form-control"
                ></textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="totalAmount">
                <small>Subtotal Amount:</small>
                <strong
                  >{{ currentItem.currency }}
                  {{
                    setTwoNumberDecimal(
                      currentItem.netAmount - currentItem.vatAmount,
                      2
                    )
                  }}</strong
                >
              </div>
              <div class="totalAmount">
                <small>VAT Amount:</small>
                <strong
                  >{{ currentItem.currency }}
                  {{ setTwoNumberDecimal(currentItem.vatAmount, 2) }}</strong
                >
              </div>
              <div class="totalAmount">
                <small>Net Amount:</small>
                <strong
                  >{{ currentItem.currency }}
                  {{ setTwoNumberDecimal(currentItem.netAmount, 2) }}</strong
                >
              </div>
            </div>
          </div>

          <div class="buttons-holder">
            <div class="row">
              <div class="col-md-6 col-sm-6 btns-left">
                <!-- ! -->
                <button
                  class="btn btn-info"
                  data-placement="bottom"
                  role="button"
                  (click)="openPopUp($event)"
                >
                  Decline
                </button>
                <button (click)="closeBid($event)" class="btn btn-info">
                  Close
                </button>
              </div>
              <div class="col-md-6 col-sm-6 btns-right">
                <button (click)="Save(1)" class="btn btn-default">
                  Submit
                </button>
                <button style="display:none" id="btnTrigger"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Bid Form-->
  </div>
  <!--End Bidding Detail Page-->
</div>

<!-- ! -->
<div [hidden]="showPopUp" class="" id="submit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="clearfix">
          <label class="control-label required">Reason</label>
          <textarea
            [(ngModel)]="bidDeclineComments"
            maxlength="250"
            col="5"
            rows="6"
            class="form-control"
          ></textarea>
          <div
            [hidden]="!bidDeclineCommentsRequired"
            class="alert alert-danger"
          >
            Comments are required
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          (click)="closePopUp()"
          type="button"
          class="btn btn-info"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          (click)="bidDeclineSubmit()"
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
