<form
  (ngSubmit)="termAndConditionSubmit(TermAndConditionForm)"
  #TermAndConditionForm="ngForm"
>
  <div class="scrollCont form-group">
    <p
      [innerHtml]="form.termAndCondition | safeHtml"
      class="termsTabelStyle"
    ></p>
  </div>
  <div class="styledCheckbox checkbox">
    <input
      type="checkbox"
      id="termsAndConditionCheck"
      [checked]="form.termsAndConditionCheck === 'Yes'"
      name="termsAndConditionCheck"
      #termsAndConditionCheck
      (change)="onChangeTermAndCondition(termsAndConditionCheck.checked)"
    />
    <label class="required" for="termsAndConditionCheck"
      ><span tabindex="0"></span> I agree to comply with these terms and
      conditions.</label
    >
    <div
      [hidden]="termAndConditionValidationFlag == false || serverMessage"
      class="alert alert-danger"
    >
      You have to accept term and conditions
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6 col-xs-12 btns-left">
      <button type="button" class="btn btn-info" (click)="gotoPrevious()">
        Previous
      </button>
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
      <button
        type="button"
        class="btn btn-info"
        (click)="redirectToLoginScreen()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-default">Next</button>
    </div>
  </div>
</form>
