    <!--Start Header-->
    <div class="header topHeader">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed mbile-toggle"> <span class="icon-bar"></span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4">
            <span class="hidden-xs">
              <a class="btn-minimalize active" (click)="minimizeSideNav()"><i class="fa fa-bars"></i> </a>
            </span>
            <a class="logoDiv" [routerLink]="['/vp/home']"> <img src="{{ logoPath }}" class="img-responsive" /> 
              <!-- <span class="logoText">
                <i>{{ appInitial.logoText }}</i><br />
                <b>{{ appInitial.appName }}</b>
              </span> -->
            </a>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
            <ul class="nav navbar-nav">
              <!-- <li class="search">
                        </li> -->
              <li class="user dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">
                  
                  <span class="hidden-xs">
                    <b>{{vendor.loginUserName}}</b>
                    <i>Manager</i>
                  </span> 
                  <span class="avatar-holder">
                    <i class="custom-icon-group"></i>
                  </span>
                  <!-- <span class="caret"></span> -->
                </a>
                <ul class="dropdown-menu" aria-labelledby="userMenu">
                  <li class="visible-xs user-name">{{vendor.loginUserName}}</li>
                  <li><a [routerLink]="['/vp/vendor-profile']">View Profile</a></li>
                  <li><a class="logout-link" (click)="logout()">Sign Out</a></li>
                </ul>
              </li>
              <li class="notifications" id="notification" (clickOutside)="hideDropdown()">
                <div class="notifyWrapper"> <span class="badge dropdown-toggle"
                    class="badge">{{notificationCount}}</span>
                  <a class="dropdown-toggle notify-link" (click)="toggleALertDropdown()" data-placement="bottom"
                    data-toggle="tooltip" tooltip="View Alerts" data-container="body"><i class="icon-notifications"></i>
                  </a>
                </div>
                <div class="dropdown-menu notification-alert" style="min-height: 30px"
                  [style.display]="notificationALertDropdownToggle">
                  <div class="notification-count">You have {{notificationCount}} new alerts <a
                      *ngIf="notifications.length > 0" (click)="dismissAll()">Dismiss all</a></div>
                  <div class="alert-info" style="background-color: transparent; text-align:center"
                    *ngIf="notifications.length ===0"> {{messageText}} </div>
                  <ul class="list-unstyled notification-list scrollbarA">
                    <li class="exp" *ngFor="let notification of notifications; let i = index"
                      [ngClass]="notification.isRead === '0' ? '': 'readItem'"
                      [style.display]="notification.isActive === true ? '' : 'none'"
                      (click)="readNotification(notification, i)"> <span
                        class="notification-name">{{notification.alertHeader}}</span> <span
                        class="notification-id">{{notification.documentId}} -
                        {{notification.documentTitle}}</span> <span class="notification-date"
                        *ngIf="notification.documentDateLabel"><strong>{{ notification.documentDateLabel }}:</strong>
                        {{ notification.documentDate }}</span> <a class="removeBtn" data-placement="bottom"
                        data-toggle="tooltip" tooltip="Dismiss" data-container="body"
                        (click)="dismissSingle(notification, i)"><span class="glyphicon glyphicon-remove"></span></a>
                    </li>
                  </ul>
                  <div class="alert-info" style="background-color: transparent; text-align:center"
                    *ngIf="moreRecords === false && notifications.length > 0">No more records found
                  </div>
                  <div class="load-more clearfix" *ngIf="moreRecords === true && recordCount > notificationPaging">
                    <a class="load-more-button" (click)="loadAlertScrollEnd()"> <span>Load More</span>
                    </a>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--End Header-->