<form (ngSubmit)="organizationType(orgTypeForm)" #orgTypeForm="ngForm">
  <div class="formWrapper">
    <div class="alert alert-danger" *ngIf="serverMessage">
      {{ serverMessage }}
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Vendor Type</label>
        <angular2-multiselect
          required
          name="orgPerson"
          #orgPerson="ngModel"
          [data]="orgPersons"
          [(ngModel)]="selectedOrgPerson"
          [settings]="orgSetting"
          (onSelect)="onOrgPersonSelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="
            orgPerson.valid ||
            (orgPerson.pristine && !orgTypeForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          Organization/Person is required
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label class="required">Organization Sectors</label>
        <angular2-multiselect
          required
          name="OrgSector"
          #OrgSector="ngModel"
          [data]="Locations"
          [(ngModel)]="selectedOrgSector"
          [settings]="orgSectorSetting"
          (onSelect)="onOrgSectorSelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="
            OrgSector.valid ||
            (OrgSector.pristine && !orgTypeForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          Organization Sectors is required
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 text-right">
      <button
        type="button"
        class="btn btn-info"
        (click)="redirectToLoginScreen()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-default">Next</button>
    </div>
  </div>
</form>
