<div draggable="true" class="dropzone-file" ngClass="{{dragAreaClass}}"> <strong>Drag and Drop files here</strong><span class="orText">or</span>
    <div class="upload-files"> <a class="btn btn-sm btn-custom"  (click)="file.click()">Select Files</a>
        <input type="file" #file [multiple]="(maxFiles > 1)" (change)="onFileChange($event)" style="display:none" />
    </div> <small>File Types: xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf</small>
</div>
<div class="add-attachment crossForProg">
    <div id="progressbar" *ngIf="progress > 0 && hide">
        <div [style.width]="progress+'%'" [ngClass]="isCompleted ? 'completed': ''"><span>{{progress}}%</span></div>
        <span class="crosslnk"><a (click)="cancelUpload()"><i class="glyphicon glyphicon-remove-circle"></i></a></span>
    </div>
</div>
<div class="" *ngIf="filesData.length > 0">
    <ul class="list-unstyled msgList">
        <li *ngFor="let x of filesData; let i = index"><span *ngIf="x.type == 1">{{x.file}}</span><span *ngIf="x.type == 1">{{x.file.name}}</span>
            <span *ngIf="x.type == 1" (click)="remove(i)" style="cursor:pointer"><i class="glyphicon glyphicon-remove-circle"></i></span>
        </li>
    </ul>
</div>