<form (ngSubmit)="attachmentSubmit()" #attachmentForm="ngForm">
  <div class="tab-pane">
    <div class="clearfix">
      <ul id="docNav" class="nav nav-tabs nav-justified nav-docs">
        <li
          [style.display]="attachmentsTabs[0].allowRender ? '' : 'none'"
          [id]="attachmentsTabs[0].activated"
        >
          <a href="#DocumentTab01" data-toggle="tab" aria-expanded="false">
            <span class="txt">
              {{ attachmentsTabs[0].name }}
              <i class="mandatry">*</i>
            </span>
          </a>
        </li>
        <li
          [style.display]="attachmentsTabs[1].allowRender ? '' : 'none'"
          [id]="attachmentsTabs[1].activated"
        >
          <a href="#DocumentTab02" data-toggle="tab" aria-expanded="false">
            <span class="txt">
              {{ attachmentsTabs[1].name }}
              <!-- <i class="mandatry">*</i> -->
            </span>
          </a>
        </li>
        <li
          [style.display]="attachmentsTabs[2].allowRender ? '' : 'none'"
          [id]="attachmentsTabs[2].activated"
        >
          <a href="#DocumentTab03" data-toggle="tab" aria-expanded="false">
            <span class="txt">
              {{ attachmentsTabs[2].name }}
              <!-- <i class="mandatry">*</i> -->
            </span>
          </a>
        </li>
        <li
          [style.display]="attachmentsTabs[3].allowRender ? '' : 'none'"
          [id]="attachmentsTabs[3].activated"
        >
          <a href="#DocumentTab04" data-toggle="tab" aria-expanded="false">
            <span class="txt">
              {{ attachmentsTabs[3].name }}
              <!-- <i class="mandatry">*</i> -->
              <!-- <span *ngIf="!isPerson" class="small-tab-heading">(owner or Managing Director)</span> -->
            </span>
          </a>
        </li>
        <li
          [style.display]="attachmentsTabs[4].allowRender ? '' : 'none'"
          [id]="attachmentsTabs[4].activated"
        >
          <a href="#DocumentTab05" data-toggle="tab" aria-expanded="false">
            <span class="txt">
              {{ attachmentsTabs[4].name }}
              <!-- <i class="mandatry">*</i> -->
              <!-- <span *ngIf="!isPerson" class="small-tab-heading">(owner or Managing Director)</span> -->
            </span>
          </a>
        </li>
        <li
          [style.display]="attachmentsTabs[5].allowRender ? '' : 'none'"
          [id]="attachmentsTabs[5].activated"
        >
          <a href="#DocumentTab06" data-toggle="tab" aria-expanded="false">
            <span class="txt">
              {{ attachmentsTabs[5].name }}
              <!-- <i class="mandatry">*</i> -->
            </span>
          </a>
        </li>
        <li
          [style.display]="attachmentsTabs[6].allowRender ? '' : 'none'"
          [id]="attachmentsTabs[6].activated"
        >
          <a href="#DocumentTab07" data-toggle="tab" aria-expanded="false">
            <span class="txt">
              {{ attachmentsTabs[6].name }}
              <!-- <i class="mandatry">*</i> -->
            </span>
          </a>
        </li>
        <li
          [style.display]="attachmentsTabs[7].allowRender ? '' : 'none'"
          [id]="attachmentsTabs[7].activated"
        >
          <a href="#DocumentTab08" data-toggle="tab" aria-expanded="false">
            <span class="txt">
              {{ attachmentsTabs[7].name }}
              <!-- <i class="mandatry">*</i> -->
              <!-- <span *ngIf="!isPerson" class="small-tab-heading">(owner or Managing Director)</span> -->
            </span>
          </a>
        </li>
        <li
          [style.display]="attachmentsTabs[8].allowRender ? '' : 'none'"
          [id]="attachmentsTabs[8].activated"
        >
          <a href="#DocumentTab09" data-toggle="tab" aria-expanded="false">
            <span class="txt">
              {{ attachmentsTabs[8].name }}
              <!-- <span *ngIf="!isPerson" class="small-tab-heading">(owner or Managing Director)</span> -->
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content tab-document">
    <div class="tab-pane fade" id="DocumentTab01">
        <app-ngx-custom-upload
          #ngxCustomUploadProfile
          viewId="#data-table-profile"
          projectId="100"
          sectionId="107"
          maxFiles="100"
          overAllSize="10000"
          fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
          (uploadStatus)="uploaderStatus($event)"
        ></app-ngx-custom-upload>
        <div class="table-list">
          <table
            id="data-table-profile"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
        </div>
      </div>

      <div class="tab-pane fade" id="DocumentTab02">
        <app-ngx-custom-upload
          #ngxCustomUploadTradeLicense
          viewId="#data-table-trade-license"
          projectId="100"
          sectionId="107"
          maxFiles="100"
          overAllSize="10000"
          fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
          (uploadStatus)="uploaderStatus($event)"
        ></app-ngx-custom-upload>
        <div class="table-list">
          <table
            id="data-table-trade-license"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
        </div>
      </div>

      <div class="tab-pane fade" id="DocumentTab03">
        <app-ngx-custom-upload
          #ngxCustomUploadPassport
          viewId="#data-table-passport"
          projectId="100"
          sectionId="107"
          maxFiles="100"
          overAllSize="10000"
          fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
          (uploadStatus)="uploaderStatus($event)"
        ></app-ngx-custom-upload>
        <div class="table-list">
          <table
            id="data-table-passport"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
        </div>
      </div>

      <div class="tab-pane fade" id="DocumentTab04">
        <app-ngx-custom-upload
          #ngxCustomUploadcv
          viewId="#data-table-cv"
          projectId="100"
          sectionId="107"
          maxFiles="100"
          overAllSize="10000"
          fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
          (uploadStatus)="uploaderStatus($event)"
        ></app-ngx-custom-upload>
        <div class="table-list">
          <table
            id="data-table-cv"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
        </div>
      </div>

      <div class="tab-pane fade" id="DocumentTab05">
        <app-ngx-custom-upload
          #ngxCustomUploadInCorporation
          viewId="#data-table-inCorporation"
          projectId="100"
          sectionId="107"
          maxFiles="100"
          overAllSize="10000"
          fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
          (uploadStatus)="uploaderStatus($event)"
        ></app-ngx-custom-upload>
        <div class="table-list">
          <table
            id="data-table-inCorporation"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
        </div>
      </div>

      <div class="tab-pane fade" id="DocumentTab06">
        <app-ngx-custom-upload
          #ngxCustomUploadVatCert
          viewId="#data-table-vat-cert"
          projectId="100"
          sectionId="107"
          maxFiles="100"
          overAllSize="10000"
          fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
          (uploadStatus)="uploaderStatus($event)"
        ></app-ngx-custom-upload>
        <div class="table-list">
          <table
            id="data-table-vat-cert"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
        </div>
      </div>

      <div class="tab-pane fade" id="DocumentTab07">
        <app-ngx-custom-upload
          #ngxCustomUploadVisa
          viewId="#data-table-visa"
          projectId="100"
          sectionId="107"
          maxFiles="100"
          overAllSize="10000"
          fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
          (uploadStatus)="uploaderStatus($event)"
        ></app-ngx-custom-upload>
        <div class="table-list">
          <table
            id="data-table-visa"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
        </div>
      </div>

      <div class="tab-pane fade" id="DocumentTab08">
        <app-ngx-custom-upload
          #ngxCustomUploadEmirateId
          viewId="#data-table-emirate-id"
          projectId="100"
          sectionId="107"
          maxFiles="100"
          overAllSize="10000"
          fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
          (uploadStatus)="uploaderStatus($event)"
        ></app-ngx-custom-upload>
        <div class="table-list">
          <table
            id="data-table-emirate-id"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
        </div>
      </div>

      <div class="tab-pane fade" id="DocumentTab09">
        <app-ngx-custom-upload
          #ngxCustomUploadFinancial
          viewId="#data-table-financial"
          projectId="100"
          sectionId="107"
          maxFiles="100"
          overAllSize="10000"
          fileExt="xls, xlsx, doc, docx, jpg, jpeg, png, gif, pdf"
          (uploadStatus)="uploaderStatus($event)"
        ></app-ngx-custom-upload>
        <div class="table-list">
          <table
            id="data-table-financial"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
        </div>
      </div>
    </div>
    <div [hidden]="attachmentValidation === false" class="alert alert-danger">
      {{ attachmentsValidationMessages }}
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 btns-left">
        <button type="button" class="btn btn-info" (click)="gotoPrevious()">
          Previous
        </button>
      </div>
      <div class="col-sm-6 col-xs-12 text-right">
        <button
          type="button"
          class="btn btn-info"
          (click)="redirectToLoginScreen()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-default"
          (click)="attachmentSubmit()"
        >
          Finish
        </button>
      </div>
    </div>
  </div>
</form>
