<form (ngSubmit)="signUp(signUpForm, email, userName)" #signUpForm="ngForm">
  <div class="formWrapper">
    <div class="alert alert-danger" *ngIf="serverMessage">
      {{ serverMessage }}
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Name</label>
        <input
          type="text"
          name="userName"
          maxlength="30"
          required
          #userName="ngModel"
          noWhitespaceAllowed
          [(ngModel)]="userVerfication.name"
          placeholder="Enter Name"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (userName.errors || userName?.errors?.whitespace) &&
            signUpForm.submitted
          "
        >
          Name is required
        </div>
      </div>

      <div class="col-sm-6 form-group">
        <label class="required">Email</label>
        <input
          type="text"
          name="email"
          maxlength="60"
          required
          #email="ngModel"
          [(ngModel)]="userVerfication.email"
          pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
          placeholder="Enter Email"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="email.errors && !email.errors.pattern && !serverMessage"
          [hidden]="
            email.valid ||
            (email.pristine && !signUpForm.submitted) ||
            serverMessage
          "
        >
          Email is required
        </div>
        <div
          class="alert alert-danger"
          *ngIf="email.errors && email.errors.pattern && signUpForm.submitted"
        >
          Email is invalid
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Passcode</label>
        <div class="passcodeField">
          <input
            type="text"
            name="passCode"
            maxlength="20"
            required
            #passCode="ngModel"
            noWhitespaceAllowed
            placeholder="Enter Passcode"
            [(ngModel)]="userVerfication.passCode"
            class="form-control"
          />
          <button
            type="submit"
            [disabled]="passCodeBtnDisable"
            class="btn btn-info"
            (click)="sendPassCodeBtnPress = true"
          >
            {{ passcodeButtonValue }}
          </button>
          <div
            [hidden]="
              passCode.valid ||
              (passCode.pristine && !signUpForm.submitted) ||
              sendPassCodeConditionalValidation === false ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Passcode is required
          </div>
        </div>
        <p class="passcodeMsg">
          <!-- <label>Note: </label> Please click the "Request Passcode" button to get the generated passcode at your email address. </p> -->
          <label>Note: </label> Please click the "Request Passcode" button to
          get the generated one-time passcode (OTP) at your email address.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 text-right">
      <button
        type="button"
        class="btn btn-info"
        (click)="redirectToLoginScreen()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-default">Next</button>
    </div>
  </div>
</form>
