<form (ngSubmit)="contactPerson(contactPersonForm)" #contactPersonForm="ngForm">
  <div class="formWrapper">
    <div class="alert alert-danger" *ngIf="serverMessage">
      {{ serverMessage }}
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">
        <label class="required">Title</label>
        <angular2-multiselect
          class="form-control custom-selectbox"
          tabindex="0"
          required
          name="ContactPersonTitle"
          #ContactPersonTitle="ngModel"
          [data]="personTitles"
          [(ngModel)]="selectedContactPersonTitle"
          [settings]="contactPersonTitleSetting"
          (onSelect)="onContactPersonTitleSelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="
            ContactPersonTitle.valid ||
            (ContactPersonTitle.pristine && !contactPersonForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          Title is required
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">First Name</label>
        <input
          type="text"
          name="ContactFirstName"
          maxlength="30"
          required
          #ContactFirstName="ngModel"
          [(ngModel)]="form.firstName"
          noWhitespaceAllowed
          placeholder="Enter First Name"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (ContactFirstName.errors || ContactFirstName?.errors?.whitespace) &&
            contactPersonForm.submitted
          "
        >
          First Name is required
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label class="required">Last Name</label>
        <input
          type="text"
          name="ContactLastName"
          maxlength="30"
          required
          #ContactLastName="ngModel"
          [(ngModel)]="form.lastName"
          noWhitespaceAllowed
          placeholder="Enter Last Name"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (ContactLastName.errors || ContactLastName?.errors?.whitespace) &&
            contactPersonForm.submitted
          "
        >
          Last Name is required
        </div>
      </div>
    </div>
    <!-- <div class="row">
          <div class="col-sm-6 form-group">
              <label>First Name (Arabic)</label>
              <input type="text" name="ContactArabicFirstName" maxlength="30" #ContactArabicFirstName="ngModel" [(ngModel)]="form.arabicFirstName" placeholder="أدخل الاسم الأول باللغة العربية" class="form-control" style="text-align:right; direction:rtl" />
          </div>
          <div class="col-sm-6 form-group">
              <label>Last Name (Arabic)</label>
              <input type="text" name="ContactArabicLastName" maxlength="30" #ContactArabicLastName="ngModel" [(ngModel)]="form.arabicLastName" placeholder="أدخل اسم العائلة باللغة العربية" class="form-control" style="text-align:right; direction:rtl" />
          </div>
      </div> -->
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Job Title</label>
        <angular2-multiselect
          class="form-control custom-selectbox"
          tabindex="0"
          name="ContactJobTitle"
          [data]="jobTitles"
          [(ngModel)]="selectedContactJobTitle"
          [settings]="jobTitleSetting"
          (onSelect)="onContactJobTitleSelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="contactJobTitleValidation === false || serverMessage"
          class="alert alert-danger"
        >
          select job title or provide other job title
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label>Other Job Title</label>
        <input
          type="text"
          (input)="contactJobTitleValidation = false"
          name="ContactOtherJobTitle"
          maxlength="30"
          [(ngModel)]="form.otherJobTitle"
          placeholder="Enter Other Job Title"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Primary Contact Number</label>
        <app-ngx-phone
          [(clearValidation)]="contactPersonTelephoneValidation"
          [(selectedValue)]="form.telephoneInput"
          [(countryCode)]="form.telephoneCountryCode"
          [placeholder]="'Enter Primary Contact Number'"
        ></app-ngx-phone>
        <div
          [hidden]="contactPersonTelephoneValidation === false || serverMessage"
          class="alert alert-danger"
        >
          Primary Contact Number is required
        </div>
        <div
          *ngIf="
            form.telephoneInput &&
            form.telephoneInput.toString().length > fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>
        <!-- <p class="fieldMsg">Enter your phone number <span>e.g. +971-553827741</span></p> -->
      </div>
      <div class="col-sm-6 form-group">
        <label>Secondary Contact Number</label>
        <app-ngx-phone
          [(selectedValue)]="form.secondaryContactNumberInput"
          [(countryCode)]="form.secondaryContactNumberCode"
          [placeholder]="'Enter Secondary Contact Number'"
        ></app-ngx-phone>
        <!-- <div [hidden]="secondaryContactNumberValidation === false || serverMessage" class="alert alert-danger">Secondary Contact Number is required</div> -->
        <div
          *ngIf="
            form.secondaryContactNumberInput &&
            form.secondaryContactNumberInput.toString().length >
              fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>

        <!-- <p class="fieldMsg">Enter your phone number <span>e.g. +971-553827741</span></p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Fax</label>
        <app-ngx-phone
          [(selectedValue)]="form.contactFaxInput"
          [(countryCode)]="form.contactFaxCountryCode"
          [placeholder]="'Enter Fax'"
        ></app-ngx-phone>
        <div
          *ngIf="
            form.contactFaxInput &&
            form.contactFaxInput.toString().length > fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>
        <!-- <p class="fieldMsg">Enter your Fax number <span>e.g. +971-553827741</span></p> -->
      </div>
      <div class="col-sm-6 form-group">
        <label>Primary Email</label>
        <input
          type="text"
          name="contactPersonPrimaryEmail"
          maxlength="60"
          disabled
          [(ngModel)]="form.email"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Secondary Email</label>
        <input
          type="text"
          name="contactPersonSecondaryEmail"
          #contactPersonSecondaryEmail="ngModel"
          maxlength="60"
          [(ngModel)]="form.secondaryContactEmail"
          pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
          placeholder="Enter Secondary Email"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            contactPersonSecondaryEmail.errors &&
            contactPersonSecondaryEmail.errors.pattern &&
            contactPersonForm.submitted
          "
        >
          Secondary Email is invalid
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 btns-left">
      <button type="button" class="btn btn-info" (click)="gotoPrevious()">
        Previous
      </button>
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
      <button
        type="button"
        class="btn btn-info"
        (click)="redirectToLoginScreen()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-default">Next</button>
    </div>
  </div>
</form>
