<div class="wrapper login-page">
    <div class="main-content">
        <div class="login-container">
            <div class="loginbox-top">
                <div class="loginbox-holder login-info">
                    <div class="login-info-text">
                        <h6>Procurement Portal</h6>
                        <h2 class="custom-heading">
                          <strong>Welcome to </strong>
                          {{ appInitial.appName }}
                        </h2>
                        <p class="custom-heading">Our e-procurement solutions are designed for organizations to generate more value, influence innovation, and reduce risk. Combined with Microsoft Dynamics AX 2012, Dynamic 365 our e-procurement solution provides the visibility, insight and transparency required to improve your procurement initiatives and decisions.</p>

                        <p class="custom-heading">Our paperless environment streamlines your procurement department’s processes and integrates effortlessly to reduce your IT costs and drive impactful relations.</p>
                        <ul>
                            <!-- <li>
                                <span>
                                    <i class="custom-icon-supplier"></i> 
                                    <a href="#">
                                        Supplier Help Guides 
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </span>
                            </li> -->
                            <!-- <li>
                                <span>
                                    <i class="custom-icon-phone"></i> 
                                    <a href="tel:+971 4318 9211">   
                                        +971 4318 9211
                                    </a>
                                </span>
                            </li> -->
                            <!-- <li>
                                <span>
                                    <i class="custom-icon-email"></i> 
                                    <a href="mailto:E-SourcingPortal@systemsltd.com">
                                        E-SourcingPortal@systemsltd.com
                                    </a>
                                </span>
                            </li> -->
                        </ul>
                    </div>
                </div>

                <div class="loginbox-holder login-screen">
                    <form (ngSubmit)="login(loginForm.valid)" #loginForm="ngForm">
                        <div class="login-screen-holder">
                            <h2 class="custom-heading">Sign In</h2>
                            <p>Is your company already registered? use your company account to Sign In.</p>
                            <div class="alert alert-danger server-message" *ngIf="serverMessage">{{serverMessage}} </div>
                            <div class="form-holder">
                                <div class="form-group">

                                    <input class="form-control" maxlength="60" name="userName" type="text" placeholder="Email" [(ngModel)]="form.userName" required #userName="ngModel"
                                        pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$" />
                                    <div *ngIf="userName.errors && !userName.errors.pattern && !serverMessage" [hidden]="(userName.valid || (userName.pristine && !loginForm.submitted)) || serverMessage"
                                        class="alert alert-danger">Email is required</div>
                                    <div class="alert alert-danger" *ngIf="userName.errors && userName.errors.pattern && loginForm.submitted"> Email is invalid </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" maxlength="20" type="password" placeholder="Password" name="password" [(ngModel)]="form.password"
                                        required #password="ngModel" />
                                    <div [hidden]="(password.valid || (password.pristine && !loginForm.submitted)) || serverMessage" class="alert alert-danger">Password is required</div>
                                </div>
                                <!-- <div class="form-group captcha-holder" [hidden]="this.enableCaptacha === 0">
                                    <re-captcha class="captcha-name" (resolved)="resolved($event)" #captchaChild name="captcha" siteKey={{captchaKey}} data-toggle="tooltip"
                                        data-placement="bottom" tooltip="Verify by Clicking"></re-captcha>
                                    <div *ngIf="(!form.captcha && loginForm.submitted) && !serverMessage" class="alert alert-danger server-message">Captcha is required</div>
                                </div> -->

                                <!-- !! -->
                                <div class="form-group" [hidden]="this.enableCaptacha === 1">
                                    <img src="assets/images/capcha.png">
                                    <div class="custom-captcha" [hidden]="this.enableCaptacha === 0">
                                        <input type="text" id="RP-Hash" name="realPersonHash" style="display:none" />
                                        <input type="text" id="realPersonUser" placeholder="Please enter above text" />
                                    </div>
                                    <div *ngIf="(!form.captcha && loginForm.submitted) && !serverMessage" class="alert alert-danger server-message">Captcha is required</div>
                                </div>

                                <div class="form-group login-form-actions">
                                    <input type="submit" class="btn btn-default btn-block" value="Sign In" data-toggle="tooltip" data-placement="bottom" tooltip="Login to Vendor Portal">
                                </div>
                            </div>
                            <div class="row bottom-links">
                                <div class="col-xs-6 fp-link">
                                    <a class="btn btn-link" (click)="redirectToForgotPwdScreen()" data-toggle="tooltip" data-placement="bottom"
                                        tooltip="If you have forgotten your password, please click here to generate a new temporary password">Forgot Password?</a>
                                </div>
                                <div class="col-xs-6 rn-link">
                                    <a class="btn btn-link" (click)="redirectToRegisterScreen()" role="button"
                                        data-toggle="tooltip" data-placement="bottom" tooltip="Apply to register as a new vendor">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="login-footer">
                <p>©2020 Systems Limited. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
