<!--Start Data Title-->
<div class="data-title">
  <h2>
    View Contact - Contact ID:
    <span class="data-value">{{ model.contactDetails.contactPersonId }}</span
    >,
    <span class="data-name"
      >{{ model.contactDetails.firstName }}
      {{ model.contactDetails.lastName }}</span
    >
  </h2>
  <div class="data-actions data-btn-holder">
    <a
      [routerLink]="['/vp/contacts/edit']"
      [queryParams]="{ id: model.contactDetails.contactPersonId }"
      class="custom-btn edit-button active"
      ><i class="icon-edit"></i> <span class="name">Edit</span></a
    >
  </div>
</div>
<!--End Data Title-->

<!--Start List Details-->
<div class="form-list-detail">
  <div class="form-list-holder">
    <div class="detail-list-holder">
      <div class="main-title">
        <h2>Contact</h2>
      </div>
      <div class="detail-form readonlyFields">
        <div class="detail-form-holder">
          <div class="row">
            <div class="col-md-4 form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="model.contactDetails.firstName || empty"
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Last Name</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="model.contactDetails.lastName || empty"
                disabled
              />
            </div>

            <!-- !! -->
            <div class="col-md-4 form-group">
              <label class="control-label">Email Address</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="primaryEmail || empty"
                disabled
              />
            </div>

            <div class="col-md-4 form-group">
              <label class="control-label">Gender</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="model.contactDetails.gender || empty"
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Job Title</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="model.contactDetails.jobTitle || empty"
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Other Job Title</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="model.contactDetails.otherJobTitle || empty"
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Marital Status</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="model.contactDetails.maritalStatus || empty"
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Language</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="model.contactDetails.language || empty"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-list-holder">
      <div class="main-title">
        <h2>Address</h2>
        <div class="edit-options">
          <a
            class="add"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="true"
            >Add</a
          >
          <div class="dropdown-menu popup-detail add-address">
            <a class="close-popup">Close</a>
            <div class="form-seprator">
              <div class="form-group">
                <label class="control-label required">Name or Deciption</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Add description"
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Purpose</label>
                <select class="form-control custom-select custom-control">
                  <option selected>Business</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label required">Email</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Email"
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Phone</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Phone"
                />
              </div>
            </div>
            <div class="form-seprator">
              <h3 class="sub-heading">Address</h3>
              <div class="form-group">
                <label class="control-label required">Country/Region</label>
                <select class="form-control custom-select custom-control">
                  <option selected>Select</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label required">Zip/Postal code</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Select"
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Street</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Add Street"
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Street No.</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Add Street No."
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Building</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Add Building"
                />
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <label class="control-label required">Postal Code</label>
                  <input
                    type="text"
                    class="form-control custom-control"
                    placeholder=""
                  />
                </div>
                <div class="col-md-6 form-group">
                  <label class="control-label required">City</label>
                  <select class="form-control custom-select custom-control">
                    <option selected>Select</option>
                  </select>
                </div>
              </div>
              <div class="form-group primary-checkbox">
                <label class="control-label"
                  >Primary <input type="checkbox" readonly />
                </label>
              </div>
            </div>
            <div class="btns-holder">
              <input type="button" value="Cancel" class="btn btn-info" />
              <input
                type="button"
                value="Save and Close"
                class="btn btn-default"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="detail-form">
        <div class="detail-form-holder">
          <div class="table-list">
            <table
              id="data-table-address"
              class="display"
              cellspacing="0"
              width="100%"
            ></table>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-list-holder">
      <div class="main-title">
        <h2>Contact Information</h2>
        <div class="edit-options"><a class="add">Add</a></div>
      </div>
      <div class="detail-form">
        <div class="detail-form-holder">
          <div class="table-list">
            <table
              id="data-table-contact"
              class="display"
              cellspacing="0"
              width="100%"
            ></table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-list-buttons">
    <a (click)="getBackLink()" type="button" value="Close" class="btn btn-info"
      >Close</a
    >
  </div>
</div>
<!--End List Details-->
