<!--Start Data Title-->
<div class="data-title">
  <h2>Add Contact</h2>
</div>
<!--End Data Title-->
<!--Start List Details-->
<form
  (ngSubmit)="onSubmit(formModel.value, formModel.valid)"
  #formModel="ngForm"
>
  <div class="form-list-detail">
    <div class="form-list-holder">
      <div class="detail-list-holder">
        <div class="main-title">
          <h2>Contact</h2>
        </div>
        <div class="detail-form">
          <div class="detail-form-holder">
            <div class="row">
              <div class="col-md-4 form-group">
                <label class="control-label required">First Name</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  [(ngModel)]="model.contactDetails.firstName"
                  name="firstName"
                  #firstName="ngModel"
                  placeholder="Enter First Name"
                  noWhitespaceAllowed
                  required
                  maxlength="30"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    (firstName.errors || firstName?.errors?.whitespace) &&
                    formModel.submitted
                  "
                >
                  First Name is required
                </div>
                <!-- <div [hidden]="(!firstName.hasError('pattern') || (firstName.pristine && !formModel.submitted))" class="alert alert-danger">First Name is required</div> -->
              </div>
              <!-- <div class="col-md-4 form-group">
                                <label class="control-label">Middle Name</label>
                                <input type="text" class="form-control custom-control" [(ngModel)]="model.contactDetails.middleName" name="middleName" placeholder="Enter Middle Name"
                                    maxlength="50">
                            </div> -->
              <div class="col-md-4 form-group">
                <label class="control-label required">Last Name</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  [(ngModel)]="model.contactDetails.lastName"
                  name="lastName"
                  #lastName="ngModel"
                  placeholder="Enter Last Name"
                  noWhitespaceAllowed
                  required
                  maxlength="30"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    (lastName.errors || lastName?.errors?.whitespace) &&
                    formModel.submitted
                  "
                >
                  Last Name is required
                </div>
                <!-- <div [hidden]="(!lastName.hasError('pattern') || (lastName.pristine && !formModel.submitted))" class="alert alert-danger">Last Name is required</div> -->
              </div>
              <!-- <div class="col-md-4 form-group">
                <label class="control-label">First Name (Arabic)</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  [(ngModel)]="model.contactDetails.arabicFirstName"
                  name="arabicFirstName"
                  placeholder="أدخل الاسم الأول باللغة العربية"
                  maxlength="30"
                  style="text-align:right; direction:rtl"
                />
              </div> -->
              <!-- <div class="col-md-4 form-group">
                <label class="control-label">Last Name (Arabic)</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  [(ngModel)]="model.contactDetails.arabicLastName"
                  name="arabicLastName"
                  placeholder="أدخل اسم العائلة باللغة العربية"
                  maxlength="30"
                  style="text-align:right; direction:rtl"
                />
              </div> -->
              <div class="col-md-4 form-group">
                <label class="control-label required">Email Address</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  [(ngModel)]="primaryEmail"
                  name="email"
                  #email="ngModel"
                  placeholder="Enter Email Address"
                  pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
                  required
                  maxlength="60"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    email.errors &&
                    email?.errors?.required &&
                    formModel.submitted
                  "
                >
                  Email is required
                </div>
                <div
                  class="alert alert-danger"
                  *ngIf="
                    email.errors &&
                    email?.errors?.pattern &&
                    formModel.submitted
                  "
                >
                  Provide correct email address
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Gender</label>
                <angular2-multiselect
                  (onSelect)="onGenderSelect($event, model.contactDetails)"
                  (onDeSelect)="onGenderDeSelect($event, model.contactDetails)"
                  name="gender"
                  #gender="ngModel"
                  [data]="genderDropDownList"
                  [(ngModel)]="selectedGender"
                  [settings]="genderSetting"
                ></angular2-multiselect>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label required">Job Title</label>
                <angular2-multiselect
                  (onSelect)="onJobSelect($event, model.contactDetails)"
                  (onDeSelect)="onJobDeSelect($event, model.contactDetails)"
                  [required]="
                    model.contactDetails.otherJobTitle == '' ||
                    model.contactDetails.otherJobTitle == undefined
                  "
                  #jobTitle="ngModel"
                  name="jobTitle"
                  [data]="jobTitleDropDownList"
                  [(ngModel)]="selectedjobTitle"
                  [settings]="jobTitleSetting"
                ></angular2-multiselect>
                <div
                  [hidden]="
                    jobTitle.valid ||
                    (jobTitle.pristine && !formModel.submitted)
                  "
                  class="alert alert-danger"
                >
                  Either Job Title or Other Job Title is required
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Other Job Title</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  [(ngModel)]="model.contactDetails.otherJobTitle"
                  #otherJobTitle="ngModel"
                  name="otherJobTitle"
                  placeholder="Enter Other Job Title"
                  [required]="
                    model.contactDetails.jobTitle == '' ||
                    model.contactDetails.jobTitle == undefined
                  "
                  maxlength="30"
                />
                <div
                  [hidden]="
                    otherJobTitle.valid ||
                    (otherJobTitle.pristine && !formModel.submitted)
                  "
                  class="alert alert-danger"
                >
                  Either Job Title or Other Job Title is required
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label">Marital Status</label>
                <angular2-multiselect
                  (onSelect)="onMaritalSelect($event, model.contactDetails)"
                  (onDeSelect)="onMaritalDeSelect($event, model.contactDetails)"
                  name="maritalStatus"
                  #maritalStatus="ngModel"
                  [data]="maritalDropDownList"
                  [(ngModel)]="selectedMarital"
                  [settings]="maritalStatusSetting"
                ></angular2-multiselect>
              </div>
              <div class="col-md-4 form-group">
                <label class="control-label required">Language</label>
                <input
                  type="text"
                  style="width:0px; height:0px; visibility:hidden;"
                  class="form-control custom-control"
                  [(ngModel)]="model.contactDetails.language"
                  name="langHide"
                  #langHide="ngModel"
                  required
                />
                <angular2-multiselect
                  (onSelect)="onLangSelect($event, model.contactDetails)"
                  (onDeSelect)="onLangDeSelect($event, model.contactDetails)"
                  required
                  name="language"
                  #language="ngModel"
                  [data]="langdropdownList"
                  [(ngModel)]="selectedLang"
                  [settings]="languageSetting"
                ></angular2-multiselect>
                <!-- <div [hidden]="(!language.hasError('required') || (language.pristine && !formModel.submitted))" class="alert alert-danger">Language is required</div> -->
                <div
                  [hidden]="
                    langHide.valid ||
                    (langHide.pristine && !formModel.submitted) ||
                    serverMessage
                  "
                  class="alert alert-danger"
                >
                  Language is required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-list-holder">
        <div class="main-title">
          <h2>Address</h2>
          <div class="edit-options" style="display:block">
            <a
              class="custom-btn btn-add"
              (click)="editAddress($event, null, null, null)"
            >
              <i class="icon-add"></i>
              <span class="name">Add</span>
            </a>
          </div>
        </div>
        <div class="detail-form">
          <div class="detail-form-holder">
            <div class="table-list">
              <table
                id="data-table-address"
                class="display"
                cellspacing="0"
                width="100%"
              ></table>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-list-holder">
        <div class="main-title">
          <h2>Contact Information</h2>
          <div class="edit-options" style="display:block">
            <a
              class="custom-btn btn-add"
              (click)="editContact($event, null, null, null)"
            >
              <i class="icon-add"></i>
              <span class="name">Add</span>
            </a>
          </div>
        </div>
        <div class="detail-form">
          <div class="detail-form-holder">
            <div class="table-list">
              <table
                id="data-table-contact"
                class="display"
                cellspacing="0"
                width="100%"
              ></table>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-list-buttons">
        <button
          type="button"
          (click)="Cancel()"
          value="Close"
          class="btn btn-info"
        >
          Close
        </button>
        <button
          [disabled]="!formModel.dirty && !popup"
          type="submit"
          class="btn btn-default"
        >
          Save and Close
        </button>
      </div>
    </div>
  </div>
  <!--End List Details-->
</form>

<!--End Main Content-->

<div
  *ngIf="showAddressPopup"
  class="dropdown-menu popup-detail add-address"
  style="display:inline; position: absolute"
  [style.left]="left"
  [style.top]="top"
>
  <a class="close-popup" (click)="closeAddressPopUp()">Close</a>
  <form
    (ngSubmit)="
      onAddressEdit(
        addressModel.value,
        currentAddressPopUp.transactionId,
        currentAddressPopUp.index,
        addressModel.valid
      )
    "
    #addressModel="ngForm"
  >
    <div class="form-seprator">
      <div class="row">
        <div class="form-group col-md-6">
          <label class="control-label required">Name or Description</label>
          <input
            #nameorDescription="ngModel"
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentAddressPopUp.nameorDescription"
            name="nameorDescription"
            maxlength="20"
            noWhitespaceAllowed
            required
            placeholder="Enter description"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              (nameorDescription.errors ||
                nameorDescription?.errors?.whitespace) &&
              addressModel.submitted
            "
          >
            Name or Description is required
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label required">Country/Region</label>
          <angular2-multiselect
            required
            (onSelect)="onContrySelect($event)"
            name="countryRegion"
            #countryRegion="ngModel"
            [data]="countryDropDownList"
            [(ngModel)]="selectedCountry"
            [settings]="countrySetting"
          ></angular2-multiselect>
          <div
            [hidden]="
              countryRegion.valid ||
              (countryRegion.pristine && !addressModel.submitted)
            "
            class="alert alert-danger"
          >
            Country is required
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label required">City</label>
          <angular2-multiselect
            required
            name="city"
            #city="ngModel"
            [data]="cityDropDownList"
            [(ngModel)]="selectedCity"
            [settings]="citySetting"
          ></angular2-multiselect>
          <div
            [hidden]="city.valid || (city.pristine && !addressModel.submitted)"
            class="alert alert-danger"
          >
            City is required
          </div>
        </div>
        <div class="form-group col-md-6 ">
          <label class="control-label required">Zip/Postal Code</label>
          <input
            type="text"
            class="form-control custom-control"
            required
            name="zipPostalCode"
            #zipPostalCode="ngModel"
            [(ngModel)]="currentAddressPopUp.zipPostalCode"
            placeholder="Add Zip/Postal code"
            maxlength="20"
            noWhitespaceAllowed
          />
          <div
            class="alert alert-danger"
            *ngIf="
              (zipPostalCode.errors || zipPostalCode?.errors?.whitespace) &&
              addressModel.submitted
            "
          >
            Zip/Postal code is required
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label required">Street</label>
          <input
            required
            type="text"
            class="form-control custom-control"
            maxlength="20"
            [(ngModel)]="currentAddressPopUp.street"
            name="street"
            #street="ngModel"
            placeholder="Enter Street"
            noWhitespaceAllowed
          />
          <div
            class="alert alert-danger"
            *ngIf="
              (street.errors || street?.errors?.whitespace) &&
              addressModel.submitted
            "
          >
            Street is required
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label">Street No.</label>
          <input
            type="text"
            class="form-control custom-control"
            maxlength="3"
            (keydown)="onTextToNumberChanged($event)"
            [(ngModel)]="currentAddressPopUp.streetNo"
            name="streetNo"
            #streetNo="ngModel"
            placeholder="Enter Street No."
          />
        </div>
        <div class="form-group col-md-6">
          <label class="control-label required">Building</label>
          <input
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentAddressPopUp.building"
            name="building"
            #building="ngModel"
            placeholder="Enter Building"
            maxlength="30"
            noWhitespaceAllowed
          />
          <div
            class="alert alert-danger"
            *ngIf="
              (building.errors || building?.errors?.whitespace) &&
              addressModel.submitted
            "
          >
            Building is required
          </div>
        </div>
        <div class="col-md-6 form-group primary-checkbox">
          <label class="control-label">Primary</label>
          <div class="styledCheckbox checkbox">
            <input
              type="checkbox"
              id="primarybox3"
              [(ngModel)]="currentAddressPopUp.primary"
              name="primary"
            />
            <label for="primarybox3">
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="btns-holder">
      <input
        type="button"
        (click)="closeAddressPopUp()"
        value="Cancel"
        class="btn btn-primary"
      />
      <button
        [disabled]="!addressModel.dirty"
        type="submit"
        class="btn btn-default"
      >
        Save and Close
      </button>
    </div>

    <input
      type="hidden"
      class="form-control custom-control"
      [(ngModel)]="currentAddressPopUp.canDelete"
      name="canDelete"
    />
    <input
      type="hidden"
      class="form-control custom-control"
      [(ngModel)]="currentAddressPopUp.canEdit"
      name="canEdit"
    />
  </form>
</div>

<div
  *ngIf="showContactPopup"
  class="dropdown-menu popup-detail add-address"
  style="display:inline; position: absolute"
  [style.left]="left"
  [style.top]="top"
>
  <a class="close-popup" (click)="closeContactPopUp()">Close</a>
  <form
    (ngSubmit)="
      onContactEdit(
        contactModel.value,
        currentContactPopUp.transactionId,
        currentContactPopUp.index,
        contactModel.valid
      )
    "
    #contactModel="ngForm"
  >
    <div class="form-seprator">
      <div class="row">
        <div class="form-group col-md-6">
          <label class="control-label">Description</label>
          <input
            type="text"
            class="form-control custom-control"
            maxlength="30"
            [(ngModel)]="currentContactPopUp.description"
            name="description"
            placeholder="Enter description"
          />
        </div>
        <div class="form-group col-md-6">
          <label class="control-label required">Type</label>
          <angular2-multiselect
            (onSelect)="onTypeSelect($event, currentContactPopUp)"
            required
            name="type"
            #type="ngModel"
            [data]="typeDropDownList"
            [(ngModel)]="selectedType"
            [settings]="typeSetting"
          ></angular2-multiselect>
          <div
            [hidden]="type.valid || (type.pristine && !contactModel.submitted)"
            class="alert alert-danger"
          >
            Type is required
          </div>
        </div>
        <div
          *ngIf="currentContactPopUp.type == 'Phone'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Phone Number</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="20"
            pattern="^[0-9\+-]*$"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentContactPopUp.contactNumberAddress"
            name="contactNumberAddress"
            placeholder="Phone Number"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Phone Number is required
          </div>
          <div
            [hidden]="
              !contactNumberAddress.hasError('pattern') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Provide correct Phone Number
          </div>
        </div>
        <div
          *ngIf="currentContactPopUp.type == 'Email'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Email Address</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="60"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentContactPopUp.contactNumberAddress"
            name="contactNumberAddress"
            pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
            placeholder="Email Address"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Email Address is required
          </div>
          <div
            [hidden]="
              !contactNumberAddress.hasError('pattern') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Provide correct Email Address
          </div>
        </div>
        <div
          *ngIf="currentContactPopUp.type == 'URL'"
          class="form-group col-md-6"
        >
          <label class="control-label required">URL</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="90"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentContactPopUp.contactNumberAddress"
            pattern="((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$"
            name="contactNumberAddress"
            placeholder="URL"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            URL is required
          </div>
          <div
            [hidden]="
              !contactNumberAddress.hasError('pattern') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Provide correct URL
          </div>
        </div>
        <div
          *ngIf="currentContactPopUp.type == 'Facebook'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Facebook</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="90"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentContactPopUp.contactNumberAddress"
            name="contactNumberAddress"
            placeholder="Facebook link"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Facebook link is required
          </div>
        </div>
        <div
          *ngIf="currentContactPopUp.type == 'Twitter'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Twitter</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="90"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentContactPopUp.contactNumberAddress"
            name="contactNumberAddress"
            placeholder="Twitter link"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Twitter link is required
          </div>
        </div>
        <div
          *ngIf="currentContactPopUp.type == 'LinkedIn'"
          class="form-group col-md-6"
        >
          <label class="control-label required">LinkedIn</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="90"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentContactPopUp.contactNumberAddress"
            name="contactNumberAddress"
            placeholder="LinkedIn link"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            LinkedIn link is required
          </div>
        </div>
        <div
          *ngIf="currentContactPopUp.type == 'Telex'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Telex</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="20"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentContactPopUp.contactNumberAddress"
            name="contactNumberAddress"
            placeholder="Telex"
          />
          <div
            [hidden]="
              contactNumberAddress.valid ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Telex is required
          </div>
        </div>
        <div
          *ngIf="currentContactPopUp.type == 'Fax'"
          class="form-group col-md-6"
        >
          <label class="control-label required">Fax</label>
          <input
            #contactNumberAddress="ngModel"
            maxlength="20"
            pattern="^[0-9\+-]*$"
            required
            type="text"
            class="form-control custom-control"
            [(ngModel)]="currentContactPopUp.contactNumberAddress"
            name="contactNumberAddress"
            placeholder="Fax"
          />
          <div
            [hidden]="
              !contactNumberAddress.hasError('required') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Fax is required
          </div>
          <div
            [hidden]="
              !contactNumberAddress.hasError('pattern') ||
              (contactNumberAddress.pristine && !contactModel.submitted)
            "
            class="alert alert-danger"
          >
            Provide correct Fax
          </div>
        </div>
        <div
          *ngIf="currentContactPopUp.type != 'Email'"
          class="col-md-6 form-group primary-checkbox"
        >
          <label class="control-label">Primary</label>
          <div class="styledCheckbox checkbox">
            <input
              type="checkbox"
              id="primarybox4"
              [(ngModel)]="currentContactPopUp.primary"
              name="primary"
            />
            <label for="primarybox4">
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="btns-holder">
      <input
        type="button"
        (click)="closeContactPopUp()"
        value="Cancel"
        class="btn btn-primary"
      />
      <button
        [disabled]="!contactModel.dirty"
        type="submit"
        class="btn btn-default"
      >
        Save and Close
      </button>
    </div>
  </form>
</div>
