<div id="navMinimize" [ngClass]="headerPosition" class="">
    <app-header></app-header>
    <div class="main-content">
        <app-navigation  class="left-navigation"></app-navigation>
        <div class="container-fluid contentSection">
            <app-breadcrum *ngIf="showBreadcrumb > 0"></app-breadcrum>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>
</div>
