/*Start Fonts*/

@font-face {
    font-family: 'AvenirLTStd-Roman';
    src: url('../fonts/AvenirLTStd-Roman.eot') format('embedded-opentype'), url('../fonts/AvenirLTStd-Roman.otf') format('opentype'), url('../fonts/AvenirLTStd-Roman.woff') format('woff'), url('../fonts/AvenirLTStd-Roman.ttf') format('truetype'), url('../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Light';
    src: url('../fonts/AvenirLTStd-Light.eot') format('embedded-opentype'), url('../fonts/AvenirLTStd-Light.otf') format('opentype'), url('../fonts/AvenirLTStd-Light.woff') format('woff'), url('../fonts/AvenirLTStd-Light.ttf') format('truetype'), url('../fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url('../fonts/AvenirLTStd-Book.eot') format('embedded-opentype'), url('../fonts/AvenirLTStd-Book.otf') format('opentype'), url('../fonts/AvenirLTStd-Book.woff') format('woff'), url('../fonts/AvenirLTStd-Book.ttf') format('truetype'), url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(../fonts/Roboto-Regular.eot);
    src: url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Regular.woff) format('woff'), url(../fonts/Roboto-Regular.ttf) format('truetype'), url(../fonts/Roboto-Regular.svg#RobotoRegular) format('svg');
    font-style: normal
}

@font-face {
    font-family: 'RobotoLight';
    src: url(../fonts/Roboto-Light.eot);
    src: url(../fonts/Roboto-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Light.woff) format('woff'), url(../fonts/Roboto-Light.ttf) format('truetype'), url(../fonts/Roboto-Light.svg#RobotoLight) format('svg');
    font-style: normal
}

@font-face {
    font-family: 'RobotoMedium';
    src: url(../fonts/Roboto-Medium.eot);
    src: url(../fonts/Roboto-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Medium.woff) format('woff'), url(../fonts/Roboto-Medium.ttf) format('truetype'), url(../fonts/Roboto-Medium.svg#RobotoMedium) format('svg');
    font-style: normal
}

@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/Roboto-Bold.eot);
    src: url(../fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Bold.woff) format('woff'), url(../fonts/Roboto-Bold.ttf) format('truetype'), url(../fonts/Roboto-Bold.svg#RobotoBold) format('svg');
    font-style: normal
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url(../fonts/OpenSansRegular.eot);
    src: url(../fonts/OpenSansRegular.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSansRegular.woff) format('woff'), url(../fonts/OpenSansRegular.ttf) format('truetype'), url(../fonts/OpenSansRegular.svg#OpenSansRegular) format('svg');
    font-style: normal
}

@font-face {
    font-family: 'OpenSansLight';
    src: url(../fonts/OpenSansLight.eot);
    src: url(../fonts/OpenSansLight.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSansLight.woff) format('woff'), url(../fonts/OpenSansLight.ttf) format('truetype'), url(../fonts/OpenSansLight.svg#OpenSansLight) format('svg');
    font-style: normal
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url(../fonts/OpenSansSemiBold.eot);
    src: url(../fonts/OpenSansSemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/OpenSansSemiBold.woff) format('woff'), url(../fonts/OpenSansSemiBold.ttf) format('truetype'), url(../fonts/OpenSansSemiBold.svg#OpenSansSemiBold) format('svg');
    font-style: normal
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?z2s9o4');
    src: url('../fonts/icomoon.eot?z2s9o4#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?z2s9o4') format('truetype'), url('../fonts/icomoon.woff?z2s9o4') format('woff'), url('../fonts/icomoon.svg?z2s9o4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*End Fonts*/

[class^="icon-"],
[class*=" icon-"] ,
.custom-control.form-control .mydp .icon-mydpremove,
.custom-control.form-control .mydp .icon-mydpcalendar{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
.custom-control.form-control .mydp .icon-mydpremove:before,
.custom-control.form-control .mydp .icon-mydpcalendar:before {
    -ms-text-stroke: 0.2px;
    -webkit-text-stroke: 0.2px;
    -moz-text-stroke: 0.2px;
}


.icon-add:before {
  content: "\e900";
}
.icon-add-contact:before {
  content: "\e901";
}
.icon-add-filter:before {
  content: "\e902";
}
.icon-attachment:before {
  content: "\e903";
}
.icon-bid:before {
  content: "\e904";
}
.icon-bid-recall:before {
  content: "\e905";
}
.icon-calendar:before,
.custom-control.form-control .mydp .icon-mydpcalendar:before {
  content: "\e906";
}
.icon-contacts:before {
  content: "\e907";
}
.icon-create-invoice:before {
  content: "\e908";
}
.icon-delete:before,
.custom-control.form-control .mydp .icon-mydpremove:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-logout:before {
  content: "\e90c";
}
.icon-notifications:before {
  content: "\e90d";
}
.icon-printer:before {
  content: "\e90e";
}
.icon-profile:before {
  content: "\e90f";
}
.icon-refresh:before {
  content: "\e910";
}
.icon-rfq:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-submit:before {
  content: "\e913";
}
.icon-vendor-invoice:before {
  content: "\e914";
}
.icon-view:before {
  content: "\e915";
}
.icon-envelope:before {
  content: "\e916";
}

@font-face {
  font-family: 'custom icons';
  src: url('../fonts/custom-icons.eot');
  src: url('../fonts/custom-icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/custom-icons.woff') format('woff'),
       url('../fonts/custom-icons.ttf') format('truetype'),
       url('../fonts/custom-icons.svg#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='custom-icon-']:before{
display: inline-block;
 font-family: 'custom icons';
 font-style: normal;
 font-weight: normal;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale
}
.custom-icon-email:before{content:'\0041';}
.custom-icon-phone:before{content:'\0042';}
.custom-icon-supplier:before{content:'\0043';}
.custom-icon-group:before{content:'\0044';}
.custom-icon-home:before{content:'\0045';}
.custom-icon-request:before{content:'\0046';}
.custom-icon-noun-invoice:before{content:'\0047';}