.loginbox-top,
.header ul.navbar-nav li.user .user-info {
    display: table;
    width: 100%;
}

.loginbox-top .loginbox-holder,
.header ul.navbar-nav li.user .user-info .user-name,
.header ul.navbar-nav li.user .user-info .logout {
    display: table-cell;
}
.header ul.navbar-nav li.user .user-info .user-name,
.header ul.navbar-nav li.user .user-info .logout{
    vertical-align: middle;
}
.loginbox-top .loginbox-holder {
    width: 50%;
}