@media only screen and (min-width: 768px) {
    .fixedHeaderAndNav .topHeader {
        position: fixed;
        /*width:  100%;*/
        z-index: 150;
        left: 0px;
        right: 0;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }

    .fixedHeaderAndNav .main-content {
        /*padding-top: 60px;*/
        padding-left: 110px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }

    .fixedHeaderAndNav .left-navigation {
        position: fixed;
        left: 0;
        height: 100%;
        overflow-y: auto;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        top: 75px;
    }

    .fixedHeaderAndNav .contentSection {
        padding-top: 75px;
    }

    .nav-minimize .main-content {
        padding-left: 55px;
    }

    .main-content {
        padding-left: 110px;
        position: relative;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }

    .left-navigation {
        position: absolute;
        left: 0;
        height: 100%;
        width: 110px !important;
    }

    .nav-minimize .navbar-nav>li>a .navTxt {
        display: none;
    }

    .nav-minimize .left-navigation {
        width: 55px !important;

    }

    .left-navigation .navbar-nav>li>a {
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }

    .nav-minimize .left-navigation .navbar-nav>li>a {
        padding: 10px;
    }

    .btn-minimalize,
    .btn-minimalize:hover {
        padding: 27px 13px;
        font-size: 18px;
        cursor: pointer;
        background-color: #103E3E;
        color: #fff;
        text-align: center;
        display: inline-block;
        margin-left: -15px;
        width: 55px;
        /* margin-right: 10px; */
        line-height: 20px;
        vertical-align: top;
        margin-top: 0px;
    }

    .btn-minimalize.active {
        background-color: #fff;
        color: #103E3E;
    }

    .navbar-nav {
        float: none;
        margin: 0;
    }
}

/*Start Bootstrap Overrides*/
@media only screen and (min-width: 1024px) {
    .login-page .main-content {
        position: absolute;
        top: 50%;
        margin: auto;
        margin-top: -275px;
        left: 0;
        right: 0;
    }


}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }

    .loginbox-top .login-info {
        min-height: 492px;
    }

    /*.table-list table thead th.rfq {
        max-width: 130px;
        width: 130px !important;
    }
    .table-list table thead th.status {
        max-width: 130px;
        width: 130px !important;
    }
    .table-list table thead th.doc-type {
        max-width: 150px;
        width: 150px !important;
    }
    .table-list table thead th.bid-type {
        max-width: 60px;
        width: 60px !important;
    }
    .table-list table thead th.exp-date {
        max-width: 70px;
        width: 70px !important;
    }
    .table-list table thead th.bid {
        max-width: 40px;
        width: 40px !important;
    }
    .table-list table thead th.recall-bid {
        max-width: 70px;
        width: 70px !important;
    }
    .table-list table thead th.view {
        max-width: 40px;
        width: 40px !important;
    }
    .table-list table thead th.attached {
        max-width: 80px;
        width: 80px !important
    }*/
}

@media only screen and (max-width: 991px) {
    .tab-content-cust {
        padding: 0;
    }

    #regNav-accordion .panel-heading {
        border: 0;
        border-bottom: 1px solid #dedede;
        background: #f8f8f9;
        border-radius: 0;
        padding-left: 8px;
        padding-right: 8px;
    }

    #regNav-accordion.panel-group .panel,
    #regNav-accordion.panel-group .panel-body {
        border-radius: 0;
        background-color: transparent;
        border: 0;
        margin-bottom: 0;
    }

    #regNav-accordion.panel-group .panel+.panel {
        margin-top: 0;
    }

    .formWrapper {
        min-height: inherit;
    }

    .regBoxWrap .btn-default,
    .regBoxWrap .btn-primary,
    .regBoxWrap .btn-info {
        min-width: 100px;
    }

    #regNav-accordion .panel-heading a {
        display: block;
        max-width: none;
        text-align: left;
    }

    #regNav-accordion .panel-heading a>.icontick,
    #regNav-accordion .panel-heading a>.txt {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        margin-right: 10px;
        z-index: 2;
    }

    #regNav-accordion .panel-heading a {
        position: relative;
    }

    #regNav-accordion .panel:nth-child(1) .panel-heading a:before {
        display: none;
    }

    #regNav-accordion .panel-heading a:before {
        content: ' ';
        width: 2px;
        height: 45px;
        background: #ebebeb;
        display: block;
        position: absolute;
        left: 11px;
        top: -25px;
        z-index: 1;
    }

    #regNav-accordion .panel-heading a[aria-expanded="true"]:before,
    #regNav-accordion .panel-heading a[aria-expanded="active"]:before {
        background: #f39938;
    }

    #regNav-accordion .panel-body {
        padding-left: 30px;
        position: relative;
    }

    #regNav-accordion .panel-body:after {
        content: ' ';
        width: 2px;
        display: block;
        height: 100%;
        position: absolute;
        top: -12px;
        bottom: 0;
        left: 19px;
        background: #ebebeb;
    }

    #regNav-accordion .panel-collapse.in .panel-body:after {
        background: #f39938;
    }

    #regNav-accordion .panel.completed .panel-collapse.in .panel-body:after {
        background: #04a15c;
    }

    #regNav-accordion .panel.completed .panel-heading a {
        color: #505050;
    }

    .repeater-row label.control-label {
        display: block;
    }

    .regBoxWrap.inner-create-page .gi-tab .nav-docs.nav-justified>li>a:hover {
        background-color: #fcfcfc;
        border-color: #505050;
        color: #505050;
    }

    .inner-create-page .delete-invoice {
        position: relative;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        float: right;
        overflow: auto;
        top: auto;
        right: auto;
        margin-right: 15px;
    }

    #regNav-accordion {
        clear: both;
    }

    .flex-holder {
        display: block;
    }

    .flex-holder .detail-list-holder {
        margin-top: 20px;
    }

    .btns-left .btn {
        margin-right: 10px;
    }

    .btns-left .btn:last-child {
        margin-right: 0;
    }

    .btn-default,
    .btn-primary,
    .btn-info,
    .btn-success,
    .btn-danger {
        margin-left: 10px;
    }

    .invoice-btns,
    .gi-tab,
    .form-list-holder .regBoxWrap .formWrapper,
    .form-list-holder .regBoxWrap.inner-create-page .add-btn,
    .regBoxWrap.inner-create-page .totalAmount {
        padding-left: 0;
        padding-right: 0;
    }

    .data-title .data-actions.data-btn-holder {
        float: none;
        text-align: right;
        margin-top: 15px;
    }

    .detail-list-holder .detail-form .table-list {
        max-width: 583px;
    }

    .dropzone-box {
        margin-top: 25px;
    }

    .btns-left .btn,
    .btns-right .btn {
        min-width: 100px;
    }

    .btns-right .btn {
        margin-left: 10px;
    }

    .btns-right .btn:first-child {
        margin-left: 0;
    }

    .notification-list li>.removeBtn {
        opacity: 1;
    }

    .expiryHeader.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .expiryHeader.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child {
        padding-left: 44px;
    }

    .expiryHeader.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before {
        left: 25px;
    }
}

@media (min-width: 768px) {
    .left-navigation .navbar-nav>li {
        float: none;
    }

    .left-navigation .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ask-popup .modal-dialog {
        width: 380px;
        height: 215px;
        margin: 15% auto 0;
    }

    /*.gi-tab .nav-tabs.nav-justified>li {
        width: auto;
    }*/
}

@media only screen and (min-width: 1024px) and (max-width: 1120px) {
    .tabStyle {
        padding-left: 15px;
        padding-right: 15px;
    }

    .popup-detail.rfa-questionnaire {
        min-width: 600px;
    }

    .btn-default,
    .btn-primary,
    .btn-info,
    .btn-success,
    .btn-danger,
    .btn-custom {
        min-width: 120px;
    }

    .buttons-holder .btn-left {
        width: 25%;
    }

    .buttons-holder .btn-right {
        width: 75%;
    }

    .expiryHeader.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child {
        padding-left: 44px;
    }

    .expiryHeader.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before {
        left: 25px;
    }

    #regNav-accordion .panel-heading a,
    .tabStyle>li>a {
        min-width: 80px;
        max-width: 80px;
        font-size: 12px;
    }

    .tabStyle>li>a:before {
        left: -50px;
    }
}


/*End Bootstrap Overrides*/

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {

    .header ul.navbar-nav li.people-directory,
    .header ul.navbar-nav li.notifications {
        width: 18%;
    }

    .header ul.navbar-nav li.notifications .notification-alert {
        min-width: 320px;
    }

    /*.table-list table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
    .table-list table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
        top: 27px;
    }*/
    /* .dashboard-chart-box-holder .chart-btns .btn {
        padding: 8px 5px;
         min-width: 44.5%;
         font-size: 11px;
    } */
    .table-list table.dataTable thead th:first-child,
    .table-list table.dataTable tbody td:first-child {
        padding: 10px 8px;
        white-space: normal;
    }

    span.logoText {
        font-size: 13px;
    }

    .logoDiv {
        overflow: hidden;
        display: inline-block;
        margin-right: -25px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        height: 75px;
    }

    .fixedHeaderAndNav .contentSection {
        padding-top: 75px;
    }

    .fixedHeaderAndNav .left-navigation {
        top: 75px;
    }

    .header ul.navbar-nav li.search {
        position: relative;
    }

    .header ul.navbar-nav li.search .faq {
        margin-top: 25px;
    }

    .login-page {
        padding: 50px;
    }

    .login-container,
    .login-screen-holder {
        width: 100%;
    }

    .login-footer {
        width: 80%;
    }

    .login-screen-holder {
        max-width: 315px;
    }

    .loginbox-top .login-info {
        min-height: 480px;
    }

    .custom-heading {
        font-size: 18px;
    }

    .login-screen-holder p {
        font-size: 13px;
    }

    .login-info-text p,
    .login-extra-links {
        font-size: 14px;
    }

    .login-info-text p {
        line-height: 20px;
        margin-top: 20px;
    }

    .login-extra-links li {
        min-height: 25px;
        margin-top: 15px;
    }

    .header ul.navbar-nav li.search {

        padding: 20px 0 0;
    }

    .header ul.navbar-nav li.search a.search-link {
        /*        display: inline-block;*/
    }

    .search-holder {
        /*
        display: none;
        position: absolute;
        background-color: #fff;
        top: 100%;
        left: 0;
        right: 0;
        padding: 15px 10px;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
*/
    }

    .header ul.navbar-nav li.search .navbar-form {
        margin: 0;
    }

    .header ul.navbar-nav li.user {
        /*        width: 30%;*/
    }

    .table-list table.dataTable>tbody>tr.child ul.dtr-details {
        width: 100%;
    }

    .table-list .dataTables_wrapper .dataTables_info {
        margin-right: 15px;
    }

    .goto-label {
        padding: 0 10px 15px;
        float: none;
        clear: both;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }

    .go-btn > .btn {
        margin-left: 0px;
    }

    .filter-box .filter-box-holder li.case-id,
    .filter-box .filter-box-holder li.filter-type {
        width: 180px;
    }

    .header ul.navbar-nav li.notifications .notification-alert {
        min-width: 320px;
    }

    .main-content .breadcrumb {
        font-size: 13px;
    }

    .dashboard-chart-box,
    .activity-feed {
        margin-bottom: 25px;
    }

    .dashboard-activity-box {
        margin: 0;
    }

    .dashboard-chart-box-holder .chart-btns .btn {
        padding: 8px 15px;
    }

    .reg-top {
        width: 80%;
    }

    .table-list table thead th,
    .table-list table tbody td {
        /*
        overflow: hidden;
        text-overflow: ellipsis;
*/
        white-space: normal;
    }

    .table-list {
        border: 0;
    }

    .table-list table.dataTable thead th,
    .table-list table.dataTable thead td,
    .table-list table.dataTable tbody th,
    .table-list table.dataTable tbody td {
        padding: 10px 15px;
        box-sizing: border-box;
        white-space: nowrap;
    }

    .filter-box {
        padding: 65px 15px 20px;
        position: relative;
    }

    .filter-box .filter-box-holder li.filter-btn,
    .filter-box .filter-box-holder li.refresh-btn {
        float: right;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .filter-box .filter-box-holder li.refresh-btn {
        right: auto;
        left: 0;
    }

    .table-list .dataTables_wrapper .dataTables_length {
        margin-right: 5px;
    }

    .table-list .dataTables_wrapper .dataTables_info {
        margin-right: 10px;
    }

    .table-list .dataTables_wrapper .dataTables_length label {
        width: 80px;
        padding-left: 40px;
    }

    .login-page,
    .supplierguide-cust {
        padding: 50px 20px;
    }

    .guide-listing li {
        margin-bottom: 25px;
        width: 33%;
    }

    .table-list {
        max-width: 628px;
        max-width: 100%;
    }

    .popup-detail.rfa-questionnaire {
        min-width: 570px;
        left: auto !important;
        right: 50px;
    }

    .btn-default,
    .btn-primary,
    .btn-info,
    .btn-success,
    .btn-danger {
        min-width: 100px;
    }

    .rfq-header .bid-progress-holder {
        width: 60%;
    }

    .filter-box .filter-box-holder .case-id,
    .filter-box .filter-box-holder .filter-type {
        width: 228px;
    }
}

@media screen and (max-width: 767px) {

    .login-page,
    .login-screen {
        padding: 0;
    }

    .login-container,
    .login-footer,
    .login-screen-holder {
        width: 100%;
    }

    .loginbox-top {
        display: block;
        border-radius: 0;
        box-shadow: none;
    }

    .login-extra-links {
        position: relative;
        bottom: auto;
        left: auto;
        background: url(../images/pattern-overlay.png) repeat;
        padding: 15px;
        font-size: 15px;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
    }

    .login-extra-links li {
        min-height: 25px;
        margin-top: 15px;
    }

    /*.bottom-links .fp-link,
    .bottom-links .rn-link,*/
    .login-screen-holder .custom-heading,
    .login-screen-holder p {
        text-align: center;
    }

    .login-info-text {
        /* background: url(../images/login-bg-res.png) no-repeat center;
        background-size: cover; */
        padding: 15px;
    }

    .loginbox-top .login-info {
        padding: 30px 20px;
    }

    .rn-link .btn-link {
        width: 118px;
        height: 34px;
    }

    .login-info-text .custom-heading,
    .login-info-text .custom-heading strong {
        font-size: 22px;
        color: #fff;
    }

    .loginbox-holder.login-info .login-info-text ul li {
        font-size: 15px;
    }

    .login-info-text .custom-heading strong {
        display: inline;
    }

    .login-info-text p {
        color: #fff;
        margin: 15px 0 0;
        line-height: 20px;
        font-size: 13px;
    }

    .login-screen-holder {
        padding: 25px 20px;
    }

    .header {
        height: auto;
        box-shadow: none;
        position: relative;
    }

    .header .container-fluid {
        
    }

    .header ul.navbar-nav {
        margin: 0;
        position: relative;
    }

    .header .navbar-header {
        position: absolute;
        z-index: 5;
        margin: 13px 0 0 10px;
    }

    .header .navbar-header .navbar-toggle {
        margin: 0;
    }

    .header .navbar-header .navbar-toggle .icon-bar {
        background-color: #202426;
        width: 26px;
        height: 3px;
        border-radius: 0;
    }

    .header ul.navbar-nav>li,
    .header ul.navbar-nav>li.people-directory,
    .header ul.navbar-nav>li.notifications {
        float: left;
        width: 33.33%;
    }

    .search-holder {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: #fff;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        text-align: left;
        padding: 15px;
    }

    .header ul.navbar-nav li.search {
        position: unset;
    }

    .header ul.navbar-nav li.search .faq {
        margin-right: 15px;
    }

    .header ul.navbar-nav li.search .faq-dropdown {
        max-width: initial;
    }

    .header ul.navbar-nav li.notifications .notification-alert {
        right: -100px;
        left: auto;
        min-width: 300px;
        background-color: #fff;
        position: absolute;
        border-color: #e5e5e5;
        border-radius: 0;
    }

    .header ul.navbar-nav li.search .navbar-form {
        margin: 0;
        text-align: left;
    }

    .header ul.navbar-nav li.search .navbar-form .form-group {
        display: inline-block;
        vertical-align: middle;
        width: 85%;
    }

    .header ul.navbar-nav li.search {
        text-align: center;
        padding: 20px 0 0;
    }

    .header ul.navbar-nav li.search a.search-link {
        display: inline-block;
        width: 36px;
        font-size: 30px;
        color: #5f6369;
        line-height: 38px;
    }

    .header ul.navbar-nav li.search a.search-link .icon-search:before {
        -ms-text-stroke: 0.5px;
        -webkit-text-stroke: 0.5px;
        -moz-text-stroke: 0.5px;
    }

    .logoDiv {
        /* float: right; */
        padding-right: 50px;
        display: block;
        padding-left: 50px;
        text-align: center;
    }

    a.logoDiv>img {
        margin-right: 8px;
    }

    .login-header .logoText i {
        color: #fff;
    }

    .header ul.navbar-nav li.search,
    .header ul.navbar-nav li.people-directory,
    .header ul.navbar-nav li.notifications,
    .header ul.navbar-nav li.user {
        width: 33.33%;
        padding: 15px 15px 7px 15px;
        height: auto;
    }

    .header ul.navbar-nav .open .dropdown-menu {
        position: absolute;
        right: 0;
        padding: 0;
        background: #fff;
        left: auto;
        border: 1px solid #ddd;
    }

    .header ul.navbar-nav .open .dropdown-menu li.user-name {
        padding: 8px 15px 8px 25px;
        background: #212529;
        color: #fff;
    }

    /*.header ul.navbar-nav li.user {
        border-bottom: 1px solid #e5e5e5;
        -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 2;
        max-width: 100%;
    }
    .header ul.navbar-nav li.user .user-info {
        float: right;
        width: 80%;
    }
    .header ul.navbar-nav li.user {
        width: 100%;
    }*/
    .header ul.navbar-nav li.user {
        min-width: initial;
    }

    #navMinimize {
        position: relative;
    }

    .left-navigation {
        width: 0;
        transition: 0.5s;
        z-index: 10;
        top: 0;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .header ul.navbar-nav li.notifications {
        border-right: 0;
        float: right;
    }

    .main-content {
        display: block;
        position: static;
    }

    .left-navigation .mobile-header {
        display: block;
        background: url(../images/login-bg-res.png) no-repeat center;
        background-size: cover;
        min-height: 110px;
        padding: 45px 0 0;
    }

    .left-navigation .mobile-header .close-menu {
        font-size: 0;
        position: absolute;
        width: 15px;
        height: 15px;
        right: 10px;
        top: 10px;
        background: url(../images/close-menu.png) no-repeat center;
        cursor: pointer;
    }

    .left-navigation .mobile-header .menu-title {
        margin: 0;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'RobotoMedium';
        text-align: center;
        color: #fff;
    }

    .left-navigation .navbar-nav {
        margin: 0;
    }

    .left-navigation .navbar-nav>li {
        font-size: 13px;
    }

    .left-navigation .navbar-nav>li a {
        text-align: left;
        white-space: nowrap;
    }

    .left-navigation .navbar-nav>li a i {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;
        font-size: 22px;
        width: auto;
    }

    .left-navigation .navbar-nav>li a i.icon-home {}

    .main-content .breadcrumb,
    .data-title h2 {
        display: block;
    }

    .main-content .breadcrumb,
    .data-title {
        margin-top: 15px;
    }

    .data-title {
        /*        padding: 15px;*/
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 0;
    }

    .data-actions {
        margin-top: 15px;
    }

    .filter-box {
        padding: 60px 15px 20px;
        position: relative;
        margin-top: 15px;
    }

    .filter-box .filter-box-holder li.filter-btn,
    .filter-box .filter-box-holder li.refresh-btn {
        position: absolute;
        top: 12px;
    }

    .filter-box .filter-box-holder li.filter-btn {
        right: 10px;
    }

    .filter-box .filter-box-holder li.refresh-btn {
        left: 0;
    }

    .filter-box .filter-box-holder li.case-id,
    .filter-box .filter-box-holder li.filter-type {
        width: 78%;
        margin-bottom: 10px;
    }

    .filter-box .filter-box-holder.filter-result {
        margin-top: 0;
    }

    .filter-box .filter-box-holder .case-id,
    .filter-box .filter-box-holder .filter-type {
        width: 210px;
        margin-bottom: 10px;
    }

    .table-list table.dataTable thead th,
    .table-list table.dataTable thead td,
    .table-list table.dataTable tbody th,
    .table-list table.dataTable tbody td {
        padding: 10px;
    }

    .table-list .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
    }

    .table-list .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
    .table-list .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        margin: 0;
    }

    .dataTables_wrapper>div:nth-child(4) {
        direction: rtl;
    }

    .table-list .dataTables_wrapper .dataTables_info,
    .table-list .dataTables_wrapper .dataTables_length {
        display: inline-block;
        vertical-align: middle;
        margin: 5px 10px;
        float: none;
        direction: ltr;
    }

    .goto-label {
        float: none;
        margin-top: 0;
        margin-right: 0;
        text-align: center;
        padding-bottom: 10px;
    }

    .dataTables_wrapper>div {
        text-align: center;
    }

    /*.table-list .dataTables_wrapper .dataTables_info {
        margin-top: 15px;
        margin-right: 10px;
        width: auto;
    }
    .table-list .dataTables_wrapper .dataTables_length {
        float: left;
        margin-top: 5px;
        margin-left: 10px;
    }
    .table-list table.dataTable>tbody>tr.child ul.dtr-details {
        width: 100%;
    }
    .goto-label {
        float: none;
        margin: 0;
        padding: 10px;
    }*/
    .footer {
        margin-top: 25px;
        padding-top: 15px;
        text-align: center;
    }

    .repeater-row label.control-label {
        display: block;
    }

    .dashboard-panel {
        padding-top: 30px;
    }

    .dashboard-chart-box-holder,
    .activity-feed-holder,
    .supplier-guide {
        padding: 20px 10px;
    }

    .activity-feed-holder {
        min-height: 300px;
    }

    .dashboard-chart-box-holder,
    .activity-feed {
        margin-bottom: 25px;
    }

    /* .dashboard-chart-box-holder .chart-btns .btn {
        padding: 8px 9px;
        min-width: 45%;
    } */

    .dashboard-chart-box-holder .chart-btns .btn {
        margin: 0 5px;
    }

    .dashboard-activity-box {
        margin-top: 0;
    }

    .supplier-guide-tabs {
        margin: 0 -10px;
    }

    .need-assist {
        margin-top: 25px;
        height: auto;
    }

    .data-actions.data-btn-holder,
    .data-title .data-actions.data-btn-holder {
        margin-top: 15px;
    }

    .repeater-row+.repeater-row {
        border-top: 1px solid #e9e9e9;
        padding-top: 25px;
    }

    .btn-default,
    .btn-primary,
    .btn-info,
    .btn-success,
    .btn-danger {
        min-width: auto;
    }

    .btns-holder .btn {
        padding: 8px 10px;
        margin: 0 5px;
    }

    .form-list-holder .detail-list-holder:last-child .popup-detail {
        top: 100%;
        bottom: auto;
        right: 0;
        min-width: 250px;
    }

    .reg-top {
        width: 100%;
        background: url(../images/login-bg-res.png) no-repeat center center;
        min-height: 150px;
        color: #fff;
        background-size: cover;
    }

    .reg-top>h2 {
        color: #fff;
        padding-top: 60px;
    }

    .regBoxWrap .btn-default,
    .regBoxWrap .btn-primary,
    .regBoxWrap .btn-info {
        min-width: 100%;
        margin-left: 5px;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 5px;
    }

    .nav-docs.nav-justified>li>a {
        border-left-color: #b5b5b5;
    }

    .nav-docs.nav-justified>li:first-child>a,
    .nav-docs.nav-justified>li:last-child>a {
        border-radius: 0;
    }

    .nav-docs.nav-justified>li {
        margin-top: -1px;
    }

    .table-list {
        max-width: 100%;
        border: 0;
    }

    .edit-options {
        float: none;
        text-align: right;
    }

    .edit-options,
    .main-title .edit-options {
        margin-top: 15px;
    }

    .checkbox-box .edit-options {
        float: right;
    }

    .btn.btn-attached {
        white-space: normal;
        word-break: break-word;
    }

    .sp-doc {
        height: auto;
        display: inline-block;
        width: 100%;
    }

    .sp-doc-list {
        width: 100%;
        max-width: 100%;
    }

    .sp-doc-list li {
        margin: 10px 0 0;
        display: block;
    }

    .buttons-holder .btn {
        width: 100%;
        margin: 10px 0 0;
    }

    .dropzone-box {
        margin-top: 25px;
        margin-bottom: 25px;
        overflow: hidden;
    }

    .bid-form-holder .totalAmount {
        margin: 15px 0;
    }

    .detail-list-holder .detail-form .buttons-holder {
        padding-top: 0;
    }

    #clockdiv .time {
        width: 50px;
        height: 60px;
        padding: 15px 2px 0;
        text-align: center;
    }

    #clockdiv .time span {
        font-size: 20px;
        line-height: 15px;
    }

    #clockdiv .time .smalltext {
        font-size: 10px;
        text-align: center;
        margin: 5px 3px 0;
    }

    .totalAmount {
        font-size: 13px;
    }

    .totalAmount small {
        font-size: 11px;
    }

    .form-list-holder .regBoxWrap .formWrapper {
        padding: 0;
    }

    .form-list-holder .regBoxWrap.inner-create-page .add-btn,
    .invoice-btns,
    .gi-tab {
        padding-left: 0;
        padding-right: 0;
    }

    .flex-holder {
        display: block;
    }

    .flex-holder .detail-list-holder {
        margin-top: 20px;
    }

    .passcodeField .btn.btn-primary {
        min-width: 75px;
        margin-top: 0;
    }

    .detail-list-buttons .btn {
        width: 100%;
        margin: 10px 0 0;
    }

    .supplierguide-cust {
        padding: 20px;
    }

    .guide-listing li {
        width: 100%;
        margin-bottom: 20px;
    }

    .popup-detail.rfa-questionnaire {
        min-width: 90%;
        left: 0;
    }

    .rfq-header h2 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 14px;
        font-weight: 700;
        border: 0;
        max-width: 100%;
    }

    .rfq-header .bid-progress-holder {
        width: 100%;
    }

    .btns-left .popup-detail.rfa-questionnaire .buttons-holder {
        padding: 10px;
    }

    .rfa-questionnaire .buttons-holder .btn-right .btn {
        margin-left: 0;
        margin-right: 0;
    }

    .rfa-questionnaire .buttons-holder .btn-left,
    .rfa-questionnaire .buttons-holder .btn-right {
        float: none;
    }

    .rfa-questionnaire .buttons-holder .btn.btn-custom {
        padding: 10px 20px;
    }

    .popup-detail,
    .popup-detail.add-attachment {
        min-width: 250px;
        max-width: 250px;
        /*right: 0;*/
    }

    .popup-detail .form-seprator,
    .popup-detail .btns-holder {
        padding: 10px;
    }

    .popup-detail .form-seprator .form-group.primary-checkbox {
        margin-top: 15px;
    }

    .filter-repeater .go-remove {
        right: -20px;
    }

    .sp-doc .attached {
        margin-top: 2px;
    }

    .sp-doc .btn-custom {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .filter-repeater .go-remove {
        right: -35px;
    }

    .filter-box .filter-box-holder li.filter-btn {
        margin-left: 10px;
        padding-left: 10px;
    }

    .btn-refresh {
        padding-left: 10px;
    }

    /*Added by Safdar*/
    .login-header img {
        width: 60px;
    }

    .passcodeField .btn {
        position: absolute;
        right: 0;
        top: 0;
        height: 38px;
        padding: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        min-width: inherit;
    }

    .detail-list-holder .detail-form .form-group {
        overflow: hidden;
    }

    /*Added by Safdar*/
}

@media only screen and (max-width: 370px) {
    .dropdown-single {
        max-width: 80px;
        width: 80px;
    }
}

@media only screen and (max-width: 400px) {
    .dropdown-single {
        max-width: 105px;
        width: 105px;
    }
}

@media only screen and (max-width: 500px) {
    .filter-box .filter-repeater-holder {
        width: 69%;
    }

    .filter-box .go-btn {
        width: 18%;
    }

    .go-btn>.btn {
        padding-left: 10px;
        padding-right: 10px;
    }

    .filter-box .filter-box-holder .filter-repeater-holder,
    .filter-box .filter-box-holder .go-btn {
        vertical-align: bottom;
    }

    .filter-box .filter-box-holder .case-id,
    .filter-box .filter-box-holder .filter-type {
        width: 100%;
        margin-bottom: 0px;
    }

    .filter-box .filter-box-holder .filter-type {
        margin-top: 10px;
    }

    .btn-go,
    .filter-box .btn-go:active {
        margin-bottom: 3px;
    }

    .filter-box .form-control {
        height: 38px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .table-list .dataTables_wrapper .dataTables_paginate {
        float: left;
        text-align: left;
        margin-top: 0;
        padding-top: 10px;
    }

    .table-list .dataTables_wrapper .dataTables_info,
    .table-list .dataTables_wrapper .dataTables_length {
        float: right;
        margin-top: 10px;
    }

    .table-list .dataTables_wrapper .dataTables_info {
        margin-top: 20px;
    }
}