<div class="login-page register-page">
  <div class="login-container register-container">
    <div class="reg-top">
        <h2>Register Now</h2>
    </div>
      <div class="regBoxWrap regOrg">
          <div class="clearfix">
              <ul id="regNav" class="nav nav-tabs tabStyle">
                  <li *ngFor="let tab of tabs" [ngClass]="tab.activated" [style.display]="tab.allowRender === true ?'':'none'">
                      <a href="#{{tab.hrefTab}}" data-toggle="tab" attr.aria-expanded="{{tab.expanded}}" class="inactiveLink">
                          <span class="icontick"></span>
                          <span class="txt"> {{tab.name}} </span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="tab-content tab-content-cust">
              <div class="tab-pane fade" id="Tab01" [ngClass]="currentTab.name === 'User Verification'? currentTab.isActive :'hideTab'">
                  <app-signup #appsignup [(userVerfication)]="verificationRequest" (signup)="signUp($event)" (notifyServerMessage)="notifyMessage($event)"
                      (next)="next($event)" (previous)="previous($event)" (loadProfile)="loadProfile($event)">
                  </app-signup>
              </div>
              <div class="tab-pane fade" id="Tab02" [ngClass]="currentTab.name === 'Organization Type'? currentTab.isActive :'hideTab'">
                  <app-org-type #apporgtype [(form)]="orgRequest" (organizationSumit)="organizationType($event)" (notifyServerMessage)="notifyMessage($event)"
                      (next)="next($event)" (previous)="previous($event)" (changeCountryInCAD)="fillCountryInCAD($event)" >
                  </app-org-type>
              </div>
              <div class="tab-pane fade" id="Tab03" [ngClass]="currentTab.name === 'General  Information'? currentTab.isActive :'hideTab'">
                  <app-general-info #appgeneralinfo [(orgTypeData)]="orgRequest" [(isPerson)]="isPerson" [(vatDisclamerText)]="vatDisclamerText" [(form)]="generalInfoRequest"
                      (generalInfoSumit)="generalInfo($event)" (notifyServerMessage)="notifyMessage($event)" (next)="next($event)"
                      (previous)="previous($event)">
                  </app-general-info>
              </div>
              <div class="tab-pane fade" id="Tab04" [ngClass]="currentTab.name === 'Company Address Details' || currentTab.name === 'Address Details'? currentTab.isActive :'hideTab'">
                  <app-address-detail #appaddressdetail [(orgTypeData)]="orgRequest" [(form)]="addressDetailRequest" (addressDetailSumit)="companyAddress($event)" (notifyServerMessage)="notifyMessage($event)"
                      (next)="next($event)" (previous)="previous($event)">
                  </app-address-detail>
              </div>
              <div class="tab-pane fade" id="Tab05" [ngClass]="currentTab.name === 'Contact Person Information'? currentTab.isActive :'hideTab'">
                  <app-contact-person-info #appcontactpersoninfo [(form)]="contactPersonRequest" (contactPersonSumit)="contactPerson($event)"
                      (notifyServerMessage)="notifyMessage($event)" (next)="next($event)" (previous)="previous($event)">
                  </app-contact-person-info>
              </div>
              <div class="tab-pane fade" id="Tab06" [ngClass]="currentTab.name === 'Finance Person Details' ? currentTab.isActive :'hideTab'">
                  <app-finance-person-info #appfinancepersoninfo [(contactPersonData)]="contactPersonRequest" [(form)]="financePersonRequest" (financePersonSubmit)="financePerson($event)"
                      (notifyServerMessage)="notifyMessage($event)" (next)="next($event)" (previous)="previous($event)">
                  </app-finance-person-info>
              </div>
              <div class="tab-pane fade" id="Tab07" [ngClass]="currentTab.name === 'Procurement Categories'? currentTab.isActive :'hideTab'">
                  <app-precurement-categories #appprecurementcategories [(form)]="precurementCategoryRequest" (precurementCategorySubmit)="precurementCategory($event)"
                      (notifyServerMessage)="notifyMessage($event)" (next)="next($event)" (conditionalBack)="specialCaseBackPrecurementCategories($event)">
                  </app-precurement-categories>
              </div>
              <div class="tab-pane fade" id="Tab08" [ngClass]="currentTab.name === 'Terms and Conditions'? currentTab.isActive :'hideTab'">
                  <app-term-and-condition #apptermandcondition [(form)]="termAndCondition" (termAndCondition)="termAndConditionSubmit($event)"
                      (notifyServerMessage)="notifyMessage($event)" (next)="next($event)" (previous)="previous($event)">
                  </app-term-and-condition>
              </div>

              <div class="tab-pane fade" id="Tab11" [ngClass]="currentTab.name === 'Non Disclosure Agreement'? currentTab.isActive :'hideTab'">
                  <app-non-disclosure #appnondisclosure [(form)]="termAndCondition" (termAndCondition)="nonDisclosuretermAndConditionSubmit($event)"
                      (notifyServerMessage)="notifyMessage($event)" (next)="next($event)" (previous)="previous($event)">
                  </app-non-disclosure>
              </div>

              <div class="tab-pane fade" id="Tab09" [ngClass]="currentTab.name === 'Document Attachment(s)'? currentTab.isActive :'hideTab'">
                  <app-document-attachment #appdocumentattachment
                  [(isPerson)]="isPerson"
                  (attachment)="attachmentSubmit($event)"
                  (notifyServerMessage)="notifyMessage($event)"
                  (next)="next($event)" (previous)="previous($event)"
                  [(attachmentsTabs)]="attachmentTabs">
                  </app-document-attachment>
              </div>

              <div class="tab-pane fade" id="Tab10" [ngClass]="currentTab.name === 'Done'? currentTab.isActive :'hideTab'">
                  <div class="formWrapper">
                      <div class="finishIcon"> All Done! </div>
                      <p class="finishMsg">Thank you for registering with us, your request is under review and you will receive your user name
                          and password once your registration request is approved</p>
                  </div>
                  <div class="row">
                      <div class="col-md-12 text-right">
                          <button type="button" class="btn btn-info" (click)="redirectToLoginScreen()">Close</button>
                      </div>
                  </div>
              </div>

              <!-- <div class="tab-pane fade" id="Tab12" [ngClass]="currentTab.name === 'Payment'? currentTab.isActive :'hideTab'">
                  <div class="formWrapper">
                      <div class="row">
                          <div class="col-sm-6 form-group">
                              <!-- <label class="required">Email </label> -->
                              <!-- <div class="passcodeField"> -->
                                  <!-- <input type="text" name="email" placeholder="Enter email" [(ngModel)]="paymentEmail" class="form-control" /> -->
                              <!-- </div> -->
                          <!-- </div>
                      </div>

                      <button type="button" class="btn btn-info" (click)="paymentOnline()" >Payment Online</button>
                      <button type="button" class="btn btn-info" (click)="paymentDGW()" >Payment at DGW</button>
                  </div>
                  <div class="row">
                      <div class="col-md-12 text-right">
                          <button type="button" class="btn btn-info" (click)="redirectToLoginScreen()">Close</button>
                      </div>
                  </div>
              </div>  -->

          </div>
      </div>
  </div>
  <div class="login-footer">
    <!-- <p>©2019 Dubai Government Workshop. All rights reserved.</p> -->
</div>
</div>
