<div class="col-md-8 activity-feed">
  <div class="activity-feed-holder">
    <div class="custom-heading">
      <h3>Activity Feed</h3>
      <div class="edit-options">
        <button
          (click)="refreshActivityFeed()"
          type="button"
          class="refereshIcon"
          data-placement="bottom"
          data-toggle="tooltip"
          tooltip="Refresh"
        >
          <span class="glyphicon glyphicon-repeat"></span>
        </button>
      </div>
    </div>
    <div class="no-notification">
      <span>You don't have any activity yet.</span>
    </div>
    <div class="mCustomScrollbar feed-list-holder">
      <div
        class="alert-info"
        style="background-color: transparent; text-align:center"
        *ngIf="feeds.length === 0"
      >
        {{ messageText }}
      </div>
      <ul class="list-unstyled feed-listing" *ngFor="let feed of feeds">
        <li class="list" [ngClass]="feed.icon">
          <p>
            <a>{{ feed.message }}</a>
          </p>
          <span class="user-detail"
            ><strong class="name">{{ feed.activityBy }}</strong>
            <small class="time">{{ feed.timeElapsed }} </small>
          </span>
        </li>
      </ul>
      <div
        class="alert-info"
        style="background-color: transparent; text-align:center"
        *ngIf="moreRecords === false && feeds.length > 0"
      >
        No more records found
      </div>
      <div
        class="load-more"
        *ngIf="moreRecords === true && recordCount > acitivityFeedPaging"
      >
        <a
          (click)="loadActivityAtScrollEnd()"
          class="load-more-button"
          [ngClass]="loading"
        >
          <span>Load More</span>
        </a>
      </div>
    </div>
  </div>
</div>
