<app-ng-sys-grid #rfqGrid [title]="title" [url]="serviceUrl" [appbase]="appbase" [gridType]="gridType" [columnsDefination]="columnsDefination"
    [inputColumns]="columns" (bidRecall)="bidRecall($event)" (bid)="bid($event)" (viewDetail)="viewDetail($event)" (popUp)="attachment($event)"
    (loadTooltip)="loadTooltip()">
</app-ng-sys-grid>

<div *ngIf="show" class="dropdown-menu popup-detail" style='display:inline; position: absolute' [style.left]="left" [style.top]="top">
    <a class="close-popup" (click)="closePopUp()">Close</a>

    <h5>Attachments</h5>

    <div class="form-group">
        <label class="control-label">RFQ Document
            <!-- <a *ngIf="currentPopupItem.rfqDoc && currentPopupItem.rfqDoc.length > 1"
                style="cursor: pointer" (click)="downloadAllAttachment('RFQ Document','RFQPrintForm')" class="pull-right">Download All</a> -->
        </label>

        <span *ngIf="currentPopupItem.rfqDoc && currentPopupItem.rfqDoc.length === 0">No attachment found</span>
        <ul class="list-unstyled attachmet-list">
            <li *ngFor="let attachment of currentPopupItem.rfqDoc">
                <a style="cursor: pointer" (click)="downloadAttachment(attachment)">{{attachment.fileName}}</a>
            </li>
        </ul>
    </div>

    <div class="form-group">
        <label class="control-label">Supporting Documents
            <!-- <a *ngIf="currentPopupItem.rfqSupportingDoc && currentPopupItem.rfqSupportingDoc.length > 1"
                style="cursor: pointer" (click)="downloadAllAttachment('Supporting Documents','RFQSupportDoc')" class="pull-right">Download All</a> -->
        </label>

        <span *ngIf="currentPopupItem.rfqSupportingDoc && currentPopupItem.rfqSupportingDoc.length === 0">No attachment found</span>
        <ul class="list-unstyled attachmet-list">
            <li *ngFor="let attachment of currentPopupItem.rfqSupportingDoc">
                <a style="cursor: pointer" (click)="downloadAttachment(attachment)">{{attachment.fileName}}</a>
            </li>
        </ul>
    </div>
    <!-- <div class="form-group">
        <label class="control-label">Technical Proposal Documents
            <a *ngIf="currentPopupItem.rfqTechnicalDoc && currentPopupItem.rfqTechnicalDoc.length > 1" style="cursor: pointer"
                (click)="downloadAllAttachment('Technical Documents','RFQTechProposalDoc')" class="pull-right">Download All</a>
        </label>

        <span *ngIf="currentPopupItem.rfqTechnicalDoc && currentPopupItem.rfqTechnicalDoc.length === 0">No attachment found</span>
        <ul class="list-unstyled attachmet-list">
            <li *ngFor="let attachment of currentPopupItem.rfqTechnicalDoc">
                <a style="cursor: pointer" (click)="downloadAttachment(attachment)">{{attachment.name}}</a>
            </li>
        </ul>
    </div> -->
    <!-- <div class="form-group">
        <label class="control-label">Financial Proposal Documents
            <a *ngIf="currentPopupItem.rfqFunctionalDoc && currentPopupItem.rfqFunctionalDoc.length > 1" style="cursor: pointer"
                (click)="downloadAllAttachment('Functional Documents','RFQFuncProposalDoc')" class="pull-right">Download All</a>
        </label>

        <span *ngIf="currentPopupItem.rfqFunctionalDoc && currentPopupItem.rfqFunctionalDoc.length === 0">No attachment found</span>
        <ul class="list-unstyled attachmet-list">
            <li *ngFor="let attachment of currentPopupItem.rfqFunctionalDoc">
                <a style="cursor: pointer" (click)="downloadAttachment(attachment)">{{attachment.name}}</a>
            </li>
        </ul>
    </div> -->
</div>
