<!--Start Left Navigation-->

<div class="mobile-header">
    <a class="close-menu">Close</a>
    <h2 class="menu-title">Menu</h2>
</div>

<ul class="nav navbar-nav">
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/vp/home']">
            <i class="custom-icon-home"></i>
            <span class="navTxt">Home</span>
        </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/vp/vendor-profile']">
            <i class="custom-icon-group"></i>
            <span class="navTxt">Profile</span>
        </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/vp/rfqs']">
            <i class="custom-icon-request"></i>
            <span class="navTxt">Request for Quotations</span>
        </a>
    </li>
    <!-- ! -->
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/vp/p-orders']">
            <i class="custom-icon-request"></i>
            <span class="navTxt">Purchase Orders</span>
        </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/vp/contacts']">
            <i class="custom-icon-noun-invoice"></i>
            <span class="navTxt">Contacts</span>
        </a>
    </li>
</ul>
