<ngx-loading-bar [includeSpinner]="false" [height]="'5px'" [color]="'#103E3E'"></ngx-loading-bar>
<app-custom-loader></app-custom-loader>
<div [hidden]="loading">
  <router-outlet></router-outlet>
  <simple-notifications [options]="options"></simple-notifications>
</div>
