<div class="col-md-6 dashboard-chart-box">
  <div class="dashboard-chart-box-holder">
    <div class="custom-heading">
      <h3>Purchase Orders</h3>
    </div>
    <div class="chart-holder">
      <div
        id="chart02"
        [chart]="chart"
        style="width: 100%; height: 290px; margin: 0 auto"
      ></div>
    </div>
    <div class="chart-btns"></div>
  </div>
</div>
