<!--Start Breadcrumbs-->
<ul class="list-unstyled breadcrumb">
  <li class="home"><a routerLink=""><i class="icon-home"></i> Home</a></li>
  <li *ngFor="let breadcrumb of breadcrumbs">
    <a [routerLink]="[breadcrumb.url]">{{ breadcrumb.label }}</a>
  </li>
</ul>
<!--End Breadcrumbs-->