/* !! */
.form-control.col-sm-1 {
  width: 8.33333333% !important;
  border-radius: 3px 0 0 3px !important;
  border-right: 0 none;
}
.form-control.col-sm-11 {
  width: 91.66666667% !important;
  border-radius: 0 3px 3px 0 !important;
  border-left: 0 none;
}
