<form
  (ngSubmit)="generalInfo(generalInfoPersonForm, 'generalInfoperson')"
  class="generalInfoperson"
  #generalInfoPersonForm="ngForm"
  [style.display]="isPerson === true ? '' : 'none'"
>
  <div class="formWrapper">
    <div class="alert alert-danger" *ngIf="serverMessage">
      {{ serverMessage }}
    </div>
    <div class="row">
      <div class="col-sm-4 form-group" *ngIf="isPerson">
        <label class="required">Title</label>
        <angular2-multiselect
          tabindex="0"
          class="form-control custom-selectbox"
          required
          name="title"
          #title="ngModel"
          [data]="personTitles"
          [(ngModel)]="selectedTitle"
          [settings]="titleSetting"
          (onSelect)="onTitleSelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="
            title.valid ||
            (title.pristine && !generalInfoPersonForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          Title is required
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group" *ngIf="isPerson">
        <label class="required">First Name</label>
        <input
          type="text"
          name="firstName"
          maxlength="30"
          required
          #firstName="ngModel"
          [(ngModel)]="form.firstName"
          noWhitespaceAllowed
          placeholder="Enter First Name"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (firstName.errors || firstName?.errors?.whitespace) &&
            generalInfoPersonForm.submitted
          "
        >
          First Name is required
        </div>
      </div>
      <div class="col-sm-6 form-group" *ngIf="isPerson">
        <label class="required">Last Name</label>
        <input
          type="text"
          name="lastName"
          maxlength="30"
          required
          #lastName="ngModel"
          [(ngModel)]="form.lastName"
          noWhitespaceAllowed
          placeholder="Enter Last Name"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (lastName.errors || lastName?.errors?.whitespace) &&
            generalInfoPersonForm.submitted
          "
        >
          Last Name is required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 form-group" *ngIf="isPerson">
        <label>Passport Number</label>
        <input
          type="text"
          name="passportNo"
          maxlength="20"
          #passportNo="ngModel"
          [(ngModel)]="form.passportNumber"
          placeholder="Enter Passport No"
          class="form-control"
        />
      </div>
      <div class="col-sm-6 form-group">
        <label>Issue Date</label>
        <div class="input-group input-grp-right datepicker">
          <my-date-picker
            class="moveHere"
            name="issueDate"
            (input)="typeIssueDateValidation = true"
            [placeholder]="placeHolderIssueDate"
            #issueDate="ngModel"
            [options]="myDatePickerOptions"
            [(ngModel)]="model1"
            (dateChanged)="onIssueDateChanged($event)"
          ></my-date-picker>
          <div
            *ngIf="typeIssueDateValidation === true && !issueDate.valid"
            class="alert alert-danger"
          >
            Issue Date format should be '{{ datePickerSyntax }}'
          </div>
          <div
            *ngIf="
              issueDateGreaterThenCurrentDateValidation === true &&
              generalInfoPersonForm.submitted
            "
            class="alert alert-danger"
          >
            Issue Date must be equal or lesser than current date
          </div>
          <input
            type="date"
            style="display: none"
            class="form-control custom-control"
            name="issueDateHide"
            [(ngModel)]="form.issueDate"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Expiry Date</label>
        <div class="input-group input-grp-right datepicker">
          <my-date-picker
            name="model2"
            (input)="typeExpiryDateValidation = true"
            [options]="myDatePickerOptions"
            [placeholder]="placeHolderExpiryDate"
            [(ngModel)]="model2"
            name="ExpiryDate"
            #ExpiryDate="ngModel"
            (dateChanged)="onExpiryDateChanged($event)"
          ></my-date-picker>
          <div
            *ngIf="typeExpiryDateValidation === true && !issueDate.valid"
            class="alert alert-danger"
          >
            Issue Date format should be '{{ datePickerSyntax }}'
          </div>
          <input
            type="date"
            style="display: none"
            class="form-control custom-control"
            name="ExpiryDateHide"
            [(ngModel)]="form.expiryDate"
          />
          <input
            type="date"
            style="display: none"
            class="form-control custom-control diff"
            required
            name="dateDiff"
            #dateDiff="ngModel"
            [(ngModel)]="dateDifference"
          />
          <div
            *ngIf="dateDifference < 0 && generalInfoPersonForm.submitted"
            class="alert alert-danger"
          >
            Expiry date must be greater then issue date
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label>Language Preference</label>
        <angular2-multiselect
          tabindex="0"
          class="form-control custom-selectbox"
          name="language"
          #language="ngModel"
          [data]="languages"
          [(ngModel)]="selectedLanguage"
          [settings]="languageSetting"
          (onSelect)="onLanguageSelect($event)"
        >
        </angular2-multiselect>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Primary Email</label>
        <input
          type="text"
          name="primaryEmail"
          maxlength="60"
          required
          #primaryEmail="ngModel"
          [(ngModel)]="form.emailAddress"
          pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
          placeholder="Enter Primary Email"
          class="form-control"
        />
        <div
          *ngIf="
            primaryEmail.errors &&
            !primaryEmail.errors.pattern &&
            !serverMessage
          "
          [hidden]="
            primaryEmail.valid ||
            (primaryEmail.pristine && !generalInfoPersonForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          Primary Email is required
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            primaryEmail.errors &&
            primaryEmail.errors.pattern &&
            generalInfoPersonForm.submitted
          "
        >
          Primary Email is invalid
        </div>
        <p class="fieldMsg">
          Enter your email address <span>e.g. abc@xyz.com</span>
        </p>
      </div>

      <div class="col-sm-6 form-group">
        <label>Secondary Email</label>
        <input
          type="text"
          name="secondaryEmail"
          maxlength="60"
          #secondaryEmail="ngModel"
          [(ngModel)]="form.secondaryEmail"
          pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
          placeholder="Enter Secondary Email"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            secondaryEmail.errors &&
            secondaryEmail.errors.pattern &&
            generalInfoPersonForm.submitted
          "
        >
          Secondary Email is invalid
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Telephone</label>
        <app-ngx-phone
          [(clearValidation)]="generalFormTelephoneValidation"
          [(selectedValue)]="form.telephoneInput"
          [(countryCode)]="form.telephoneCountryCode"
          [placeholder]="'Enter Telephone'"
        ></app-ngx-phone>
        <div
          [hidden]="generalFormTelephoneValidation === false || serverMessage"
          class="alert alert-danger"
        >
          Telephone is required
        </div>
        <div
          *ngIf="
            form.telephoneInput &&
            form.telephoneInput.toString().length > fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>
        <!-- <p class="fieldMsg">Enter your phone number <span>e.g. +971-553827741</span></p> -->
      </div>

      <div class="col-sm-6 form-group">
        <label>Fax</label>
        <app-ngx-phone
          [(selectedValue)]="form.faxInput"
          [(countryCode)]="form.faxCountryCode"
          [placeholder]="'Fax'"
        ></app-ngx-phone>
        <div
          *ngIf="
            form.faxInput && form.faxInput.toString().length > fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>
        <!-- <p class="fieldMsg">Enter your Fax number <span>e.g. +971-553827741</span></p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Internet address</label>
        <input
          #internetAddress="ngModel"
          maxlength="30"
          type="text"
          class="form-control"
          [(ngModel)]="form.internetAddress"
          pattern="((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$"
          name="internetAddress"
          placeholder="Enter Internet address"
        />
        <p class="fieldMsg">
          Enter your Internet Address <span>e.g. xyz.com</span>
        </p>
        <div
          [hidden]="
            !internetAddress.hasError('pattern') ||
            (internetAddress.pristine && !generalInfoPersonForm.submitted)
          "
          class="alert alert-danger"
        >
          Provide correct Internet address
        </div>
      </div>

      <!-- <div [hidden] = "true" class="col-sm-6 form-group">
              <label>Years Company Operates in UAE</label>
              <input type="text" maxlength="2" placeholder="Enter Years Company Operates in UAE" name="yearsCompanyOperatesInUAE" class="form-control" (keydown)="onTextToNumberChanged($event)" [(ngModel)]="form.yearsCompanyOperatesInUAE"  />
              <div *ngIf="numberValidation" class="alert alert-danger">Years Company Operates in UAE must be numeric greater than zero</div>
          </div> -->
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">VAT</label>
        <angular2-multiselect
          tabindex="0"
          required
          name="vat"
          #vat="ngModel"
          [data]="vats"
          [(ngModel)]="selectedVat"
          [settings]="vatSetting"
          (onSelect)="onVatSelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="
            vat.valid ||
            (vat.pristine && !generalInfoPersonForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          VAT is required
        </div>
      </div>

      <div
        class="col-sm-6 form-group"
        maxlength="30"
        [style.display]="
          form.vatRegistered.toLowerCase().indexOf('yes') !== -1 ? '' : 'none'
        "
      >
        <label class="required">VAT Number</label>
        <div>
          <input
            type="text"
            disabled
            class="form-control col-sm-1 col-xs-2"
            value="TR"
          />
          <input
            type="text"
            class="form-control col-sm-11 col-xs-10"
            maxlength="13"
            [(ngModel)]="form.vatNumber"
            (keydown)="onTextToNumberChanged($event)"
            name="vatNumberN"
            #vatNumberN="ngModel"
            placeholder="Enter VAT Number"
          />
        </div>
        <div [hidden]="!vatNumberValidation" class="alert alert-danger">
          VAT Number is required
        </div>
      </div>

      <div
        class="col-sm-6 form-group"
        [style.display]="
          form.vatRegistered.toLowerCase().indexOf('no') !== -1 ? '' : 'none'
        "
      >
        <label>Reason</label>
        <input
          type="text"
          class="form-control"
          (input)="vatReasonValidation = false"
          maxlength="60"
          [(ngModel)]="form.vatReason"
          name="vatReasonN"
          #vatReasonN="ngModel"
          placeholder="Enter VAT Reason"
        />
        <!-- ! VAT Reason -->
        <!-- <div [hidden]="vatReasonValidation === false || serverMessage" class="alert alert-danger">VAT Reason is required</div> -->
      </div>
    </div>
    <!-- <div class="row" [style.display]="form.vatRegistered.toLowerCase().indexOf('no') !== -1 ? '' :'none'">
          <div class="col-sm-6">
            <label class="required">VAT Type</label>
            <div class="styledRadio radio" *ngFor="let op of vatTypes; let indx = index">
                <input tabindex=0 class="form-control custom-control" *ngIf="op.name && op.value"
                class='with-gap'
                name='statusGroup'
                [checked]="op.value === form.vatNotRegisteredType"
                type='radio'
                [id]='op.value'
                [value]='op.value'
                (change)="vatTypeValidation = false"
                [(ngModel)]='form.vatNotRegisteredType'/><label [for]="op.value"><span></span>{{op.name}}</label>
            </div>
            <div [hidden]="vatTypeValidation === false || serverMessage" class="alert alert-danger">VAT Type is required</div>
          </div>
      </div> -->
    <div class="row">
      <div class="col-sm-6">
        <p class="passcodeMsg required">
          <label class="required">Disclaimer: </label>
        </p>
        <div class="styledCheckbox checkbox">
          <input
            id="disclaimer"
            tabindex="0"
            required
            [(ngModel)]="form.vatDisclaimerFlag"
            name="vatDisclamer"
            #vatDisclamer="ngModel"
            name="vatDisclamer"
            type="checkbox"
            (change)="onChangeTermAndCondition(vatDisclamer.checked)"
          />
          <label for="disclaimer"
            ><span tabindex="0"></span>
            <i [innerHtml]="vatDisclamerText"></i>.</label
          >
          <div
            [hidden]="
              vatDisclamer.valid ||
              (vatDisclamer.pristine && !generalInfoPersonForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            VAT Disclaimer is Required
          </div>
        </div>
      </div>
    </div>

    <br />
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 btns-left">
      <button type="button" class="btn btn-info" (click)="gotoPrevious()">
        Previous
      </button>
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
      <button
        type="button"
        class="btn btn-info"
        (click)="redirectToLoginScreen()"
      >
        Cancel
      </button>

      <button type="submit" class="btn btn-default">Next</button>
    </div>
  </div>
</form>

<!-- !! Organization -->
<form
  (ngSubmit)="generalInfo(generalInfoForm, 'generalInfoCompany')"
  class="generalInfoCompany"
  #generalInfoForm="ngForm"
  [style.display]="isPerson === false ? '' : 'none'"
>
  <div class="formWrapper">
    <span class="alert alert-danger" *ngIf="serverMessage"
      >{{ serverMessage }}
    </span>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Company Name</label>
        <input
          type="text"
          name="companyName"
          maxlength="30"
          required
          #companyName="ngModel"
          [(ngModel)]="form.companyName"
          noWhitespaceAllowed
          placeholder="Enter Company Name"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            (companyName.errors || companyName?.errors?.whitespace) &&
            generalInfoForm.submitted
          "
        >
          Company Name is required
        </div>
      </div>
      <!-- <div [hidden] = "true" class="col-sm-6 form-group">
          <label>Company Name (Arabic)</label>
          <input type="text" name="companyNameAr" maxlength="30" #companyNameAr="ngModel" [(ngModel)]="form.arabicCompanyName" placeholder="أدخل اسم الشركة العربية" class="form-control" style="text-align:right; direction:rtl">
      </div> -->
    </div>

    <div class="row">
      <!-- !! -->
      <!-- <div [hidden] = "true" class="col-sm-6 form-group" *ngIf="orgTypeData.location == 'Within UAE'">
          <label>Registration Type</label>
          <angular2-multiselect class="form-control custom-selectbox" tabindex=0 name="registrationType" #registrationType="ngModel"  [data]="registrationTypes" [(ngModel)]="selectedRegistrationType"
          [settings]="regTypesSetting"
          (onSelect)="onRegistrationTypeSelect($event)">
          </angular2-multiselect>
      </div> -->
      <div class="col-sm-6 form-group">
        <label>Trade License/Registration Certificate No</label>
        <input
          type="text"
          name="tradeLicense"
          maxlength="16"
          #tradeLicense="ngModel"
          [(ngModel)]="form.tradeLicenseNumber"
          placeholder="Enter License/Reg. Certificate No."
          class="form-control"
        />
        <!-- <div class="alert alert-danger" *ngIf="(tradeLicense.errors || tradeLicense?.errors?.whitespace) && generalInfoForm.submitted">Trade License/Registration Certificate No is required</div> -->
      </div>
      <!-- !! -->
      <!-- <div class="col-sm-6 form-group" *ngIf="orgTypeData.location == 'Within UAE'">
        <label class="required">Trade License Issuing Emirate</label>
        <angular2-multiselect class="form-control custom-selectbox" tabindex=0 required name="issuingEmirate" #issuingEmirate="ngModel"  [data]="issuingEmirates" [(ngModel)]="selectedIssuingEmirate"
        [settings]="issuingEmiratesSetting"
        (onSelect)="onIssuingEmirateSelect($event)">
        </angular2-multiselect>
        <div [hidden]="(issuingEmirate.valid || (issuingEmirate.pristine && !generalInfoForm.submitted)) || serverMessage" class="alert alert-danger">Trade License Issuing Emirate</div>
      </div> -->
      <div class="col-sm-6 form-group">
        <label>Issue Date</label>
        <div class="input-group input-grp-right datepicker">
          <my-date-picker
            class="moveHere"
            name="issueDate"
            [placeholder]="placeHolderIssueDate"
            #issueDate="ngModel"
            [options]="myDatePickerOptions"
            [(ngModel)]="model1"
            (input)="typeIssueDateValidation = true"
            (dateChanged)="onIssueDateChanged($event)"
          ></my-date-picker>
          <div
            [hidden]="
              issueDate.valid ||
              typeIssueDateValidation === true ||
              (issueDate.pristine && !generalInfoForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            Issue date is required
          </div>
          <!-- <div *ngIf="typeIssueDateValidation === true && !issueDate.valid" class="alert alert-danger">Issue Date format should be '{{datePickerSyntax}}'</div> -->
          <div
            *ngIf="
              issueDateGreaterThenCurrentDateValidation === true &&
              generalInfoForm.submitted
            "
            class="alert alert-danger"
          >
            Issue Date must be equal or lesser than current date
          </div>
          <input
            type="date"
            style="display: none"
            class="form-control custom-control"
            name="issueDateHide"
            [(ngModel)]="form.issueDate"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Expiry Date</label>
        <div class="input-group input-grp-right datepicker">
          <my-date-picker
            class="moveHere"
            name="ExpiryDate"
            (input)="typeExpiryDateValidation = true"
            [options]="myDatePickerOptions"
            [placeholder]="placeHolderExpiryDate"
            [(ngModel)]="model2"
            #ExpiryDate="ngModel"
            (dateChanged)="onExpiryDateChanged($event)"
          ></my-date-picker>
          <input
            type="date"
            style="display: none"
            class="form-control custom-control"
            name="ExpiryDateHide"
            [(ngModel)]="form.expiryDate"
          />
          <input
            type="date"
            style="display: none"
            class="form-control custom-control diff"
            required
            name="dateDiff"
            #dateDiff="ngModel"
            [(ngModel)]="dateDifference"
          />
          <div
            *ngIf="dateDifference < 0 && generalInfoForm.submitted"
            class="alert alert-danger"
          >
            Expiry date must be greater then issue date
          </div>
          <div
            *ngIf="typeExpiryDateValidation === true && !ExpiryDate.valid"
            class="alert alert-danger"
          >
            Expiry Date format should be '{{ datePickerSyntax }}'
          </div>
        </div>
      </div>

      <div class="col-sm-6 form-group">
        <label>Language Preference</label>
        <angular2-multiselect
          class="form-control custom-selectbox"
          tabindex="0"
          name="language"
          #language="ngModel"
          [data]="languages"
          [(ngModel)]="selectedLanguage"
          [settings]="languageSetting"
          (onSelect)="onLanguageSelect($event)"
        >
        </angular2-multiselect>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Primary Email</label>
        <input
          type="text"
          name="primaryEmail"
          maxlength="60"
          required
          #primaryEmail="ngModel"
          [(ngModel)]="form.emailAddress"
          pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
          placeholder="Enter Email"
          class="form-control"
        />
        <div
          *ngIf="
            primaryEmail.errors &&
            !primaryEmail.errors.pattern &&
            !serverMessage
          "
          [hidden]="
            primaryEmail.valid ||
            (primaryEmail.pristine && !generalInfoForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          Primary Email is required
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            primaryEmail.errors &&
            primaryEmail.errors.pattern &&
            generalInfoForm.submitted
          "
        >
          Primary Email is invalid
        </div>
        <p class="fieldMsg">
          Enter your email address <span>e.g. abc@xyz.com</span>
        </p>
      </div>
      <div class="col-sm-6 form-group">
        <label>Secondary Email</label>
        <input
          type="text"
          name="secondaryEmail"
          maxlength="60"
          #secondaryEmail="ngModel"
          [(ngModel)]="form.secondaryEmail"
          pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"
          placeholder="Enter Secondary Email"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            secondaryEmail.errors &&
            secondaryEmail.errors.pattern &&
            generalInfoForm.submitted
          "
        >
          Secondary Email is invalid
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">Telephone</label>
        <app-ngx-phone
          [(clearValidation)]="generalFormTelephoneValidation"
          [(selectedValue)]="form.telephoneInput"
          [(countryCode)]="form.telephoneCountryCode"
          [placeholder]="'Enter Telephone'"
        ></app-ngx-phone>
        <div
          [hidden]="generalFormTelephoneValidation === false || serverMessage"
          class="alert alert-danger"
        >
          Telephone is required
        </div>
        <div
          *ngIf="
            form.telephoneInput &&
            form.telephoneInput.toString().length > fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label>Fax</label>
        <app-ngx-phone
          [(selectedValue)]="form.faxInput"
          [(countryCode)]="form.faxCountryCode"
          [placeholder]="'Enter Fax'"
        ></app-ngx-phone>
        <div
          *ngIf="
            form.faxInput && form.faxInput.toString().length > fieldConfig.value
          "
          class="alert alert-danger"
        >
          Must be proper number
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Internet address</label>
        <input
          #internetAddress="ngModel"
          maxlength="30"
          type="text"
          class="form-control"
          [(ngModel)]="form.internetAddress"
          pattern="((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$"
          name="internetAddress"
          placeholder="Enter Internet address"
        />
        <p class="fieldMsg">
          Enter your Internet Address <span>e.g. xyz.com</span>
        </p>

        <div
          [hidden]="
            !internetAddress.hasError('pattern') ||
            (internetAddress.pristine && !generalInfoForm.submitted)
          "
          class="alert alert-danger"
        >
          Provide correct Internet address
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="required">VAT</label>
        <angular2-multiselect
          required
          tabindex="0"
          name="vat"
          #vat="ngModel"
          [data]="vats"
          [(ngModel)]="selectedVat"
          [settings]="vatSetting"
          (onSelect)="onVatSelect($event)"
        >
        </angular2-multiselect>
        <div
          [hidden]="
            vat.valid ||
            (vat.pristine && !generalInfoForm.submitted) ||
            serverMessage
          "
          class="alert alert-danger"
        >
          VAT is required
        </div>
      </div>
      <div
        class="col-sm-6 form-group"
        [style.display]="
          form.vatRegistered.toLowerCase().indexOf('yes') !== -1 ? '' : 'none'
        "
      >
        <label class="required">VAT Number</label>
        <div>
          <input
            type="text"
            disabled
            class="form-control col-sm-1 col-xs-2"
            value="TR"
          />
          <input
            type="text"
            class="form-control col-sm-11 col-xs-10"
            maxlength="13"
            [(ngModel)]="form.vatNumber"
            (keydown)="onTextToNumberChanged($event)"
            name="vatNumberN"
            #vatNumberN="ngModel"
            placeholder="Enter VAT Number"
          />
        </div>
        <div [hidden]="!vatNumberValidation" class="alert alert-danger">
          VAT Number is required
        </div>
      </div>

      <div
        class="col-sm-6 form-group"
        [style.display]="
          form.vatRegistered.toLowerCase().indexOf('no') !== -1 ? '' : 'none'
        "
      >
        <label>Reason</label>
        <input
          type="text"
          class="form-control"
          (input)="vatReasonValidation = false"
          maxlength="60"
          [(ngModel)]="form.vatReason"
          name="vatReasonN"
          #vatReasonN="ngModel"
          placeholder="Enter VAT Reason"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p class="passcodeMsg">
          <label class="required">Disclaimer: </label>
        </p>
        <div class="styledCheckbox checkbox">
          <input
            id="disclaimer"
            required
            [(ngModel)]="form.vatDisclaimerFlag"
            name="vatDisclamer"
            #vatDisclamer="ngModel"
            name="vatDisclamer"
            type="checkbox"
            (change)="onChangeTermAndCondition(vatDisclamer.checked)"
          />
          <label for="disclaimer"
            ><span tabindex="0"></span><i [innerHtml]="vatDisclamerText"></i
          ></label>
          <div
            [hidden]="
              vatDisclamer.valid ||
              (vatDisclamer.pristine && !generalInfoForm.submitted) ||
              serverMessage
            "
            class="alert alert-danger"
          >
            VAT Disclaimer is Required
          </div>
        </div>
      </div>
    </div>

    <br />
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 btns-left">
      <button type="button" class="btn btn-info" (click)="gotoPrevious()">
        Previous
      </button>
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
      <button
        type="button"
        class="btn btn-info"
        (click)="redirectToLoginScreen()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-default">Next</button>
    </div>
  </div>
</form>
