<!--Start Data Filter-->
<!--Start Data Content-->
<div class="data-content">
 <!--Start Data Table-->
<div class="table-list search-list remove-zebra-strips">
    <table id="list-table" class="display" cellspacing="0" width="100%">
    </table>
    <div class="goto-label" *ngIf="customPage.length > 1" >
        <label>Go to</label>
        <select class="form-control" [(ngModel)]="pageValue" (change)="reloadByPage()">
            <option *ngFor="let item of customPage" [ngValue]="item">{{item}}</option >
        </select>
    </div>
</div>
<!--End Data Table-->
</div>
<!--End Data Content-->