<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vendor Portal</title>
  </head>

  <body>
    <div class="login-page register-page supplierguide-page">
      <div class="login-container register-container supplierguide-container">
        <div class="reg-top">
          <h2>Supplier Technical Support and Guidance</h2>
        </div>
        <div class="regBoxWrap">
          <div class="supplierguide-cust">
            <div class="guide-text-holder">
              <h2>Supplier Technical Support and Guidance</h2>
              <p>
                If you have not used the system before, we recommend that you
                take the time to read the useful Supplier Guides that help you
                with using particular areas of the DGW e-Procurement Portal.
              </p>
              <p>
                You may also access the informatio on this Supplier Technical
                Support and Guidance pasge after you have registered or logged
                on.
              </p>
            </div>
            <div class="guide-text-holder">
              <h2>Supplier Quick Guides</h2>
              <p>
                Five Supplier Quick Guides are available to provide an overview
                of the common supplier areas of the portal. Please Click on the
                links below to open the guides can also be saved to your
                computer locally for future use.
              </p>
            </div>
            <ul class="list-unstyled guide-listing">
              <li class="rg-guide">
                <i><img src="{{ icon1 }}" alt="" class="img-responsive"/></i>
                <strong>Registration Guide</strong>
                <span class="links-holder">
                  <a
                    class="guide-link link-pdf"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    href="{{ regPath }}"
                    target="blank"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    title=""
                    data-original-title="View PDF"
                    >View PDF</a
                  >
                  <a
                    class="guide-link link-vdo"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    title=""
                    data-original-title="Watch Video"
                    >Watch Video</a
                  >
                </span>
              </li>
              <li class="bs-guide">
                <i><img src="{{ icon3 }}" alt="" class="img-responsive"/></i>
                <strong>Bidding Submission Guide</strong>
                <span class="links-holder">
                  <a
                    class="guide-link link-pdf"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    role="button"
                    href="{{ biddingPath }}"
                    target="blank"
                    aria-haspopup="true"
                    aria-expanded="false"
                    title=""
                    data-original-title="View PDF"
                    >View PDF</a
                  >
                  <a
                    class="guide-link link-vdo"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    title=""
                    data-original-title="Watch Video"
                    >Watch Video</a
                  >
                </span>
              </li>
              <li class="cpo-guide">
                <i><img src="{{ icon5 }}" alt="" class="img-responsive"/></i>
                <strong>Contacts Guide</strong>
                <span class="links-holder">
                  <a
                    class="guide-link link-pdf"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    role="button"
                    href="{{ contactPath }}"
                    target="blank"
                    aria-haspopup="true"
                    aria-expanded="false"
                    title=""
                    data-original-title="View PDF"
                    >View PDF</a
                  >
                  <a
                    class="guide-link link-vdo"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    title=""
                    data-original-title="Watch Video"
                    >Watch Video</a
                  >
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="login-footer"></div>
    </div>
  </body>
  <script>
    $("#doc-table01 , #doc-table02 , #doc-table03")
      .addClass("nowrap")
      .dataTable({
        responsive: true,
        searching: false,
        paging: false,
        info: false
      });
    $(function() {
      $(".datepicker").datetimepicker({
        format: "DD/MM/YYYY"
      });
    });
    $(".scrollCont").mCustomScrollbar({
      theme: "light-3",
      axis: "y"
    });
    $("#regNav").tabCollapse({
      tabsClass: "hidden-sm hidden-xs",
      accordionClass: "visible-sm visible-xs"
    });
    //$('#docNav').tabCollapse();
    $(window).load(function() {
      $("#regNav-accordion .panel:nth-child(1)").addClass("completed");
    });
  </script>
</html>
