<!--Start Dashboard Banner-->
<div class="dashboard-banner"></div>
<!--End Dashboard Banner-->

<!--Start Dashboard Container-->
<div class="dashboard-panel">
    <div class="dashboard-chart-holder">
        <div class="row">
            <app-rfq-graph [rfq]="data.rfQs"></app-rfq-graph>
            <app-document-graph [documents]="data.documents"></app-document-graph>
        </div>
    </div>
    <div class="dashboard-activity-box" >
          <div class="row">
              <app-activity-seed (applyScrollBar)="applyScrollBar()"></app-activity-seed>
              <div class="col-md-4 guide-box">
                  <app-supplier-help-guides></app-supplier-help-guides>
                  <app-need-assistance></app-need-assistance>
              </div>
          </div>
    </div>
</div>
<!--End Dashboard Container-->





