<!--Start Data Title-->
<div class="data-title">
  <h2>
    Vendor Profile :
    <span class="data-value">{{
      profile.organizationDetail.vendorAccount
    }}</span>
  </h2>
  <!-- ! -->
  <!-- <div class="data-actions data-btn-holder"> <a class="custom-btn edit-button active" (click)="redirectToEdit()"><i class="icon-edit"></i> <span class="name">Edit</span></a> </div> -->
</div>
<!--End Data Title-->
<!--Start List Details-->
<div class="form-list-detail readonlyFields">
  <div class="form-list-holder">
    <div class="detail-list-holder">
      <div class="main-title">
        <h2>General</h2>
      </div>
      <div class="detail-form">
        <div class="sub-title">
          <h3>Organizational Details</h3>
        </div>
        <div class="detail-form-holder">
          <div class="row">
            <div class="col-md-4 form-group">
              <label class="control-label">Vendor Account</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.vendorAccount || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">{{
                profile.organizationDetail.tradeLicenseNo === ""
                  ? "Name"
                  : "Company Name"
              }}</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.name || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">{{
                profile.organizationDetail.tradeLicenseNo === ""
                  ? "Passport No"
                  : "Trade License No"
              }}</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="
                  profile.organizationDetail.tradeLicenseNo ||
                  profile.organizationDetail.passportNumber
                "
                placeholder=""
                disabled
              />
            </div>
            <!-- <input type="text" class="form-control custom-control" *ngIf="profile.organizationDetail.passportNumber !== ''" [value]="profile.organizationDetail.passportNumber || empty" placeholder="" disabled> </div> -->
            <div
              class="col-md-4 form-group"
              [style.display]="
                profile.organizationDetail.tradeLicenseNo === '' ? 'none' : ''
              "
            >
              <label class="control-label"
                >Trade License Issuing Emirates</label
              >
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.tlIssuingEmirate || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Effective Date</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="
                  getFormattedDate(profile.organizationDetail.effectiveDate) ||
                  empty
                "
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Expiration Date</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="
                  getFormattedDate(profile.organizationDetail.expirationDate) ||
                  empty
                "
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Currency</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.currencyName || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Country</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.countryRegionName || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">City</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.city || empty"
                placeholder=""
                disabled
              />
            </div>
            <!-- <div class="col-md-4 form-group">
                        <label class="control-label">Makani No</label>
                        <input type="text" class="form-control custom-control" [value]="profile.organizationDetail.makaniNo || empty" placeholder="" disabled> </div> -->
            <div class="col-md-4 form-group">
              <label class="control-label">E-mail</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.email || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Telephone</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.telephone || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Fax</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.fax || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Internet Address</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.website || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Address</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.address || empty"
                placeholder=""
                disabled
              />
              <!-- <p class="form-control custom-control" style="border:0px">{{profile.organizationDetail.address}}</p> -->
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Registration Type</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.registrationType || empty"
                placeholder=""
                disabled
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">Language Preference</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.languagePreference || empty"
                placeholder=""
                disabled
              />
            </div>

            <!-- ! -->
            <div
              class="col-md-4 form-group"
              *ngIf="profile.organizationDetail.vatRegistered === 'No'"
            >
              <label class="control-label">Reason</label>
              <!-- <p>{{ profile.organizationDetail.vatReason || empty }}</p> -->
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.vatReason || empty"
                value="text"
                disabled
              />
            </div>
            <!-- <div
              class="col-md-4 form-group"
              *ngIf="profile.organizationDetail.vatRegistered === 'No'"
            >
              <label class="control-label vatType" id="vatType">VAT Type</label>
              <div
                class="styledRadio radio"
                *ngFor="let op of vatTypes; let indx = index"
              >
                <input
                  tabindex="0"
                  disabled
                  class="form-control custom-control"
                  *ngIf="op.name && op.value"
                  class="with-gap"
                  name="statusGroup"
                  [checked]="
                    op.name === profile.organizationDetail.vatNotRegisteredType
                  "
                  type="radio"
                  [id]="op.value"
                  [value]="op.name"
                  [(ngModel)]="profile.organizationDetail.vatNotRegisteredType"
                /><label [for]="op.value"><span></span>{{ op.name }}</label>
              </div>
            </div> -->
            <div
              class="col-md-4 form-group"
              *ngIf="profile.organizationDetail.vatRegistered === 'Yes'"
            >
              <label class="control-label">VAT Number</label>
              <input
                type="text"
                class="form-control custom-control"
                [value]="profile.organizationDetail.vatNumber || empty"
                value="text"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-list-holder">
      <div class="main-title">
        <h2>Address</h2>
        <div class="edit-options">
          <a
            class="add"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="true"
            >Add</a
          >
          <div class="dropdown-menu popup-detail add-address">
            <a class="close-popup">Close</a>
            <div class="form-seprator">
              <div class="form-group">
                <label class="control-label required"
                  >Name or Description</label
                >
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Add description"
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Purpose</label>
                <select class="form-control custom-select custom-control">
                  <option selected>Business</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label required">Email</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Email"
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Phone</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Phone"
                />
              </div>
            </div>
            <div class="form-seprator">
              <h3 class="sub-heading">Address</h3>
              <div class="form-group">
                <label class="control-label required">Country/Region</label>
                <select class="form-control custom-select custom-control">
                  <option selected>Select</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label required">Zip/Postal code</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Select"
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Street</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Add Street"
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Street No.</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Add Street No."
                />
              </div>
              <div class="form-group">
                <label class="control-label required">Building</label>
                <input
                  type="text"
                  class="form-control custom-control"
                  placeholder="Add Building"
                />
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <label class="control-label required">Postal Code</label>
                  <input
                    type="text"
                    class="form-control custom-control"
                    placeholder=""
                  />
                </div>
                <div class="col-md-6 form-group">
                  <label class="control-label required">City</label>
                  <select class="form-control custom-select custom-control">
                    <option selected>Select</option>
                  </select>
                </div>
              </div>
              <div class="form-group primary-checkbox">
                <label class="control-label"
                  >Primary <input type="checkbox" />
                </label>
              </div>
            </div>
            <div class="btns-holder">
              <input type="button" value="Cancel" class="btn btn-info" />
              <input
                type="button"
                value="Save and Close"
                class="btn btn-default"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="detail-form">
        <div class="detail-form-holder">
          <div class="table-list">
            <table
              id="data-table-Adress"
              class="display"
              cellspacing="0"
              width="100%"
            ></table>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-list-holder">
      <div class="main-title">
        <h2>Contact Information</h2>
        <div class="edit-options"><a class="add">Add</a></div>
      </div>
      <div class="detail-form">
        <div class="detail-form-holder">
          <div class="table-list">
            <table
              id="data-table-ContactInfo"
              class="display"
              cellspacing="0"
              width="100%"
            ></table>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-list-holder">
      <div class="main-title">
        <h2>Attachments</h2>
        <div class="edit-options">
          <a
            class="btn btn-default"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="true"
            >Add Attachment</a
          >
          <div class="dropdown-menu popup-detail add-attachment">
            <a class="close-popup">Close</a>
            <div class="form-group">
              <select class="form-control custom-select custom-control">
                <option selected>Select Type</option>
              </select>
            </div>
            <div class="dropzone-file">
              <strong>Drag and Drop files here</strong
              ><span class="orText">or</span>
              <div class="upload-files">
                <a class="btn btn-sm btn-custom">Select Files</a>
                <input multiple="" type="file" class="form-control" />
              </div>
              <small>File Types: xls,docx, jpeg, png, gif, pdf</small>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-form">
        <div class="detail-form-holder">
          <div class="table-list">
            <table
              id="data-table-Attachment"
              class="display"
              cellspacing="0"
              width="100%"
            ></table>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-list-holder">
      <div class="main-title">
        <h2>Category Information</h2>
      </div>
      <div class="detail-form">
        <div class="detail-form-holder">
          <div class="table-list">
            <table
              id="data-table-CategoryInfo"
              class="display"
              cellspacing="0"
              width="100%"
            ></table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End List Details-->
  <!--Start Footer-->
</div>
