<div class="wrapper login-page">
   <div class="main-content">
      <div class="login-container">
          <div class="loginbox-top">
              <div class="loginbox-holder login-info">
                <div class="login-info-text">
                    <h6>Procurement Portal</h6>
                    <h2 class="custom-heading">
                      <strong>Welcome to </strong>
                      {{ appInitial.appName }}
                    </h2>
                    <p class="custom-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    <ul>
                        <li>
                            <span>
                                <i class="custom-icon-supplier"></i> 
                                <a href="#">
                                    Supplier Help Guides 
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="custom-icon-phone"></i> 
                                <a href="tel:+971 4318 9211">   
                                    +971 4318 9211
                                </a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="custom-icon-email"></i> 
                                <a href="mailto:E-SourcingPortal@systemsltd.com">
                                    E-SourcingPortal@systemsltd.com
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
              </div>
              <div class="loginbox-holder login-screen forgot-password">
                  <div class="login-screen-holder">
                      <h2 class="custom-heading">Forgot Password</h2>
                      <p>Don't worry! Just fill in your email and we'll help you reset your password.</p>
                      <div class="alert alert-danger server-message" *ngIf="serverMessage">{{serverMessage}} </div>
                      <form  (ngSubmit)="forgotPwd(forgotPwdForm.valid)" #forgotPwdForm="ngForm">
                          <div class="form-holder">
                              <div class="form-group">
                                  <input class="form-control" maxlength="60" name="userName" type="text" placeholder="Email" [(ngModel)]="form.userName" required #userName="ngModel" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,15})$"/>
                                  <div *ngIf="userName.errors && !userName.errors.pattern && !serverMessage" [hidden]="(userName.valid || (userName.pristine && !forgotPwdForm.submitted)) || serverMessage" class="alert alert-danger">Email is required</div>
                                  <div class="alert alert-danger"  *ngIf="userName.errors && userName.errors.pattern && forgotPwdForm.submitted"> Email is invalid </div>
                              </div>
                              <!-- <div class="form-group captcha-holder" [hidden]="this.enableCaptacha === 0">
                                  <re-captcha class="captcha-name" (resolved)="resolved($event)" #captchaChild name="captcha" siteKey={{captchaKey}} data-toggle="tooltip" data-placement="bottom" tooltip="Verify by Clicking"></re-captcha>
                                  <div *ngIf="(!form.captcha && forgotPwdForm.submitted) && !serverMessage" class="alert alert-danger">Captcha is required</div>
                              </div> -->
                              <!-- !! -->
                              <div class="form-group" [hidden]="this.enableCaptacha === 0">
                                  <div class="custom-captcha">
                                      <input type="text" id="RP-Hash" name="realPersonHash" style="display:none" />
                                      <input type="text" id="realPersonUser" placeholder="Please enter above text" />
                                  </div>
                                  <div *ngIf="(!form.captcha && forgotPwdForm.submitted) && !serverMessage" class="alert alert-danger server-message">Captcha is required</div>
                              </div>

                              <div class="form-group">
                                  <input type="submit" class="btn btn-default btn-block" value="Send Email" data-toggle="tooltip" data-placement="bottom" tooltip="Email will send to user">
                              </div>
                          </div>

                          <div class="row bottom-links">
                                <div class="col-md-6 fp-link">
                                    <a class="btn btn-link" (click)="redirectToLoginScreen()" data-toggle="tooltip" data-placement="bottom" tooltip="Login to Vendor Portal">Sign In</a>
                                </div>
                                <div class="col-md-6 rn-link"><a class="btn btn-link" (click)="redirectToRegisterScreen()" role="button" data-toggle="tooltip" data-placement="bottom" tooltip="Apply to register as a new vendor">Register Now</a></div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="login-footer">
                <p>©2020 Systems Limited. All rights reserved.</p>
          </div>
      </div>
  </div>
</div>
