<div class="supplier-guide">
  <div class="custom-heading">
    <h3>Supplier Help Guides</h3>
  </div>
  <div class="supplier-guide-tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="pdf-tab active">
        <a aria-controls="pdf-guide" role="tab" data-toggle="tab">PDF</a>
      </li>
      <li role="presentation" class="video-tab">
        <a aria-controls="video-guide" role="tab" data-toggle="tab">Video</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="pdf-guide">
        <ul class="list-unstyled mCustomScrollbar tab-list pdf-list">
          <li>
            <a
              data-placement="bottom"
              data-toggle="tooltip"
              target="blank"
              href="{{ regOrganisationPath }}"
              tooltip="View Document"
              >Registration guide for organization</a
            >
          </li>
          <li>
            <a
              data-placement="bottom"
              data-toggle="tooltip"
              target="blank"
              href="{{ regPersonPath }}"
              tooltip="View Document"
              >Registration guide for person</a
            >
          </li>
          <li>
            <a
              data-placement="bottom"
              data-toggle="tooltip"
              target="blank"
              href="{{ biddingPath }}"
              tooltip="View Document"
              >Bidding guide</a
            >
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="video-guide">
        <ul class="list-unstyled mCustomScrollbar tab-list video-list">
          <li>
            <a
              data-placement="bottom"
              data-toggle="tooltip"
              tooltip="Play Video"
              >Registration guide for organization</a
            >
          </li>
          <li>
            <a
              data-placement="bottom"
              data-toggle="tooltip"
              tooltip="Play Video"
              >Registration guide for person</a
            >
          </li>
          <li>
            <a
              data-placement="bottom"
              data-toggle="tooltip"
              tooltip="Play Video"
              >Login process for registered vendors</a
            >
          </li>
          <li>
            <a
              data-placement="bottom"
              data-toggle="tooltip"
              tooltip="Play Video"
              >Bidding guide</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
