<form
  (ngSubmit)="precurementCategory(precurementCategoryForm)"
  #precurementCategoryForm="ngForm"
>
  <div class="formWrapper">
    <h4 class="formHeading required">Procurement Categories</h4>
    <div class="scrollCont form-group">
      <div
        class="styledCheckbox checkbox"
        *ngFor="let op of precurementCategories; let indx = index"
      >
        <input
          id="{{ op.id }}"
          type="checkbox"
          name="op.name"
          [value]="op.value"
          (change)="
            op.isSelected = $event.target.checked;
            categoryValidationFlag = false;
            pushToView($event.target.checked, op)
          "
        />
        <label for="{{ op.id }}"><span tabindex="0"></span>{{ op.name }}</label>
      </div>
    </div>

    <div>
      <ul class="selctionList">
        <li *ngFor="let op of viewArea; let indx = index">
          <span>{{ op.name }}</span
          ><a class="removeLnk" (click)="removeCategory(op)"
            ><span class="glyphicon glyphicon-remove"></span
          ></a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Other Category</label>
        <input
          type="text"
          (input)="categoryValidationFlag = false"
          name="otherCategory"
          maxlength="60"
          #otherCategory="ngModel"
          [(ngModel)]="form.otherCategory"
          class="form-control"
        />
        <div
          [hidden]="categoryValidationFlag === false || serverMessage"
          class="alert alert-danger"
        >
          Select Procurement Category or provide other category
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 btns-left">
        <button
          type="button"
          class="btn btn-info"
          (click)="specialCaseBackPrecurementCategories()"
        >
          Previous
        </button>
      </div>
      <div class="col-sm-6 col-xs-12 text-right">
        <button
          type="button"
          class="btn btn-info"
          (click)="redirectToLoginScreen()"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-default">Next</button>
      </div>
    </div>
  </div>
</form>
