<app-ng-sys-grid
  #notificationList
  [title]="title"
  [url]="serviceUrl"
  [appbase]="appbase"
  [gridType]="gridType"
  [columnsDefination]="columnsDefination"
  [inputColumns]="columns"
  (popUp)="viewDetail($event)"
  (loadTooltip)="loadTooltip()"
>
</app-ng-sys-grid>

<div
  *ngIf="show"
  class="dropdown-menu popup-detail"
  style="display:inline; position: absolute"
  [style.left]="left"
  [style.top]="top"
>
  <a class="close-popup" (click)="closePopUp()">Close</a>
  <div class="form-group">
    <label class="control-label">Subject</label>
    <p>{{ currentPopupItem.topic || empty }}</p>
  </div>
  <div class="form-group">
    <label class="control-label">Attachment</label>
    <span *ngIf="currentPopupItem.attachment.length === 0"
      >No attachment found</span
    >
    <ul
      class="list-unstyled attachmet-list"
      *ngFor="let attachment of currentPopupItem.attachment"
    >
      <li>
        <a (click)="downloadAttachment(attachment)">{{ attachment.name }}</a>
      </li>
    </ul>
  </div>
  <div class="form-group">
    <label class="control-label">Message</label>
    <p>{{ currentPopupItem.message || empty }}</p>
  </div>
</div>
