<div class="notify-container in" *ngIf="loading.hasError">
  <div class="notify-error notify-content">
    <div class="notify-error-message">
      <span class="notify-icon">!</span>
      <p class="notify-icon-text">
        {{loading.hasMsg}}
      </p>
    </div>
  </div>
</div>