<!--Start Data Title-->
<div class="data-title">
  <h2>
    Purchase Order: {{ model.purchaseOrder
    }}<span *ngIf="model.documentTitle != ''">,</span> {{ model.documentTitle }}
  </h2>
</div>
<!--End Data Title-->

<!--Start List Details-->
<div class="form-list-detail">
  <div class="detail-list-holder">
    <div class="main-title">
      <h2>Purchase Order</h2>
    </div>
    <div class="detail-form">
      <div class="detail-form-holder">
        <div class="row">
          <div class="col-md-4 form-group">
            <label class="control-label">Purchase Order</label>
            <input
              type="text"
              class="form-control custom-control"
              placeholder="{{ model.purchaseOrder }}"
              readonly
            />
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Document Title</label>
            <input
              type="text"
              class="form-control custom-control"
              placeholder="{{ model.documentTitle }}"
              readonly
            />
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Created Date &amp; Time</label>
            <input
              type="text"
              class="form-control custom-control"
              placeholder="{{ model.createdDateTime }}"
              readonly
            />
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Currency</label>
            <input
              type="text"
              class="form-control custom-control"
              placeholder="{{ model.currency }}"
              readonly
            />
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Status</label>
            <input
              type="text"
              class="form-control custom-control"
              placeholder="{{ model.status }}"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-list-holder">
    <div class="main-title">
      <h2>Lines</h2>
    </div>
    <div class="detail-form">
      <div class="detail-form-holder">
        <div class="table-list">
          <table
            id="data-table"
            class="display"
            cellspacing="0"
            width="100%"
          ></table>
          <div class="totalAmount">
            <small>Total:</small>
            <strong>{{ model.currency }} {{ model.total }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-list-holder">
    <div class="main-title">
      <h2>Attachment</h2>
    </div>
    <div class="detail-form">
      <div class="detail-form-holder">
        <div *ngFor="let item of model.attachments" class="row repeater-row">
          <div class="col-md-12 form-group">
            <label class="control-label">Name</label>
            <a
              tooltip="View attached file"
              (click)="downloadAttachment(item)"
              class="btn btn-link btn-attached"
              >{{ item.filename }}</a
            >
          </div>
        </div>
        <div *ngIf="model.attachments.length <= 0">
          <label class="control-label">No attachment available </label>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-list-buttons">
    <a
      (click)="getBackLink()"
      data-placement="bottom"
      data-toggle="tooltip"
      tooltip="Close this form"
      value="Close"
      class="btn btn-info"
      >Close</a
    >
  </div>
</div>
<!--End List Details-->
