<div [style.display]="questionareFlag" class="dropdown-menu popup-detail rfa-questionnaire" style='display:inline; position: absolute' [style.left]="left"
  [style.top]="top"> <a class="close-popup" (click)="cancelQuestionare()">Close</a>
    <div class="bid-01">
        <div class="clearfix rfq-header">
            <h2>{{ questionareHeading }}</h2>
            <div class="bid-progress-holder">
                <div class="bid-progress-title">Question <strong>{{(currentIndex + 1)}}</strong> of {{questions.length}}</div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"  [style.width]="questionareProgress + '%'"></div>
                </div>
            </div>
        </div>
       
        <div class="clearfix bid-reason"> <small>You need to specify the list of reasons to decline the bid.</small> 
            <strong [ngClass]="currentQuestion.isMandatory === 'Yes'? 'required-field':''">{{currentQuestion.question}}</strong>
            <div class="option-holder" [ngSwitch]="currentQuestion.questionType">
                 <input *ngSwitchCase="'Text'" maxlength="120" type="text" class="form-control custom-control"  name="option" #option="ngModel" [(ngModel)]="currentQuestion.answer.answer" placeholder="">
                 <input *ngSwitchCase="'Real'" type="number"  min="0" class="form-control custom-control"  name="option" #option="ngModel" [(ngModel)]="currentQuestion.answer.answer" placeholder="">
                 <input *ngSwitchCase="'Integer'" type="number" min="0" class="form-control custom-control"  name="option" #option="ngModel" [(ngModel)]="currentQuestion.answer.answer" placeholder="">
                 <textarea *ngSwitchCase="'Note'" type="text" maxlength="255" class="form-control custom-control"  name="option" #option="ngModel" [(ngModel)]="currentQuestion.answer.answer" placeholder=""></textarea>
                 <div *ngSwitchCase="'Alternative button'" >
                    <div class="styledRadio checkbox" *ngFor="let op of currentQuestion.options; let indx = index">
                        <input class="form-control custom-control" 
                          class='with-gap'
                          name='statusGroup'
                          [checked]="op.text === currentQuestion.answer.answer"
                          type='radio'
                          [id]='op.text'
                          [value]='op.text'
                          [(ngModel)]='currentQuestion.answer.answer'> <label [for]="op.text"><span></span>{{op.text}}</label>  
                    </div>
                 </div>

                 <div *ngSwitchCase="'Check box'" >
                    <div class="primary-checkbox">
                            <div class="styledCheckbox checkbox" *ngFor="let op of currentQuestion.options; let indx = index">
                                <input type="checkbox" 
                                id="{{indx + 1}}"
                                name="currentQuestion.options[indx].text"  
                                [value]="op.text" 
                                (change)="currentQuestion.options[indx].selected = $event.target.checked" />
                                <label for="{{indx + 1}}"><span></span> {{op.text}}</label>
                            </div>
                    </div>
                 </div>

                <div *ngSwitchCase="'Combo box'" class="dropdown rfqDropdown " (clickOutside)="dropdownToggle='none'">
                <button class="btn form-control custom-select" type="button" (click)="dropdownToggle = dropdownToggle === 'none' ? 'block': 'none' ">
                    {{ currentQuestion.answer.answer || 'Please Select' }} 
                </button>
                <ul class="dropdown-menu" style="cursor:pointer"  [style.display]="dropdownToggle">
                    <li><input type="text" class="form-control" maxlength="50" [(ngModel)]="searchTextColumn" placeholder="Search"/></li>
                    <li *ngFor="let item of currentQuestion.options | filter: searchTextColumn"  
                        (click)="currentQuestion.answer.answer = item.text; searchTextColumn = ''; dropdownToggle='none'"><a>{{item.text}}</a></li>
                </ul>
                </div>

                <my-date-picker *ngSwitchCase="'Date'" class="form-control custom-control" name="model2"  [options]="myDatePickerOptions"
                              [(ngModel)]="currentQuestion.answer.answer"></my-date-picker>

                <div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <ngb-timepicker *ngSwitchCase="'Time'" [(ngModel)]="currentQuestion.answer.answer" class="numberControl"></ngb-timepicker>
                        </div>
                    </div>
                </div>
                
            </div>
            <span class="alert-danger">{{questionareError }}</span>
            <p [innerHTML]="questoinareNote" *ngIf="questionareNoteFlag"></p>
        </div>
        <div class="clearfix buttons-holder">
            <div class="btn-left">
                <input type="button" [value]=" questionareNoteFlag === true ? 'Hide Note':'Show Note'" (click)="questionareNoteFlag = !questionareNoteFlag" class="btn btn-custom"> </div>
            <div class="btn-right">
                <input type="button" value="Back" (click)="questionBackward()" class="btn btn-info" [disabled]="currentIndex === 0">
                <input type="button" value="Next" (click)="questionForward()" class="btn btn-info next-step" [disabled]="currentIndex === (questions.length -1)">
                <input type="button" value="End" class="btn btn-info" (click)="submitAnswer()"> </div>
        </div>
    </div>
</div>